<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div class="floatingCW" ng-if="!team.membership_active" ng-hide="api.loading">
  <p class="pM">{{::language.dictionary.no_mem}}</p>
</div>
<section class="board" id="viewBoard" ng-if="team.membership_active" ng-hide="api.loading">
  <div class="floatingCW" ng-if="api.analyticsData.surveys.length == 0 && api.analyticsData.polls.length == 0">
    <p class="pM">{{::language.dictionary.no_analytics}}</p>
  </div>
  <div class="floatingCW" ng-if="api.analyticsData.surveys.length > 0">
    <p class="pM">{{::language.dictionary.surveys}}</p>
  </div>
  <ul class="main_list" ng-show="api.analyticsData.surveys.length > 0">
    <li class="q-item-b" ng-class="{'bstart' : $index % 5 == '0', 'bmiddle' : $index % 5 != '0' && $index % 5 != '4', 'bend' : $index % 5 == '4'}" ng-repeat="survey in api.analyticsData.surveys" ng-click="viewAnalytics(0, $index)">
      <img ng-src="{{survey.view.image_url}}" class="q-img-b">
    </li>
  </ul>
  <div class="floatingCW" ng-if="api.analyticsData.polls.length > 0">
    <p class="pM">{{::language.dictionary.polls}}</p>
  </div>
  <ul class="main_list" ng-show="api.analyticsData.polls.length > 0">
    <li class="q-item-b" ng-class="{'bstart' : $index % 5 == '0', 'bmiddle' : $index % 5 != '0' && $index % 5 != '4', 'bend' : $index % 5 == '4'}" ng-repeat="poll in api.analyticsData.polls" ng-click="viewAnalytics(1, $index)">
      <img ng-src="{{poll.view.image_url}}" class="q-img-b">
    </li>
  </ul>
</section>
<section class="board" id="analyticsBoard" ng-class="display_board == '' ? 'slideOut' : 'slideIn'" ng-switch="display_board_type" ng-hide="api.loading || display_board == ''" ng-if="team.membership_active">
  <i class="material-icons md-24 arrow_back" ng-click="back()">&#xE5C4;</i>
  <i class="material-icons md-24 download" ng-click="toggleDownload()">&#xE2C4;</i>
  <div class="floatingCW">
    <p class="pM">{{display_board_type == "survey" ? language.dictionary.survey : language.dictionary.poll}} {{::language.dictionary.analytics}}</p>
  </div>
  <div class="floatingCW" ng-show="show_downloads" ng-switch-when="survey" ng-repeat="option in language.dictionary.download_as track by $index">
    <button class="download_as" ng-class="download_as == $index ? 'doln' : ''" ng-click="format($index)">{{option}}</button>
  </div>
  <div class="floatingCW" ng-show="show_downloads" ng-switch-when="poll" ng-repeat="option in language.dictionary.download_as_p track by $index">
    <button class="download_as" ng-class="download_as == $index ? 'doln' : ''" ng-click="format($index)">{{option}}</button>
  </div>
  <ul class="download_asfc" ng-show="show_format">
    <a class="download_f" ng-repeat="format in language.dictionary.download_formats" href="/api/analytics/{{display_board_type}}/{{display_board}}/{{download_as}}/{{format}}/download" download="{{display_board}}-{{language.dictionary.download_as[download_as]}}-{{format}}">{{format}}</a>
  </ul>
  <div class="board_ms" id="polls_board" ng-switch-when="poll">
    <canvas height="300" width="300" class="chart" id="{{display_board}}_pie_chart"></canvas>
  </div>
  <div class="board_s">
    <div class="board_tool">
      <p class="tool_header">{{::language.dictionary.first_response}}</p>
      <p class="tool_subH">{{display_board_obj.questionnaire.first_response | date: 'MM-dd-yyyy'}}</p>
    </div>
    <div class="board_tool">
      <p class="tool_header">{{::language.dictionary.total_responses}}</p>
      <p class="tool_subH">{{display_board_obj.questionnaire.total_responses}}</p>
    </div>
    <div class="board_tool">
      <p class="tool_header">{{::language.dictionary.last_response}}</p>
      <p class="tool_subH">{{display_board_obj.questionnaire.last_response | date: 'MM-dd-yyyy'}}</p>
    </div>
  </div>
  <div class="board_s" ng-switch-when="survey">
    <div class="board_tool_s">
      <p class="tool_header">{{::language.dictionary.average_responses_per_day}}</p>
      <p class="tool_subH">{{display_board_obj.questionnaire.avr_resp_d}}</p>
    </div>
    <div class="board_tool_s">
      <p class="tool_header">{{::language.dictionary.average_responses_per_user}}</p>
      <p class="tool_subH">{{display_board_obj.questionnaire.avr_resp}}</p>
    </div>
    <div class="board_tool_s">
      <p class="tool_header">{{::language.dictionary.average_stacks_per_user}}</p>
      <p class="tool_subH">{{display_board_obj.questionnaire.avr_stacks}}</p>
    </div>
  </div>
  <div class="board_s" id="surveys_board" ng-switch-when="survey">
    <canvas class="chart" height="200" width="200" id="{{display_board}}_daily_bar_graph"></canvas>
    <canvas class="chart" height="200" width="200" id="{{display_board}}_monthly_bar_graph"></canvas>
    <canvas class="chart" height="200" width="200" id="{{display_board}}_yearly_bar_graph"></canvas>
  </div>
  <div class="floatingCW" ng-switch-when="survey" ng-if="display_board_obj.graphic_questions.length > 0">
    <p class="pM">{{::language.dictionary.graphics_questions}}</p>
  </div>
  <div class="board_s" ng-switch-when="survey">
    <canvas class="chart" height="250" width="250" id="{{display_board}}{{$index}}_graphic" ng-repeat="graphic in display_board_obj.graphic_questions"></canvas>
  </div>
  <div class="floatingCW" ng-switch-when="survey">
    <p class="pM">{{::language.dictionary.responses}}<i class="material-icons md-26 icon" ng-click="toggleResponses()" ng-show="showResponses">&#xE8F4;</i><i class="material-icons md-26 icon" ng-click="toggleResponses()" ng-hide="showResponses">&#xE8F5;</i></p>
  </div>
  <div class="floatingCW" ng-switch-when="survey" ng-show="showResponses">
    <ul class="responses">
      <li class="response_q_c" ng-repeat="response in display_board_obj.responses track by $index">
        <p class="response_q" ng-bind="display_board_obj.questions[$index]"></p>
        <ul class="responses_u">
          <li class="response_q_i" ng-repeat="answer in response track by $index" ng-bind="answer"></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="board_s" ng-switch-when="poll">
    <div class="board_tool_s" ng-repeat="option in display_board_obj.questionnaire.options track by $index">
      <p class="tool_header">{{option}}'s</p>
      <p class="tool_subH">{{display_board_obj.questionnaire.amounts[$index]}}</p>
    </div>
  </div>
  <hr class="dM" />
  <div class="floatingCW">
    <p class="pM">{{::language.dictionary.respondent_analytics}}<i class="material-icons md-26 icon" ng-click="toggleRespondent()" ng-show="showRespondent">&#xE8F4;</i><i class="material-icons md-26 icon" ng-click="toggleRespondent()" ng-hide="showRespondent">&#xE8F5;</i></p>
  </div>
  <div class="board_s" id="respondents_board" ng-show="showRespondent">
    <canvas height="250px" width="250px" class="chart" id="{{display_board}}0_pie_chart"></canvas>
    <canvas height="250px" width="250px" class="chart" id="{{display_board}}1_pie_chart"></canvas>
    <canvas height="250px" width="250px" class="chart" id="{{display_board}}2_pie_chart"></canvas>
    <canvas height="250px" width="250px" class="chart" id="{{display_board}}3_pie_chart"></canvas>
    <canvas height="250px" width="250px" class="chart" id="{{display_board}}4_pie_chart"></canvas>
    <canvas height="250px" width="250px" class="chart" id="{{display_board}}5_pie_chart"></canvas>
    <canvas height="250px" width="250px" class="chart" id="{{display_board}}6_pie_chart"></canvas>
    <canvas height="250px" width="250px" class="chart" id="{{display_board}}7_pie_chart"></canvas>
  </div>
  <hr class="dM" />
  <div class="floatingCW">
    <p class="pM">{{::language.dictionary.responses_by_user}}<i class="material-icons md-26 icon" ng-click="toggleCards()" ng-show="showCards">&#xE8F4;</i><i class="material-icons md-26 icon" ng-click="toggleCards()" ng-hide="showCards">&#xE8F5;</i></p>
  </div>
  <section class="columnContainer" ng-show="showCards">
    <ul class="column" label="column one">
      <li class="q-item" ng-repeat="card in display_board_obj.cards.one" ng-click="card.expanded = !card.expanded">
        <img ng-src="{{card.profile_image_url}}" ng-hide="card.expanded" width="280" height="150" class="q-img">
        <div class="q-item-bottom">
          <h4 class="q-title" ng-bind="card.username"></h4>
          <h4 class="q-desc" ng-hide="card.expanded" ng-if="card.labs.score"><b>{{::language.dictionary.score}}:&nbsp;{{card.labs.score}}%</b></h4>
          <h4 class="q-desc" ng-hide="card.expanded" ng-if="card.labs.key_used"><b>{{::language.dictionary.key_used}}:&nbsp;{{card.labs.key_used}}</b></h4>
          <h4 class="q-desc" ng-hide="card.expanded" ng-if="card.labs.time_elapsed"><b>{{::language.dictionary.time_elapsed}}:&nbsp;{{card.labs.time_elapsed}}</b></h4>
          <h4 class="q-desc" ng-hide="card.expanded" ng-if="card.collected.fullname"><b>{{::language.dictionary.fullname}}:&nbsp;{{card.collected.fullname}}</b></h4>
          <h4 class="q-desc" ng-hide="card.expanded" ng-repeat="(val, c) in card.collected" ng-if="val != 'fullname'"><b>{{::language.dictionary[val]}}:&nbsp;{{language.dictionary[c]}}</b></h4>
          <h4 class="q-desc" ng-hide="card.expanded"><b>{{::language.dictionary.answered_at}}:&nbsp;{{card.date | date:'MM-dd-yyyy'}}</b></h4>
          <hr class="dM" ng-show="card.expanded" />
          <h4 class="q-desc" ng-show="card.expanded" ng-repeat="response in card.responses track by $index"><b>{{$index + 1}}.&nbsp;{{response}}</b></h4>
        </div>
      </li>
    </ul>
    <ul class="column" label="column two">
      <li class="q-item" ng-repeat="card in display_board_obj.cards.two">
        <img ng-src="{{card.profile_image_url}}" ng-hide="card.expanded" width="280" height="150" class="q-img">
        <div class="q-item-bottom">
          <h4 class="q-title" ng-bind="card.username"></h4>
          <h4 class="q-desc" ng-hide="card.expanded" ng-if="card.labs.score"><b>{{::language.dictionary.score}}:&nbsp;{{card.labs.score}}%</b></h4>
          <h4 class="q-desc" ng-hide="card.expanded" ng-if="card.labs.key_used"><b>{{::language.dictionary.key_used}}:&nbsp;{{card.labs.key_used}}</b></h4>
          <h4 class="q-desc" ng-hide="card.expanded" ng-if="card.labs.time_elapsed"><b>{{::language.dictionary.time_elapsed}}:&nbsp;{{card.labs.time_elapsed}}</b></h4>
          <h4 class="q-desc" ng-hide="card.expanded" ng-if="card.collected.fullname"><b>{{::language.dictionary.fullname}}:&nbsp;{{card.collected.fullname}}</b></h4>
          <h4 class="q-desc" ng-hide="card.expanded" ng-repeat="(val, c) in card.collected" ng-if="val != 'fullname'"><b>{{::language.dictionary[val]}}:&nbsp;{{language.dictionary[c]}}</b></h4>
          <h4 class="q-desc" ng-hide="card.expanded"><b>{{::language.dictionary.answered_at}}:&nbsp;{{card.date | date:'MM-dd-yyyy'}}</b></h4>
          <hr class="dM" ng-show="card.expanded" />
          <h4 class="q-desc" ng-show="card.expanded" ng-repeat="response in card.responses track by $index"><b>{{$index + 1}}.&nbsp;{{response}}</b></h4>
        </div>
      </li>
    </ul>
    <ul class="column" label="column three">
      <li class="q-item" ng-repeat="card in display_board_obj.cards.three">
        <img ng-src="{{card.profile_image_url}}" ng-hide="card.expanded" width="280" height="150" class="q-img">
        <div class="q-item-bottom">
          <h4 class="q-title" ng-bind="card.username"></h4>
          <h4 class="q-desc" ng-hide="card.expanded" ng-if="card.labs.score"><b>{{::language.dictionary.score}}:&nbsp;{{card.labs.score}}%</b></h4>
          <h4 class="q-desc" ng-hide="card.expanded" ng-if="card.labs.key_used"><b>{{::language.dictionary.key_used}}:&nbsp;{{card.labs.key_used}}</b></h4>
          <h4 class="q-desc" ng-hide="card.expanded" ng-if="card.labs.time_elapsed"><b>{{::language.dictionary.time_elapsed}}:&nbsp;{{card.labs.time_elapsed}}</b></h4>
          <h4 class="q-desc" ng-hide="card.expanded" ng-if="card.collected.fullname"><b>{{::language.dictionary.fullname}}:&nbsp;{{card.collected.fullname}}</b></h4>
          <h4 class="q-desc" ng-hide="card.expanded" ng-repeat="(val, c) in card.collected" ng-if="val != 'fullname'"><b>{{::language.dictionary[val]}}:&nbsp;{{language.dictionary[c]}}</b></h4>
          <h4 class="q-desc" ng-hide="card.expanded"><b>{{::language.dictionary.answered_at}}:&nbsp;{{card.date | date:'MM-dd-yyyy'}}</b></h4>
          <hr class="dM" ng-show="card.expanded" />
          <h4 class="q-desc" ng-show="card.expanded" ng-repeat="response in card.responses track by $index"><b>{{$index + 1}}.&nbsp;{{response}}</b></h4>
        </div>
      </li>
    </ul>
  </section>
</section>
