<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div class="main_list" ng-hide="api.loading">
  <div class="board_s">
    <div class="board_tool">
      <p class="tool_header">{{::language.dictionary.total_members}}</p>
      <p class="tool_subH">{{api.tips.tm}}</p>
    </div>
    <div class="board_tool" ng-show="team.membership_active">
      <p class="tool_header">{{::language.dictionary.mem_expires}}</p>
      <p class="tool_subH">{{api.tips.me}}</p>
    </div>
    <div class="board_tool" ng-hide="team.membership_active">
      <p class="tool_header">{{::language.dictionary.membership}}</p>
      <p class="tool_subH">{{::language.dictionary.free}}</p>
    </div>
    <div class="board_tool">
      <p class="tool_header">{{::language.dictionary.qs_created}}</p>
      <p class="tool_subH">{{api.tips.qc}}</p>
    </div>
  </div>
  <div id="dash_chartC">
    <canvas height="250px" width="500px" class="chart" ng-show="api.graphics.max != 0" id="dash_daily"></canvas>
    <canvas height="250px" width="250px" class="chart" ng-show="api.tips.qc != 0" id="dash_comb"></canvas>
  </div>
</div>
