<link rel="stylesheet" type="text/css" href="/stylesheets/labs.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/survey_creator.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/poll_creator.css">
<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div class="floatingCW" ng-if="!team.membership_active">
  <p class="pM">{{::language.dictionary.no_mem}}</p>
</div>
<div class="main_list" ng-if="team.membership_active" ng-hide="initiated">
  <div class="floatingCW">
    <p class="pM f-22" style="color:#2ecc71">🔥🔥🔥 WELCOME TO THE SURVEYSTACKS LABS 🔥🔥🔥</p>
    <p class="pS">Please note some of the features provided may be in beta</p>
  </div>
</div>

<div class="main_list" ng-if="team.membership_active" ng-show="stepone">
  <div class="floatingCW">
    <p class="pM"><b>Begin By Choosing a Type...</b></p>
  </div>
  <div class="floatingCW" ng-repeat="type in language.dictionary.labs_types track by $index">
    <p class="pS clickable" ng-click="typeChosen($index)">{{type}}</p>
  </div>
</div>

<div class="main_list" ng-if="team.membership_active" ng-show="steptwo">
  <div class="floatingCW">
    <p class="pM"><b>Now Choose Between...</b></p>
  </div>
  <div class="floatingCW">
    <p class="pS clickable" ng-click="init(0)">{{::language.dictionary.survey}}</p>
  </div>
  <div class="floatingCW">
    <p class="pS clickable" ng-click="init(1)">{{::language.dictionary.poll}}</p>
  </div>
</div>

<div class="main_list" ng-if="team.membership_active" ng-show="initiated">
  <i class="material-icons md-24 arrow_back" ng-click="back()">&#xE5C4;</i>
  <form class="formA" name="questionnaireForm" ng-submit="submitQuestionnaire()">
    <section class="q_attr" ng-hide="api.loading" ng-click="emptyQuestionOptionsB($event)">
      <div class="floatingCW">
        <h1 class="pH">{{::language.dictionary.details}}</h1>
        <span class="pHd"></span>
        <ul class="question_response">
          <li class="question_item_d">
            <input class="response_input" placeholder="{{::language.dictionary.q_name}}" name="questionnaire_name" ng-model="api.createdQuestionnaire.details.name" type="text" required/>
          </li>
          <li class="question_item_d">
            <input class="response_input" placeholder="{{::language.dictionary.q_description}}" name="questionnaire_desc" ng-model="api.createdQuestionnaire.details.description" maxlength="80" type="text" required/>
          </li>
          <li class="question_item_d">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.public_q}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdQuestionnaire.details.public"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_item_d" style="cursor:pointer" ng-click="expandables.ud_expand = !expandables.ud_expand">
            <span class="details_response_cat" id="ud_group">
              <span class="details_response_cat" ng-show="expandables.collected.length == 0">{{::language.dictionary.ud_group}}</span>
              <span class="details_response_cat spanned" ng-hide="expandables.collected.length == 0" ng-bind="expandables.collected.join(', ')"></span>
            </span>
            <i class="material-icons md-32 _dRI" ng-show="!expandables.ud_expand">&#xE5CF;</i>
            <i class="material-icons md-32 _dRI" ng-show="expandables.ud_expand">&#xE5CE;</i>
          </li>
          <ul class="question_list_d" id="ud_list" ng-show="expandables.ud_expand" scroller>
            <li class="question_cat_item" style="cursor:default">
              <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.fullname}}</span>
              <div class="checkbox_response_item_container_p">
                <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdQuestionnaire.details.data_collected.fullname" ng-click="collect(language.dictionary.fullname)"/>
                <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
              </div>
            </li>
            <li class="question_cat_item" style="cursor:default">
              <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.email_phone}}</span>
              <div class="checkbox_response_item_container_p">
                <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdQuestionnaire.details.data_collected.email_phone" ng-click="collect(language.dictionary.email_phone)"/>
                <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
              </div>
            </li>
            <li class="question_cat_item" style="cursor:default">
              <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.sex}}</span>
              <div class="checkbox_response_item_container_p">
                <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdQuestionnaire.details.data_collected.sex" ng-click="collect(language.dictionary.sex)"/>
                <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
              </div>
            </li>
            <li class="question_cat_item" style="cursor:default">
              <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.ethnicity}}</span>
              <div class="checkbox_response_item_container_p">
                <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdQuestionnaire.details.data_collected.ethnicty" ng-click="collect(language.dictionary.ethnicity)"/>
                <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
              </div>
            </li>
            <li class="question_cat_item" style="cursor:default">
              <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.spoken_languages}}</span>
              <div class="checkbox_response_item_container_p">
                <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdQuestionnaire.details.data_collected.languages" ng-click="collect(language.dictionary.spoken_languages)"/>
                <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
              </div>
            </li>
            <li class="question_cat_item" style="cursor:default">
              <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.education_level}}</span>
              <div class="checkbox_response_item_container_p">
                <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdQuestionnaire.details.data_collected.education" ng-click="collect(language.dictionary.education_level)"/>
                <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
              </div>
            </li>
            <li class="question_cat_item" style="cursor:default">
              <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.relationship_status}}</span>
              <div class="checkbox_response_item_container_p">
                <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdQuestionnaire.details.data_collected.relationship" ng-click="collect(language.dictionary.relationship_status)"/>
                <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
              </div>
            </li>
            <li class="question_cat_item" style="cursor:default">
              <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.employment_status}}</span>
              <div class="checkbox_response_item_container_p">
                <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdQuestionnaire.details.data_collected.employment" ng-click="collect(language.dictionary.employment_status)"/>
                <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
              </div>
            </li>
            <li class="question_cat_item" style="cursor:default">
              <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.religion}}</span>
              <div class="checkbox_response_item_container_p">
                <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdQuestionnaire.details.data_collected.religion" ng-click="collect(language.dictionary.religion)"/>
                <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
              </div>
            </li>
            <li class="question_cat_item" style="cursor:default">
              <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.birth_date}}</span>
              <div class="checkbox_response_item_container_p">
                <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdQuestionnaire.details.data_collected.dob" ng-click="collect(language.dictionary.birth_date)"/>
                <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
              </div>
            </li>
          </ul>
          <li class="question_item_d" style="cursor:pointer" ng-click="expandables.category_expand = !expandables.category_expand">
            <span class="details_response_cat" ng-bind="category_display || language.dictionary.q_category" id="category"></span>
            <i class="material-icons md-32 _dRI" ng-show="!expandables.category_expand">&#xE5CF;</i>
            <i class="material-icons md-32 _dRI" ng-show="expandables.category_expand">&#xE5CE;</i>
          </li>
          <ul class="question_list_d" id="cat_list" ng-show="expandables.category_expand" scroller>
            <li class="question_cat_item" ng-repeat="(value, category) in api.categories" ng-bind="category" ng-click="setCategory($index, value, category)"></li>
          </ul>
          <li class="question_item_d" style="cursor:pointer" ng-click="expandables.sex_expand = !expandables.sex_expand">
            <span class="details_response_cat" ng-bind="sex_display || language.dictionary.target_sex" id="sex"></span>
            <i class="material-icons md-32 _dRI" ng-show="!expandables.sex_expand">&#xE5CF;</i>
            <i class="material-icons md-32 _dRI" ng-show="expandables.sex_expand">&#xE5CE;</i>
          </li>
          <ul class="question_list_d" id="sex_list" ng-show="expandables.sex_expand" scroller>
            <li class="question_cat_item" ng-repeat="(value, sex) in language.dictionary.sexes" ng-bind="sex" ng-click="setSex(value, sex)"></li>
          </ul>
          <li class="question_item_d" style="cursor:pointer" ng-click="expandables.ethnicity_expand = !expandables.ethnicity_expand">
            <span class="details_response_cat" ng-bind="ethnicity_display || language.dictionary.target_ethnicity" id="ethnicity"></span>
            <i class="material-icons md-32 _dRI" ng-show="!expandables.ethnicity_expand">&#xE5CF;</i>
            <i class="material-icons md-32 _dRI" ng-show="expandables.ethnicity_expand">&#xE5CE;</i>
          </li>
          <ul class="question_list_d"  id="ethnicity_list" ng-show="expandables.ethnicity_expand" scroller>
            <li class="question_cat_item" ng-repeat="(value, ethnicity) in language.dictionary.ethnicities" ng-bind="ethnicity" ng-click="setEthnicity(value, ethnicity)"></li>
          </ul>
          <li class="question_item_d" style="cursor:pointer" ng-click="expandables.age_expand = !expandables.age_expand">
            <span class="details_response_cat" ng-bind="age_display || language.dictionary.target_age_group" id="age_group"></span>
            <i class="material-icons md-32 _dRI" ng-show="!expandables.age_expand">&#xE5CF;</i>
            <i class="material-icons md-32 _dRI" ng-show="expandables.age_expand">&#xE5CE;</i>
          </li>
          <ul class="question_list_d" id="ages_list" ng-show="expandables.age_expand" scroller>
            <li class="question_cat_item" ng-repeat="(value, age) in language.dictionary.age_groups" ng-bind="age" ng-click="setAgeGroup(value, age)"></li>
          </ul>
          <li class="question_item_d" style="cursor:pointer" ng-click="expandables.image_list_expand = !expandables.image_list_expand">
            <span class="details_response_cat" id="image" ng-bind="api.createdQuestionnaire.details.image_url || api.createdQuestionnaire.details.image_file || language.dictionary.q_image" ng-class="{'spanned' : api.createdQuestionnaire.details.image_url != '' || api.createdQuestionnaire.details.image_file != ''}"></span>
            <i class="material-icons md-28 _dRI">&#xE3F4;</i>
          </li>
          <ul class="question_list_d" id="image_url_list" ng-show="expandables.image_list_expand" scroller>
            <li class="question_cat_item_i" ng-if="api.createdQuestionnaire.details.image_file == ''">
              <input id="imageLink" class="response_input" ng-model="api.createdQuestionnaire.details.image_url" type="url" placeholder="Image URL" ng-pattern="/^(http:\/\/)|(https:\/\/).*/im" name="image_url" ng-click="noHide($event)"/>
            </li>
            <li class="question_cat_item_i" ng-if="api.createdQuestionnaire.details.image_url == ''">
              <span class="imageFile" ng-bind="language.dictionary.select_image || api.createdQuestionnaire.details.image_file"></span>
              <input id="imageFile" class="imageFile h" type="file" accept="image/*" name="survey_image" on-file-select="fileSelected"/>
            </li>
          </ul>
        </ul>
      </div>
    </section>
    <ng-include src="template" ng-click="emptyQuestionOptionsB($event)"></ng-include>
  </form>
</div>
