<div id="navDrawer" ng-click="closeNav()">
  <ul id="navList">
    <li class="navItem" id="en"><a class="navLink" href="">English</a></li>
    <li class="navItem" id="es"><a lang="es" class="navLink" href="#es">Espa&ntilde;ol</a></li>
    <li class="navItem" id="fr"><a lang="fr" class="navLink" href="#fr">Fran&ccedil;ais</a></li>
    <li class="navItem" id="zh-Hans"><a lang="zh-Hans" class="navLink" href="#zh-Hans">普通话</a></li>
    <li class="navItem" id="zh-Hant"><a lang="zh-Hant" class="navLink" href="#zh-Hant">中文</a></li>
    <li class="navItem" id="ar"><a lang="ar" class="navLink" href="#ar">عربى</a></li>
    <li class="navItem" id="it"><a lang="it" class="navLink" href="#it">Italiano</a></li>
    <li class="navItem" id="de"><a lang="de" class="navLink" href="#de">Deutsche</a></li>
    <li class="navItem" id="ko"><a lang="ko" class="navLink" href="#ko">한국어</a></li>
    <li class="navItem" id="ru"><a lang="ru" class="navLink" href="#ru">русский</a></li>
    <li class="navItem" id="vi"><a lang="vi" class="navLink" href="#vi">Tiếng Việt</a></li>
  </ul>
</div>

<a class="headerL" href="/landing_page">SurveyStacks<br/><span class="tTxt">Teams</span></a>

<i class="material-icons md-32 nav" ng-click="openNav()">&#xE5D2;</i>

<section class="shadowBoxC">
  <form class="shadowBox" role="form" name="loginForm" ng-keydown="resetResponse()" ng-submit="login()">
    <p class="boxHeader">{{::language.dictionary.log_in}}</p>
    <span class="divider"></span>
    <div class="boxIC">
      <input type="text" placeholder="{{::language.dictionary.team_nickname}}" autocomplete="on" ng-model="teamCredentials.nickname" name="nickname" ng-pattern="/^[^A-Z ]+$/m" maxlength="25" class="boxInput" required/>
      <i class="material-icons md-24 inputIcon">&#xE7FF;</i>
    </div>
    <div class="boxIC">
      <input type="password" placeholder="{{::language.dictionary.password}}" autocomplete="on" ng-model="teamCredentials.password" name="current-password" maxlength="50" class="boxInput" required/>
      <i class="material-icons md-22 inputIcon">&#xE899;</i>
    </div>
    <input type="submit" class="boxSubmit" value="{{::language.dictionary.login}}" />
    <p class="boxResponse" ng-show="loginResponse != '' " ng-bind="loginResponse"></p>
    <p class="boxE">{{::language.dictionary.forgot}}&nbsp;<a href="/teams/forgot_nickname" style="color: #2ecc71;">{{::language.dictionary.team_nickname}}</a>&nbsp;{{::language.dictionary.or}}&nbsp;<a href="/teams/forgot_password" style="color: #2ecc71;">{{::language.dictionary.password}}</a></p>
    <p class="boxE">{{::language.dictionary.wtrt}}&nbsp;<a href="/teams/register" style="color: #2ecc71;">{{::language.dictionary.con}}</a></p>
  </form>
</section>
<h6 class="cr">&copy;	Copyright 2018.</h6>
