<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div class="floatingCW" ng-show="api.awaiting.one.length > 0 && !api.loading">
  <p class="pM">Users Awaiting Confirmation</p>
</div>
<section class="columnContainer" ng-hide="api.loading">
  <ul class="column" label="column one" ng-hide="api.awaiting.one.length == 0">
    <li class="q-item" ng-repeat="awaiter in api.awaiting.one" ng-mouseenter="awaiter.focused = true" ng-mouseleave="awaiter.focused = false">
      <a ng-href="{{awaiter.profile_url}}" class="qAnswerURL"></a>
      <img ng-src="{{awaiter.image_url}}" width="280" class="q-img">
      <div class="q-item-bottom">
        <h4 class="q-title" ng-hide="awaiter.focused" ng-bind="awaiter.fullname"></h4>
        <h4 class="q-desc" ng-hide="awaiter.focused" ng-bind="awaiter.username"></h4>
        <h4 class="q-desc option left" ng-show="awaiter.focused" ng-bind="language.dictionary.approve" ng-click="api.approveC(1, $index)"></h4>
        <h4 class="q-desc option right" ng-show="awaiter.focused" ng-bind="language.dictionary.remove" ng-click="api.removeC(1, $index)"></h4>
      </div>
    </li>
  </ul>
  <ul class="column" label="column one" ng-hide="api.awaiting.two.length == 0">
    <li class="q-item" ng-repeat="awaiter in api.awaiting.two" ng-mouseenter="awaiter.focused = true" ng-mouseleave="awaiter.focused = false">
      <a ng-href="{{awaiter.profile_url}}" class="qAnswerURL"></a>
      <img ng-src="{{awaiter.image_url}}" width="280" class="q-img">
      <div class="q-item-bottom">
        <h4 class="q-title" ng-hide="awaiter.focused" ng-bind="awaiter.fullname"></h4>
        <h4 class="q-desc" ng-hide="awaiter.focused" ng-bind="awaiter.username"></h4>
        <h4 class="q-desc option left" ng-show="awaiter.focused" ng-bind="language.dictionary.approve" ng-click="api.approveC(1, $index)"></h4>
        <h4 class="q-desc option right" ng-show="awaiter.focused" ng-bind="language.dictionary.remove" ng-click="api.removeC(1, $index)"></h4>      </div>
    </li>
  </ul>
  <ul class="column" label="column one" ng-hide="api.awaiting.three.length == 0">
    <li class="q-item" ng-repeat="awaiter in api.awaiting.three" ng-mouseenter="awaiter.focused = true" ng-mouseleave="awaiter.focused = false">
      <a ng-href="{{awaiter.profile_url}}" class="qAnswerURL"></a>
      <img ng-src="{{awaiter.image_url}}" width="280" class="q-img">
      <div class="q-item-bottom">
        <h4 class="q-title" ng-hide="awaiter.focused" ng-bind="awaiter.fullname"></h4>
        <h4 class="q-desc" ng-hide="awaiter.focused" ng-bind="awaiter.username"></h4>
        <h4 class="q-desc option left" ng-show="awaiter.focused" ng-bind="language.dictionary.approve" ng-click="api.approveC(1, $index)"></h4>
        <h4 class="q-desc option right" ng-show="awaiter.focused" ng-bind="language.dictionary.remove" ng-click="api.removeC(1, $index)"></h4>      </div>
    </li>
  </ul>
</section>

<div class="floatingCW" ng-hide="api.loading">
  <p class="pM">Your team has {{api.amount}} <span class="spanm" ng-if="api.amount != 1">Members</span><span class="spanm" ng-if="api.amount == 1">Member</span></p>
</div>

<section class="columnContainer" ng-hide="api.loading">
  <ul class="column" label="column one" ng-hide="api.membersOne.length == 0">
    <li class="q-item" ng-repeat="member in api.membersOne" ng-mouseenter="member.focused = true" ng-mouseleave="member.focused = false">
      <a ng-href="{{member.profile_url}}" class="qAnswerURL"></a>
      <img ng-src="{{member.image_url}}" width="280" class="q-img">
      <div class="q-item-bottom">
        <h4 class="q-title" ng-hide="member.focused" ng-bind="member.fullname"></h4>
        <h4 class="q-desc" ng-hide="member.focused" ng-bind="member.username"></h4>
        <h4 class="q-desc option" ng-show="member.focused" ng-bind="language.dictionary.remove" ng-click="api.remove(1, $index)"></h4>
      </div>
    </li>
  </ul>
  <ul class="column" label="column one" ng-hide="api.membersTwo.length == 0">
    <li class="q-item" ng-repeat="member in api.membersTwo" ng-mouseenter="member.focused = true" ng-mouseleave="member.focused = false">
      <a ng-href="{{member.profile_url}}" class="qAnswerURL"></a>
      <img ng-src="{{member.image_url}}" width="280" class="q-img">
      <div class="q-item-bottom">
        <h4 class="q-title" ng-hide="member.focused" ng-bind="member.fullname"></h4>
        <h4 class="q-desc" ng-hide="member.focused" ng-bind="member.username"></h4>
        <h4 class="q-desc option" ng-show="member.focused" ng-bind="language.dictionary.remove" ng-click="api.remove(2, $index)"></h4>
      </div>
    </li>
  </ul>
  <ul class="column" label="column one" ng-hide="api.membersThree.length == 0">
    <li class="q-item" ng-repeat="member in api.membersThree" ng-mouseenter="member.focused = true" ng-mouseleave="member.focused = false">
      <a ng-href="{{member.profile_url}}" class="qAnswerURL"></a>
      <img ng-src="{{member.image_url}}" width="280" class="q-img">
      <div class="q-item-bottom">
        <h4 class="q-title" ng-hide="member.focused" ng-bind="member.fullname"></h4>
        <h4 class="q-desc" ng-hide="member.focused" ng-bind="member.username"></h4>
        <h4 class="q-desc option" ng-show="member.focused" ng-bind="language.dictionary.remove" ng-click="api.remove(3, $index)"></h4>
      </div>
    </li>
  </ul>
</section>
