<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div class="floatingCW" ng-show="!api.loading && api.notifications.length == 0">
  <p class="pM">You have no notifications</p>
</div>
<div class="floatingCW" ng-repeat="notification in api.notifications track by $index" ng-switch="notification.type" ng-hide="api.loading">
  <div ng-switch-when="l">
    <p class="pH" ng-bind="notification.title" ng-hide="notification.title == ''"></p>
    <span class="pHd" ng-hide="notification.title == ''"></span>
    <p class="pS" ng-bind="notification.content"></p>
    <a class="pURLA" ng-href="{{notification.url}}"></a>
  </div>
  <div ng-switch-default>
    <p class="pH" ng-bind="notification.title" ng-hide="notification.title == ''"></p>
    <span class="pHd" ng-hide="notification.title == ''"></span>
    <p class="pS" ng-bind="notification.content"></p>
  </div>
</div>
