<link rel="stylesheet" type="text/css" href="/stylesheets/poll_creator.css">
<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div class="floatingCW" ng-if="!team.membership_active" ng-hide="api.loading">
  <p class="pM">{{::language.dictionary.no_mem}}</p>
</div>
<hr class="dM"/>
<form class="formA" name="pollForm" ng-if="team.membership_active" ng-hide="api.loading">
  <section class="q_attr">
    <div class="floatingCW">
      <h1 class="pH">{{::language.dictionary.details}}</h1>
      <span class="pHd"></span>
      <ul class="question_response">
        <li class="question_item_d">
          <input class="response_input" placeholder="{{::language.dictionary.poll_name}}" ng-model="api.createdPoll.pollDetails.name" type="text" required/>
        </li>
        <li class="question_item_d">
          <input class="response_input" placeholder="{{::language.dictionary.poll_description}}" ng-model="api.createdPoll.pollDetails.description" maxlength="80" type="text" required/>
        </li>
        <li class="question_item_d">
          <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.public_poll}}</span>
          <div class="checkbox_response_item_container_p">
            <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdPoll.pollDetails.public"/>
            <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
          </div>
        </li>
        <li class="question_item_d" style="cursor:pointer" ng-click="expandables.ud_expand = !expandables.ud_expand">
          <span class="details_response_cat" id="ud_group">
            <span class="details_response_cat" ng-show="expandables.collected.length == 0">{{::language.dictionary.ud_group}}</span>
            <span class="details_response_cat spanned" ng-hide="expandables.collected.length == 0" ng-bind="expandables.collected.join(', ')"></span>
          </span>
          <i class="material-icons md-32 _dRI" ng-show="!expandables.ud_expand">&#xE5CF;</i>
          <i class="material-icons md-32 _dRI" ng-show="expandables.ud_expand">&#xE5CE;</i>
        </li>
        <ul class="question_list_d" id="ud_list" ng-show="expandables.ud_expand" scroller>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.fullname}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdPoll.details.data_collected.fullname" ng-click="collect(language.dictionary.fullname)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.email_phone}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdPoll.details.data_collected.email_phone" ng-click="collect(language.dictionary.email_phone)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.sex}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdPoll.details.data_collected.sex" ng-click="collect(language.dictionary.sex)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.ethnicity}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdPoll.details.data_collected.ethnicty" ng-click="collect(language.dictionary.ethinicity)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.spoken_languages}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdPoll.details.data_collected.languages" ng-click="collect(language.dictionary.spoken_languages)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.education_level}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdPoll.details.data_collected.education" ng-click="collect(language.dictionary.education_level)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.relationship_status}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdPoll.details.data_collected.relationship" ng-click="collect(language.dictionary.relationship_status)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.employment_status}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdPoll.details.data_collected.employment" ng-click="collect(language.dictionary.employment_status)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.religion}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdPoll.details.data_collected.religion" ng-click="collect(language.dictionary.religion)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.birth_date}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdPoll.details.data_collected.dob" ng-click="collect(language.dictionary.birth_date)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
        </ul>
        <li class="question_item_d" style="cursor: pointer" ng-click="expandables.category_expand = !expandables.category_expand">
          <span class="details_response_cat" ng-bind="category_display || language.dictionary.poll_category" id="category"></span>
          <i class="material-icons md-32 _dRI" ng-show="!expandables.category_expand">&#xE5CF;</i>
          <i class="material-icons md-32 _dRI" ng-show="expandables.category_expand">&#xE5CE;</i>
        </li>
        <ul class="question_list_d" id="cat_list" ng-show="expandables.category_expand">
          <li class="question_cat_item" ng-repeat="(value, category) in api.categories" ng-bind="category" ng-click="setCategory($index, value, category)"></li>
        </ul>
        <li class="question_item_d" style="cursor: pointer" ng-click="expandables.sex_expand = !expandables.sex_expand">
          <span class="details_response_cat" ng-bind="sex_display || language.dictionary.target_sex" id="sex"></span>
          <i class="material-icons md-32 _dRI" ng-show="!expandables.sex_expand">&#xE5CF;</i>
          <i class="material-icons md-32 _dRI" ng-show="expandables.sex_expand">&#xE5CE;</i>
        </li>
        <ul class="question_list_d" id="sex_list" ng-show="expandables.sex_expand">
          <li class="question_cat_item" ng-repeat="(value, sex) in language.dictionary.sexes" ng-bind="sex" ng-click="setSex(value, sex)"></li>
        </ul>
        <li class="question_item_d" style="cursor: pointer" ng-click="expandables.ethnicity_expand = !expandables.ethnicity_expand">
          <span class="details_response_cat" ng-bind="ethnicity_display || language.dictionary.target_ethnicity" id="ethnicity"></span>
          <i class="material-icons md-32 _dRI" ng-show="!expandables.ethnicity_expand">&#xE5CF;</i>
          <i class="material-icons md-32 _dRI" ng-show="expandables.ethnicity_expand">&#xE5CE;</i>
        </li>
        <ul class="question_list_d" id="ethnicity_list" ng-show="expandables.ethnicity_expand">
          <li class="question_cat_item" ng-repeat="(value, ethnicity) in language.dictionary.ethnicities" ng-bind="ethnicity" ng-click="setEthnicity(value, ethnicity)"></li>
        </ul>
        <li class="question_item_d" style="cursor: pointer" ng-click="expandables.age_expand = !expandables.age_expand">
          <span class="details_response_cat" ng-bind="age_display || language.dictionary.target_age_group" id="age_group"></span>
          <i class="material-icons md-32 _dRI" ng-show="!expandables.age_expand">&#xE5CF;</i>
          <i class="material-icons md-32 _dRI" ng-show="expandables.age_expand">&#xE5CE;</i>
        </li>
        <ul class="question_list_d" id="ages_list" ng-show="expandables.age_expand">
          <li class="question_cat_item" ng-repeat="(value, age) in language.dictionary.age_groups" ng-bind="age" ng-click="setAgeGroup(value, age)"></li>
        </ul>
        <li class="question_item_d" style="cursor: pointer" ng-click="expandables.image_list_expand = !expandables.image_list_expand">
          <span class="details_response_cat" id="image" ng-bind="api.createdPoll.pollDetails.image_url || api.createdPoll.pollDetails.image_file || language.dictionary.poll_image" ng-class="{'spanned' : api.createdPoll.pollDetails.image_url != '', 'spanned' : api.createdPoll.pollDetails.image_file != ''}"></span>
          <i class="material-icons md-28 _dRI">&#xE3F4;</i>
        </li>
        <ul class="question_list_d" id="image_url_list" ng-show="expandables.image_list_expand">
          <li class="question_cat_item_i" ng-if="api.createdPoll.pollDetails.image_file == ''">
            <input id="imageLink" class="response_input" ng-model="api.createdPoll.pollDetails.image_url" type="url" placeholder="Image URL" ng-pattern="/^(http://)||(https://)/im" name="image_url" ng-click="noHide($event)"/>
          </li>
          <li class="question_cat_item_i" ng-if="api.createdPoll.pollDetails.image_url == ''">
            <span class="imageFile" ng-bind="language.dictionary.select_image || api.createdPoll.pollDetails.image_file"></span>
            <input id="imageFile" class="imageFile h" type="file" accept="image/*" name="poll_image" on-file-select="fileSelected"/>
          </li>
        </ul>
      </ul>
    </div>
    <hr class="dM"/>
    <div class="floatingCW">
      <h1 class="pH">{{::language.dictionary.poll_question}}</h1>
      <span class="pHd"></span>
      <ul class="question_response">
        <li class="question_item">
          <div class="radio_item_container">
            <input class="response_input" placeholder="{{::language.dictionary.question_here}}" ng-model="api.createdPoll.pollQuestion.question" type="text" required/>
          </div>
          <ul class="item_questions">
            <li class="radio_response" ng-repeat="option in api.createdPoll.pollQuestion.options track by $index">
              <label class="radio_response_item_container">
                <input class="chckbxrad" type="radio"/>
                <div class="chkcrad--act"></div>
              </label>
              <input class="radio_response_item_input" placeholder="{{::language.dictionary.poll_option}}" ng-model="api.createdPoll.pollQuestion.options[$index]" type="text" required/>
              <i class="material-icons md-22 remove_item c" ng-click="removePollItem($index)">&#xE872;</i>
            </li>
            <li class="add_item response_item" ng-click="addPollOption()" ng-if="api.createdPoll.pollQuestion.options.length != 5">{{::language.dictionary.add_poll_option}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
  <div class="floatingCW">
    <p class="pS error"ng-show="api.response != ''">{{api.response}}</p>
  </div>
  <hr class="dM"/>
  <input class="_order" id="place_order" ng-hide="pollForm.$invalid && pollForm.$dirty || !pollForm.$dirty" ng-click="createPoll()" ng-class="{'buttonLoading' : api.uploading}" ng-disabled="api.uploading" type="submit" value="{{::language.dictionary.create_poll}}"/>
</form>
