<i class="material-icons md-32 nav" ng-click="openNav()">&#xE5D2;</i>

<div id="navDrawer" ng-click="closeNav()">
  <ul id="navList">
    <li class="navItem" id="en"><a class="navLink" href="">English</a></li>
    <li class="navItem" id="es"><a lang="es" class="navLink" target="_top" href="#es">Espa&ntilde;ol</a></li>
    <li class="navItem" id="fr"><a lang="fr" class="navLink" href="#fr">Fran&ccedil;ais</a></li>
    <li class="navItem" id="zh-Hans"><a lang="zh-Hans" class="navLink" href="#zh-Hans">普通话</a></li>
    <li class="navItem" id="zh-Hant"><a lang="zh-Hant" class="navLink" href="#zh-Hant">中文</a></li>
    <li class="navItem" id="ar"><a lang="ar" class="navLink" href="#ar">عربى</a></li>
    <li class="navItem" id="it"><a lang="it" class="navLink" href="#it">Italiano</a></li>
    <li class="navItem" id="de"><a lang="de" class="navLink" href="#de">Deutsche</a></li>
    <li class="navItem" id="ko"><a lang="ko" class="navLink" href="#ko">한국어</a></li>
    <li class="navItem" id="ru"><a lang="ru" class="navLink" href="#ru">русский</a></li>
    <li class="navItem" id="vi"><a lang="vi" class="navLink" href="#vi">Tiếng Việt</a></li>
  </ul>
</div>

<a class="headerL" href="/landing_page">SurveyStacks<br/><span class="tTxt">Teams</span></a>

<section class="shadowBoxC">
  <form class="shadowBoxB" name="registerForm" role="form" ng-keydown="resetResponse()" ng-submit="register()">
    <p class="boxHeader">Sign Up</p>
    <span class="divider"></span>
    <div class="boxIC">
      <input type="text" placeholder="{{::language.dictionary.team_fullname}}" autocomplete="on" name="name" ng-model="teamCredentials.fullname" ng-pattern="/^(([a-z]+)( )([a-z]+))+$/i" maxlength="100" class="boxInput" required/>
      <i class="material-icons md-24 inputIcon">&#xE7FF;</i>
    </div>
    <div class="boxIC">
      <input type="text" placeholder="{{::language.dictionary.team_email_phone}}" autocomplete="on" name="email tel" ng-model="teamCredentials.email_phone" spellcheck="false" ng-pattern="/^(.+)(@)([a-z]+)(\.)([a-z]+)$|^\d+$/mi" class="boxInput" required/>
      <i class="material-icons md-24 inputIcon">&#xE0BA;</i>
    </div>
    <div class="boxIC">
      <input type="text" placeholder="{{::language.dictionary.team_name}}" name="team_name" autocomplete="on" ng-model="teamCredentials.name" maxlength="25" class="boxInput" required/>
      <i class="material-icons md-22 inputIcon">&#xE7E9;</i>
    </div>
    <div class="boxIC">
      <input type="text" placeholder="{{::language.dictionary.team_nickname}}" name="nickname" autocomplete="on" ng-model="teamCredentials.nickname" ng-pattern="/^[^A-Z ]+$/m" maxlength="25" class="boxInput" required/>
      <i class="material-icons md-24 inputIcon">&#xE7FF;</i>
    </div>
    <div class="boxIC">
      <input type="password" placeholder="{{::language.dictionary.password}}" name="password" autocomplete="on" ng-model="teamCredentials.password" maxlength="50" class="boxInput" required/>
      <i class="material-icons md-22 inputIcon">&#xE899;</i>
    </div>
    <input type="submit" class="boxSubmit" value="{{::language.dictionary.register_team}}" />
    <p class="boxResponse" ng-show="registerResponse != '' " ng-bind="registerResponse"></p>
    <p class="boxE">{{::language.dictionary.have_team}}&nbsp;<a href="/teams/login" style="color: #2ecc71;">{{::language.dictionary.log_in}}!</a></p>
  </form>
</section>
<h6 class="cr">&copy;	Copyright 2018.</h6>
