<!DOCTYPE html>
<html ng-app="survey-stacks-teams" ng-controller="SessionController" lang="{{language.langFile || 'en'}}" dir="{{language.langDir || 'ltr'}}">
  <head>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="/teams/stylesheets/session.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/answer.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-cookies.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="/javascript/global_translations.js"></script>
    <script type="text/javascript" src="/teams/javascript/en_translations.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/teams/javascript/session.js"></script>
    <script type="text/javascript" src="/teams/javascript/session-api.js"></script>
    <noscript>Please Enable JavaScript to Use This Webpage</noscript>
    <title ng-bind="metadata.title"></title>
    <base target="_top" href="http://192.168.1.92:3000/">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#2ecc71"/>
    <meta name="description" content="{{metadata.description}}">
    <meta name="keywords" content="surveys, survey stacks, the stacks technologies, answer surveys, win money answering surveys, make a survey, {{metadata.title}}, {{metadata.description}}">
    <meta name="author" content="SurveyStacks Dev Team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="all">
    <meta name="language" content="{{language.langFull}}">
    <meta itemprop="name" content="SurveyStacks for Teams">
    <meta itemprop="description" content="Ask Surveys and Receive Stats Instantly!">
    <meta itemprop="image" content="https://res.cloudinary.com/survey-stacks/image/upload/v1515271529/constants/logo_square_text.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="SurveyStacks for Teams">
    <meta name="twitter:description" content="Ask Surveys and Receive Stats Instantly!">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="SurveyStacks for Teams">
    <meta name="og:description" content="Ask Surveys and Receive Stats Instantly!">
    <meta name="og:image" content="http://res.cloudinary.com/survey-stacks/image/upload/v1515271529/constants/logo_square_text.png">
    <meta name="og:url" content="https://www.surveystacks.com">
    <meta name="og:site_name" content="SurveyStacks">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">
  </head>
  <body class="ng-cloak">
    <ng-controller ng-controller="AlertsController">
      <ng-include src="'/views/snackbar.html'"></ng-include>
    </ng-controller>
    <section id="view">
      <div id="toolbar" ng-controller="ToolbarController" style="background : {{team.backgroundColor || '#2ecc71'}}">
        <i class="material-icons md-26" id="navExpand" ng-click="openNav()">&#xE5D2;</i>
        <h1 id="toolbar_header" ng-if="route == ''" ng-bind="team.name"></h1>
        <h1 id="toolbar_header" ng-if="route == 'dashboard'" ng-bind="team.name"></h1>
        <h1 id="toolbar_header" ng-if="route == 'analytics'">{{::language.dictionary.tabs[0].translation}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'manage'">{{::language.dictionary.tabs[1].translation}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'labs'">{{::language.dictionary.tabs[3].translation}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'members'">{{::language.dictionary.tabs[4].translation}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'notifications'">{{::language.dictionary.tabs[5].translation}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'settings'">{{::language.dictionary.tabs[6].translation}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'survey_creator'">{{::language.dictionary.survey_creator}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'poll_creator'">{{::language.dictionary.poll_creator}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'profile'">{{::language.dictionary.profile}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'logout'">{{::language.dictionary.logging_out}}</h1>
      </div>
      <nav class="side-nav" ng-controller="DrawerController" style="background : {{team.backgroundColor || '#2ecc71'}}">
        <section id="drawer_header">
          <div id="pfp_container">
            <img class="_pfp" id="pfp" ng-src="{{team.team_logo_url}}" on-error-src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg" alt="profile picture"/>
          </div>
          <div id="drawer_username_container">
            <p id="username"><span id="username_span" class="hiddenDrawer">{{user.username}}</span></p>
          </div>
        </section>
        <ul class="drawer_item-holder">
          <li id="{{tab.value}}_drawer_item" class="drawer_item" style="background : {{team.backgroundColorDark || '#27ae60'}}" ng-mouseover="itemHov($event)" ng-mouseout="itemReg($event)" ng-class="{active_link: route == tab.value}" ng-repeat="tab in language.dictionary.tabs | orderBy : 'translation'">
            <a id="{{tab.value}}_drawer_icon" class="drawer_item-icon material-icons md-24" label="{{::tab.value}}" aria-label="{{::tab.translation}}" ng-class="{bl_nv : team.membership_active == false}" href="{{tab.value}}" ng-bind-html="::tab.icon"></a>
            <a href="{{tab.value}}" class="drawer_item-name">{{::tab.translation}}</a>
          </li>
          <li class="drawer_item" style="background : {{team.backgroundColorDark || '#27ae60'}}"  ng-mouseover="itemHov($event)" ng-mouseout="itemReg($event)">
            <a class="drawer_item-icon material-icons md-24" href="/logout" aria-label="{{::language.dictionary.logout}}">&#xE879;</a>
            <a href="/logout" class="drawer_item-name">{{::language.dictionary.logout}}</a>
          </li>
        </ul>
      </nav>
      <section id="main_section">
        <ng-view></ng-view>
      </section>
      <canvas class="background" id="animateCanvas"></canvas>
      <div id="creator_fab" class="fab" style="background:{{team.backgroundColor || '#2ecc71'}}; border: 1px solid {{team.backgroundColor || '#2ecc71'}};" ng-mouseover="fabHov($event)" ng-mouseout="fabReg($event)">
          <span class="fab_add" ng-click="openFabs()" id="fab_add"><i id="fab_add_ico" class="material-icons md-24">&#xE145;</i></span>
      </div>
      <div id="survey_c" class="fab" style="background:{{team.backgroundColor || '#2ecc71'}}; border: 1px solid {{team.backgroundColor || '#2ecc71'}};" ng-mouseover="fabHov($event)" ng-mouseout="fabReg($event)">
        <a href="/survey_creator" class="fab_link" title="{{::language.dictionary.poll_creator}}">
          <span class="fab_add added"><i class="material-icons md-24">&#xE85D;</i></span>
        </a>
      </div>
      <div id="poll_c" class="fab" style="background:{{team.backgroundColor || '#2ecc71'}}; border: 1px solid {{team.backgroundColor || '#2ecc71'}};" ng-mouseover="fabHov($event)" ng-mouseout="fabReg($event)">
        <a href="/poll_creator" class="fab_link" title="{{::language.dictionary.survey_creator}}">
          <span class="fab_add added"><i class="material-icons md-24">&#xE85C;</i></span>
        </a>
      </div>
      <script type="text/javascript" src="/javascript/analyticsConstructor.js" defer></script>
      <script type="text/javascript" src="/javascript/animateCanvasSession.js" defer></script>
    </section>
    <!-- <script>
    if ('serviceWorker' in navigator) {
        console.log("Will the service worker register?");
        navigator.serviceWorker.register('/sw.js')
          .then(function(reg){
            console.log("Yes, it did.");
          }).catch(function(err) {
            console.log("No it didn't. This happened: ", err)
          });
      }
    </script> -->
  </body>
</html>
