<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div id="main_list" class="main_list" ng-hide="api.loading">
  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.account}}</h1>
    <span class="pHd"></span>
    <form class="pF" name="accountForm" ng-submit="api.updateAccountInfo(this)">
      <li class="settingsAccountItem"><input id="leader_fullname" autocomplete="on" placeholder="{{::language.dictionary.team_fullname}}" class="cInfoInput aii settingsT" type="text" name="name" ng-pattern="/^(([a-z]+)( )([a-z]+))+$/i" maxlength="100" ng-model-options="{debounce:100}" ng-model="api.accountData.fullname" required/></li>
      <li class="settingsAccountItem"><input id="email_phone" autocomplete="on" placeholder="{{::language.dictionary.email_phone}}" class="cInfoInput aii settingsT" type="text" name="email_tel" spellcheck="false" ng-pattern="/^(.+)@([a-z]+)\.([a-z]+)$|^\d+$/" ng-model-options="{debounce:100}" ng-model="api.accountData.email_phone" required/></li>
      <li class="settingsAccountItem"><input id="team_name" autocomplete="on" placeholder="{{::language.dictionary.team_name}}" class="cInfoInput aii settingsT" type="text" name="team_name" maxlength="100" ng-model="api.accountData.name" ng-model-options="{debounce:100}" required/></li>
      <li class="settingsAccountItem"><input id="team_nickname" autocomplete="on" placeholder="{{::language.dictionary.team_nickname}}" class="cInfoInput aii settingsT" type="text" name="nickname" ng-pattern="/^[^A-Z ]+$/m" ng-model-options="{debounce:100}" ng-model="api.accountData.nickname" maxlength="100" required/></li>
      <li class="settingsAccountItem"><input id="team_description" autocomplete="off" placeholder="{{::language.dictionary.team_description}}" class="cInfoInput aii settingsT" type="text" name="description" maxlength="150" ng-model-options="{debounce:100}" ng-model="api.accountData.description"/></li>
      <li class="settingsAccountItem"><input id="team_color" autocomplete="off" spellcheck="false" placeholder="{{::language.dictionary.team_theme_color}}" class="cInfoInput aii settingsT" type="text" name="color" ng-change="changeBG()" ng-model="api.accountData.theme_color" ng-pattern="/^#((?!f{3}|3{3})([0-9]|[A-F]){3}|(?!f{6}|3{6})([0-9]|[A-F]){6})$/i"/></li>
      <li class="settingsAccountItem"><input id="team_accent_color" autocomplete="off" spellcheck="false" placeholder="{{::language.dictionary.team_accent_color}}" class="cInfoInput aii settingsT" type="text" name="color" ng-change="changeBCD()" ng-model="api.accountData.accent_color" ng-pattern="/^#((?!f{3}|3{3})([0-9]|[A-F]){3}|(?!f{6}|3{6})([0-9]|[A-F]){6})$/i"/></li>
      <input class="settingsAccountLink" ng-show="accountForm.$valid && accountForm.$dirty" type="submit" ng-class="{'updating' : api.request_pending}" value="{{::language.dictionary.update_account_info}}"/>
    </form>
  </div>

  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.team_logo}}</h1>
    <span class="pHd"></span>
    <form class="pF" name="logoForm" ng-submit="updateLogo()">
      <li class="settingsAccountItem">
        <span class="imageFile s" ng-bind="api.imagesInfo.logo || language.dictionary.select_image"></span>
        <input id="logo_image" class="imageFile s h" type="file" accept="image/*" name="logo_image" ng-model="api.imagesInfo.logo" on-file-select="fileSelectedL" required/>
      </li>
      <input class="settingsAccountLink" ng-show="logoForm.$valid" type="submit" ng-class="{'updating' : api.request_pending}" value="{{::language.dictionary.update_logo}}"/>
    </form>
  </div>

  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.team_theme}}</h1>
    <span class="pHd"></span>
    <form class="pF" name="themeForm" ng-submit="updateTheme()">
      <li class="settingsAccountItem">
        <span class="imageFile s" ng-bind="api.imagesInfo.theme || language.dictionary.select_image"></span>
        <input id="theme_image" class="imageFile s h" type="file" accept="image/*" name="theme_image" ng-model="api.imagesInfo.theme" on-file-select="fileSelectedT" required/>
      </li>
      <input class="settingsAccountLink" ng-show="themeForm.$valid" type="submit" ng-class="{'updating' : api.request_pending}" value="{{::language.dictionary.update_theme_image}}"/>
    </form>
  </div>

  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.contact_info}}</h1>
    <span class="pHd"></span>
    <form class="pF" name="contactForm" ng-submit="api.updateContactInfo(this)">
      <li class="settingsAccountItem"><input id="email" autocomplete="on" placeholder="{{::language.dictionary.email}}" class="cInfoInput aii settingsT" type="email" name="email" spellcheck="false" ng-model="api.contactInfo.email" ng-model-options="{debounce:100}"/></li>
      <li class="settingsAccountItem"><input id="phone" autocomplete="on" placeholder="{{::language.dictionary.phone}}" class="cInfoInput aii settingsT" type="tel" name="tel" spellcheck="false" ng-model="api.contactInfo.phone_number" ng-model-options="{debounce:100}"/></li>
      <li class="settingsAccountItem"><input id="website_ci" placeholder="{{::language.dictionary.website}}" class="cInfoInput cii settingsT" name="website" type="url" ng-model="api.contactInfo.website" ng-model-options="{debounce:100}" ng-pattern="/^(http:\/\/|https:\/\/)(.+\..+\..+)$/mi"/></li>
      <li class="settingsAccountItem"><input id="fb_un" autocomplete="on" placeholder="{{::language.dictionary.facebook_username}}" class="cInfoInput aii settingsT" ng-model="api.contactInfo.facebook" type="text" name="username" spellcheck="false"/></li>
      <li class="settingsAccountItem"><input id="ig_un" autocomplete="on" placeholder="{{::language.dictionary.instagram_username}}" class="cInfoInput aii settingsT" ng-model="api.contactInfo.instagram" type="text" name="username" spellcheck="false"/></li>
      <input class="settingsAccountLink" ng-show="contactForm.$valid && contactForm.$dirty" type="submit" ng-class="{'updating' : api.request_pending}" value="{{::language.dictionary.update_contact_info}}"/>
    </form>
  </div>

  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.change_password}}</h1>
    <span class="pHd"></span>
    <form class="pF" name="passwordForm" ng-submit="api.updatePassword(this)" autocomplete="off">
      <li class="settingsAccountItem"><input id="current-password" autocomplete="off" placeholder="{{::language.dictionary.current_password}}" class="cInfoInput aii settingsT" type="password" name="current-password" ng-model="api.passwordInfo.current" ng-model-options="{debounce:100}" spellcheck="false" ng-maxlength="50" required/></li>
      <li class="settingsAccountItem"><input id="new-password" autocomplete="off" placeholder="{{::language.dictionary.new_password}}" class="cInfoInput aii settingsT" type="password" name="new-password" ng-model="api.passwordInfo.new" ng-model-options="{debounce:100}" spellcheck="false" ng-maxlength="50" required/></li>
      <input class="settingsAccountLink" ng-show="passwordForm.$valid && passwordForm.$dirty" type="submit" ng-class="{'updating' : api.request_pending}" value="{{::language.dictionary.update_password}}"/>
    </form>
  </div>

  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.company_status}}</h1>
    <span class="pHd"></span>
    <p class="pST settingsT" ng-if="api.cs != 0">{{::language.dictionary.cs[api.cs]}}</p>
    <form class="pF" name="companyForm" ng-submit="api.updateCompanyStatus(this)" ng-if="api.cs == 0" autocomplete="off">
      <li class="settingsAccountLinkA settingsT"><a href="/" class="sLinkA">{{::language.dictionary.wis}}</a></li>
      <input class="settingsAccountLink" type="submit" ng-class="{'updating' : api.request_pending}" value="{{::language.dictionary.rtbc}}"/>
    </form>
  </div>

  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.members}}</h1>
    <span class="pHd"></span>
    <form class="pF" name="membersForm" ng-submit="api.updateMembers(this)">
      <li class="settingsAccountItem"><input id="team_code" autocomplete="on" placeholder="{{::language.dictionary.team_code}}" class="cInfoInput aii settingsT" type="text" name="code" spellcheck="false" ng-model="api.membersInfo.code" ng-minlength="4" ng-maxlength="14" required/></li>
      <li class="settingsAccountItem settingsT">
        <span class="cToggleText">{{::language.dictionary.private_team}}</span>
        <span class="cToggle">
          <label class="switch">
            <input type="checkbox" class="toggle_bs" ng-model="api.membersInfo.public" ng-false-value="true" ng-true-value="false" name="private_team">
            <div class="slider round"></div>
          </label>
        </span>
      </li>
      <li class="settingsAccountItem settingsT">
        <span class="cToggleText">{{::language.dictionary.team_open}}</span>
        <span class="cToggle">
          <label class="switch">
            <input type="checkbox" ng-model="api.membersInfo.open" class="toggle_bs" name="open_team">
            <div class="slider round"></div>
          </label>
        </span>
      </li>
      <input class="settingsAccountLink" ng-show="membersForm.$valid && membersForm.$dirty" type="submit" ng-class="{'updating' : api.request_pending}" value="{{::language.dictionary.update_member_settings}}"/>
    </form>
  </div>

  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.membership}}</h1>
    <span class="pHd"></span>
    <p class="pST settingsT">{{::language.dictionary[api.membershipInfo.plan]}}</p>
    <li class="settingsAccountItem settingsT" ng-if="team.membership_active">
      <span class="cToggleText">{{::language.dictionary.auto_renew}}:<span ng-if="api.membershipInfo.auto_renew" class="spanm">{{::language.dictionary.on}}</span><span ng-if="!api.membershipInfo.auto_renew" class="spanm">{{::language.dictionary.off}}</span></span>
      <span class="cToggle">
        <label class="switch">
          <input type="checkbox" class="toggle_bs" name="desktop_notifications">
          <div class="slider round"></div>
        </label>
      </span>
    </li>
    <p class="pST settingsT" ng-if="team.membership_active">{{::language.dictionary.expiration_date}}: {{api.membershipInfo.expiration_date | date : 'mm/DD/yyyy'}}</p>
    <p class="pST settingsT" ng-if="team.membership_active">{{::language.dictionary.credit_card_digit}}: {{api.membershipInfo.digits}}</p>
    <p class="pST settingsT" ng-if="team.membership_active">{{::language.dictionary.price}}: {{api.membershipInfo.price}}</p>
    <a class="settingsAccountLink" href="/membership">{{::language.dictionary.update_membership}}</a>
  </div>

  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.notifications}}</h1>
    <span class="pHd"></span>
    <form class="pF" name="notificationsForm" ng-submit="api.updateNotifications(this)">
      <li class="settingsAccountItem settingsT">
        <span class="cToggleText">{{::language.dictionary.allow_desktop_notifications}}</span>
        <span class="cToggle">
          <label class="switch">
            <input type="checkbox" class="toggle_bs" ng-click="desktopNotifications($event)" ng-checked="{{team.desktop_notifications}}" data-box-checked="{{team.desktop_notifications}}" name="desktop_notifications">
            <div class="slider round"></div>
          </label>
        </span>
      </li>
      <li class="settingsAccountItem settingsT">
        <span class="cToggleText">{{::language.dictionary.email_phone_notifications}}</span>
        <span class="cToggle">
          <label class="switch">
            <input type="checkbox" class="toggle_bs" ng-model="api.notificationsInfo.email_phone" name="ep_notifications">
            <div class="slider round"></div>
          </label>
        </span>
      </li>
      <li class="settingsAccountItem"><input id="frequency_not" placeholder="{{::language.dictionary.notification_freq}}" class="cInfoInput aii settingsT" ng-model="api.notificationsInfo.freq" type="number" name="notification_freq" min="1" max="50" required/></li>
      <input class="settingsAccountLink" ng-show="notificationsForm.$valid && notificationsForm.$dirty" type="submit" ng-class="{'updating' : api.request_pending}" value="{{::language.dictionary.update_notification_settings}}"/>
    </form>
  </div>

  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.help}}</h1>
    <span class="pHd"></span>
    <li class="settingsAccountLinkA settingsT"><a href="/terms" class="sLinkA">{{::language.dictionary.t_and_c}}</a></li>
    <li class="settingsAccountLinkA settingsT"><a href="/cookies_policy" class="sLinkA">{{::language.dictionary.cookies_policy}}</a></li>
    <li class="settingsAccountLinkA settingsT"><a href="/forums" class="sLinkA">{{::language.dictionary.forums}}</a></li>
    <li class="settingsAccountLinkA settingsT"><a href="/contact_us" class="sLinkA">{{::language.dictionary.contact_us}}</a></li>
  </div>

  <hr class="dM" />
  <div class="floatingCW">
    <button type="button" id="delAccount" ng-class="{'updating' : api.request_pending}" ng-click="api.delete()">{{::language.dictionary.delete_account}}</button>
    <input type="text" id="delAccountInt" ng-hide="dpc" ng-keyup="dp()" placeholder="{{::language.dictionary.delete_account_pre}}"/>
  </div>
</div>
