#return_link {
  left: 1%;
  float: left;
}

.r_link {
  display: flex;
  height: 40px;
  width: 120px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: 1%;
  color: white;
  cursor: pointer;
  background-color: #2ecc71;
  position: relative;
}

.not_ava_img {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  top: 100px;
  display: block;
}

.percentage {
  color: white;
}

.labs_verified-l {
  position: absolute;
  left: 10px;
  float: left;
  top: 5px;
}

.labs_verified-r {
  position: absolute;
  right: 12.5px;
  float: right;
  top: 5px;
}

.na {
  position: relative;
  margin-top: 200px !important;
}

#report_link {
  right: 1%;
  float: right;
}

.r_link:hover {
  background-color: #27ae60;
}

.not_target {
  color: red !important;
}

#description_section {
  height: auto;
  width: 80%;
  margin-left: 10%;
  margin-top: 12.5px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px #aaa;
}

#description_section:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
  height: 100px;
  font-size: 18px;
}

#stacks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100px;
  font-size: 22px;
  flex-direction: row;
}

#stacks:hover .stacks_icon {
  opacity: 0;
}

#stacks:hover #stacks_amount {
  opacity: 1;
}

#stacks_amount {
  display: flex;
  position: absolute;
  height: 50px;
  width: 100%;
  font-size: 20px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.stacks_icon {
  display: block;
  height: auto;
  width: 150px;
  opacity: 0.5;
  transition: opacity 0.25s;
}

#answer_section {
  height: auto;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 2px #aaa;
}

#answer_section:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.questionList {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0;
  list-style-type: none;
  list-style: none;
  padding: 0;
}

.questionContainer {
  position: relative;
  height: auto;
  padding: 0;
  padding-top: 45px;
  padding-bottom: 45px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  width: 100%;
  height: 100%;
  position: relative;
}

.freeResponseInput::-webkit-input-placeholder {
  color: #2c3e50;
}
.freeResponseInput::-moz-placeholder {
  color: #2c3e50;
}
.freeResponseInput:-ms-input-placeholder {
  color: #2c3e50;
}
.freeResponseInput:-moz-placeholder {
  color: #2c3e50;
}

#coins {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 60px;
  font-size: 22px;
  flex-direction: row;
}

#coins:hover .coins_icon {
  opacity: 0;
}

#coins:hover #coins_amount {
  opacity: 1;
}

#coins_amount {
  display: flex;
  position: absolute;
  height: 40px;
  width: 100%;
  font-size: 20px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.coins_icon {
  display: block;
  height: auto;
  width: 40px;
  opacity: 0.5;
  transition: opacity 0.25s;
}

.poll_img {
  height: auto;
  display: inline;
  width: 300px;
  left: calc(50% - 150px);
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.poll_question {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 0;
}

.poll_list {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
}

.poll_item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  background: #2c3e50;
  font-size: 16px;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}

.poll_item:hover {
  background: #2c3e50;
  cursor: pointer;
}

.poll_percentage {
  background-color: #2ecc71;
  transition: width 1s;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  cursor: default;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nextPoll {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 60%;
  left: 20%;
  height: 60px;
  top: 20px;
  border: none;
  font-family: OpenSans-Light;
  margin-bottom: 20px;
  border-radius: 0;
  cursor: pointer;
}

#nextPoll:hover {
  background-color: #2ecc71;
  color: white;
}

.pollDisabled:hover {
  background-color: #2c3e50 !important;
  cursor: default;
}

.questionInp {
  position: relative;
  left: 0;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  height: 40px;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  border: none;
  outline: none;
  font-size: 18px;
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: all 500ms;
}

.questionInp:focus {
  width: 96%;
  border-bottom: 2px solid #2ecc71;
}

.questionInp.ng-touched.ng-dirty {
  width: 96%;
}

.questionInp.ng-invalid {
  animation: invalidInput 300ms;
}

.freeResponseInput {
  height: 30px;
  position: relative;
  width: 350px;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  left: 20px;
  font-family: OpenSans-Light;
  transition: width 500ms;
}

.freeResponseInput.ng-untouched {
  width: calc(100% - 40px);
}

.freeResponseInput:focus {
  width: calc(100% - 40px);
  border-color: #2ecc71;
  font-size: 16px;
}

.freeResponseInput.ng-invalid {
  animation: invalidInput 300ms;
}

.foc {
  width: calc(100% - 40px) !important;
  border-color: #2ecc71 !important;
  font-size: 16px !important;
}

.questionText {
  position: relative;
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
  margin-left: 20px;
  height: auto;
  min-height: 30px;
}

.questionTextB {
  position: relative;
  width: calc(100% - 120px);
  display: flex;
  height: auto;
  min-height: 30px;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
  margin-left: 20px;
  float: left;
}

.optionsUl {
  height: auto;
  position: relative;
  width: calc(100% - 80px);
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 40px;
  margin-right: 40px;
  top: 10px;
}

.chU {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

input.chckbx[type="checkbox"],
input.chckbxrad[type="radio"] {
  position: absolute;
  height: 18px;
  width: 18px;
  z-index: 1;
  opacity: 0;
  left: 0;
  top: 3px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input.menuChk[type="radio"] {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.chckcontainer {
  margin: 0;
  padding: 0;
  height: 45px;
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
}

.begin-timer {
  width: 200px;
  height: 200px;
  background-color: #2ecc71;
  color: white;
  margin: 0 auto;
  border-radius: 100px;
  border: 1px solid #2ecc71;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px #aaa;
  font-size: 72px;
}

.begin-timer:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.time {
  margin: 0 auto;
  font-size: 72px;
  width: 100%;
  text-align: center;
}

.time-exagerated {
  margin: 0 auto;
  font-size: 92px;
  width: 100%;
  text-align: center;
  color: red;
}

.chckbx:checked + .chkcbox--act::after {
  content: "\2713";
  background-color: #2ecc71;
  border-color: #2ecc71;
  opacity: 1;
}

.chckbxrad:checked + .chkcrad--act::after {
  content: "\2713";
  opacity: 1;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.chkcbox--act::after {
  margin: 0;
  padding: 0;
  content: '';
  background-color: transparent;
  border: 2px solid #2c3e50;
  opacity: 0.8;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 0;
  top: 3px;
  color: white;
  font-size: 12px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s, content 0.1s, border-color 0.1s;
  text-indent: 0px;
}

.chkcrad--act::after {
  margin: 0;
  padding: 0;
  content: '';
  background-color: transparent;
  border: 2px solid #2c3e50;
  opacity: 0.8;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 0;
  top: 3px;
  color: white;
  font-size: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s, content 0.1s, border-color 0.1s;
  text-indent: 0px;
}

.chckbxlbl {
  margin: 0;
  padding: 0;
  position: relative;
  height: 22px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-indent: 25px;
  margin-right: 5px;
  overflow: auto;
  white-space: nowrap;
  min-width: 0px;
  cursor: pointer;
}

.mrU {
  display: block !important;
  max-height: 300px;
  overflow-y: scroll;
}

.menuOptionContainer {
  display: block;
  position: relative;
  height: 45px;
  width: 100%;
  background: transparent;
  cursor: pointer;
}

.menuOptText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
}

input.menuChk:checked + .menuOptText {
  background-color: #d8d9d9;
}

.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  right: 20px;
  float: right;
}

.switch input {
  display:none;
}

input.toggle_bs[type="checkbox"] {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.toggle_bs:checked + .slider {
  background-color: #2ecc71;
}

.toggle_bs:focus + .slider {
  box-shadow: 0 0 1px #2ecc71;
}

.toggle_bs:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

#submitResponses {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 80%;
  left: 10%;
  height: 60px;
  margin-bottom: 12.5px;
  border: none;
  font-family: OpenSans-Light;
  border-radius: 5px;
  cursor: pointer;
}

#submitResponses:hover {
  background-color: #2ecc71;
  color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#response {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 60%;
  left: 20%;
  height: 30px;
  color: red;
  top: 20px;
  font-family: OpenSans-Light;
  margin: 0;
  margin-bottom: 20px;
}

.req {
  position: absolute;
  right: 2%;
  top: 0;
  color: #2ecc71;
  font-size: 22px;
}

.reqt {
  position: relative;
  color: #2ecc71;
  font-size: 22px;
}

#req_warning {
  position: relative;
  width: 100%;
  height: 50px;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-indent: 20px;
}

.freeResponseInput.ng-invalid.ng-dirty, .freeResponseInput.ng-invalid.ng-touched, .freeResponseInput.ng-empty.ng-touched {
  border-color: red !important;
  font-size: 16px !important;
  width: calc(100% - 40px) !important;
}

@media (max-width: 500px) {
  .req {
    right: 1%;
    font-size: 18px;
  }

  .freeResponseInput {
    font-size: 15px !important;
    margin-left: 15px;
    margin-right: 15px;
    left: 0;
    width: calc(100% - 30px);
  }

  .cToggle {
    width: 40px;
  }

  .cToggleText {
    width: calc(100% - 34px);
  }

  .switch {
    width: 36px;
    height: 18px;
    right: 10px;
    top: 7.5px;
  }

  #description_section, #description_section:hover, #answer_section, #answer_section:hover {
    margin-top: 25px;
    box-shadow: none;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  #submitResponses {
    width: 90%;
    left: 0;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
  }

  .floatingCW {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .toggle_bs:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
  }

  .slider:before {
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
  }

  .stacks_icon {
    width: 100px;
  }

  #return_link {
    margin-left: 5%;
  }

  #report_link {
    margin-right: 5%;
  }

  .optionsUl {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }

  .questionText {
    width: calc(100% - 10px);
    margin-left: 10px;
  }

  .r_link {
    margin-top: 25px;
  }
}
