[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*
  *
  * THESE WILL BE OUR MAIN COLORS
  *
  * MAIN COLOR: #2ecc71 , 46	204	113
  * MAIN DARK COLOR: #27ae60, 39	174	96
  * COLOR ACCENT : #2c3e50, 44	62	80
  *
*/

/*
  *
  * THIS WILL SET ALL FONTS THAT CAN BE USED
  *
*/

@font-face {
    font-family: OpenSans-Bold;
    src: url("/fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: OpenSans-BoldItalic;
    src: url("/fonts/OpenSans-BoldItalic.ttf");
}

@font-face {
    font-family: OpenSans-Italic;
    src: url("/fonts/OpenSans-Italic.ttf");
}

@font-face {
    font-family: OpenSans-Light;
    src: url("/fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: OpenSans-LightItalic;
    src: url("/fonts/OpenSans-LightItalic.ttf");
}

@font-face {
    font-family: OpenSans-Regular;
    src: url("/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url("/fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: OpenSans-SemiBoldItalic;
    src: url("/fonts/OpenSans-SemiBoldItalic.ttf");
}

@font-face {
    font-family: OpenSans-Thin;
    src: url("/fonts/OpenSans-Thin.ttf");
}

@font-face {
    font-family: OpenSans-ThinItalic;
    src: url("/fonts/OpenSans-ThinItalic.ttf");
}

.material-icons {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  color: white;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-38 {
  font-size: 38px;
}

.material-icons.md-34 {
  font-size: 34px;
}

.material-icons.md-32 {
  font-size: 32px;
}

.material-icons.md-30 {
  font-size: 30px;
}

.material-icons.md-26 {
  font-size: 26px;
}

.material-icons.md-22 {
  font-size: 22px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-16 {
  font-size: 16px;
  font-weight: bold;
}

.material-icons.md-14 {
  font-size: 14px;
  font-weight: bold;
}

.updating {
  cursor: progress !important;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 300px;
  background: #333;
  -webkit-appearance: none;
  overflow: auto;
  min-height: 500px;
  min-width: 300px;
}

*{
  outline: none;
  -moz-outline: none;
  -webkit-outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: OpenSans-Light, sans-serif;
  color: #2c3e50;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  min-width: 0;
}

.selectable {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

b {
  font-family: OpenSans-Regular, sans-serif;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="submit"], input[type="url"], input[type="number"] {
  font-family: OpenSans-Light;
  -webkit-appearance: none;
  border-radius: 0;
}

fieldset {
  border: none;
  padding: 0;
}

fieldset:disabled {
  cursor: not-allowed;
}

button {
  letter-spacing: 1px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  -webkit-border-color: #fff;
  -moz-border-radius: 0;
  /* outline: none; */
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill {
  outline: none;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition-delay: 99999s;
  -webkit-text-fill-color: #2c3e50;
  -webkit-border-before: 2px solid rgba(0,0,0,0.1);
}

li {
  letter-spacing: 1px;
}

.reqPending {
  cursor: progress !important;
}

.hidden {
  display: none !important;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: 0.5s;
  animation-name: fadeOut;
  animation-duration: 0.5s;
}

.loadingP {
  top: 4%;
  height: 96%;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.loading {
  border: 4px solid transparent;
  border-radius: 50%;
  border-top: 4px solid #2ecc71;
  width: 50px;
  height: 50px;
  margin-top: 30px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.loading.l-40 {
  width: 40px;
  height: 40px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.8;
  } to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.8;
  } to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0.8;
  } to {
    opacity: 1;
  }
}


@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  } to {
    opacity: 0.8;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  } to {
    opacity: 0.8;
  }
}

@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  } to {
    opacity: 0.8;
  }
}

.snackbar {
  position: fixed;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  background-color: #2c3e50;
  height: 50px;
  bottom: 5%;
  left: calc(50% - 125px);
  z-index: 100000000000000;
  display: none;
}

.alert {
  color: white;
  font-size: 18px;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: default;
}
