#update:hover {
  background-color: #2ecc71;
  color: white;
}

#update {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  margin: 0;
  background: transparent;
  padding: 0;
  height: 60px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: OpenSans-Light;
}

#delete {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
  background: transparent;
  height: 60px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: OpenSans-Light;
}

#delete:hover {
  background-color: red;
  color: white;
}

input#deleteI::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
input#deleteI::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
input#deleteI:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
input#deleteI:-moz-placeholder { /* Firefox 18- */
  color: white;
}

#delete:focus {
  background: red;
  color: white;
}

#deleteI {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background: red;
  border: none;
  height: 60px;
  text-align: center;
  position: relative;
  bottom: 80px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  z-index: 1;
  color: white;
}

#image.ng-invalid {
  color: red !important;
}

#add {
  right: 6%;
  color: #2ecc71;
}
