html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9eaea;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@font-face {
    font-family: OpenSans-Light;
    src: url("/fonts/OpenSans-Light.ttf");
}

.logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.error_code {
  font-family: OpenSans-Light;
  font-size: 44px;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error_message {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: OpenSans-Light;
  font-size: 28px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
