.pattern-label {
  position: relative;
  width: calc(100% - 20px);
  height: auto;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

.correct_answer_ta {
  position: relative;
  height: auto;
  width: calc(100% - 20px);
  border: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  resize: none;
  overflow: hidden;
}

.lpa {
  position: absolute;
  float: right;
  right: 20px;
  bottom: 20px;
  color: #2ecc71;
  cursor: pointer;
}

.lpa-red {
  position: absolute;
  float: right;
  right: 20px;
  bottom: 20px;
  color: red;
  cursor: pointer;
}
