.nav {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
  font-size: 28px;
  display: block;
  z-index: 9;
  cursor: pointer;
}

#navDrawer {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  -webkit-transition: 3s;
  transition: width 3s;
  background-color: rgba(0,0,0,0.8);
  z-index: 10;
  display: none;
}

#navList {
  width: 0;
  height:100%;
  background-color: #2ecc71;
  list-style-type: none;
  list-style: none;
  padding: 0;
  position: absolute;
  right: 0;
  margin: 0;
  min-width: 250px;
}

.navItem {
  text-align: center;
  width: 100%;
  height: 8%;
  color: white;
  font-size: 26px;
}

.navItem:hover {
  background-color: #27ae60;
}

.navLink {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media (max-height: 500px), (max-width: 800px) {
  .navItem {
    font-size: 22px;
  }
}
