.disappear,
.disappear.ng-enter,
.disappear.ng-move,
.disappear.ng-leave {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.disappear.ng-move,
.disappear.ng-enter,
.disappear.ng-leave.ng-leave-active {
  opacity: 0;
}

.disappear.ng-move.ng-move-active,
.disappear.ng-leave,
.disappear.ng-enter.ng-enter-active {
  opacity: 1;
}

#main_list {
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  height: auto;
  width: 100%;
  display: block;
}

#noSurveysContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

#ns_text {
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 22px;
}

#ns_n {
  position: relative;
  width: 100%;
  text-align: center;
  height: 60px;
  font-size: 22px;
}

#ns_nn {
  font-size: 14px;
}

.sed {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  position: absolute;
  float: right;
  right: 5px;
  top: 5px;
  color: #27ae60;
  z-index: 1000;
}

.surveyEContainer {
  flex-basis: calc(90% / 5);
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-flex;
  position: relative;
}

.bstart {
  justify-content: flex-start;
}

.bmiddle {
  justify-content: center;
}

.bend {
  justify-content: flex-end;
}

.fives {
  flex-basis: calc(90% / 5);
}

.fours {
  flex-basis: calc(92% / 4);
}

.threes {
  flex-basis: calc(94% / 3);
}

.twos {
  flex-basis: calc(96% / 2);
}

.singles {
  flex-basis: calc(98% / 1);
}

.Wrapper {
  height: 250px;
  width: 200px;
  background: transparent;
  display: block;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}
