.item_questions {
  position: relative;
  width: 90%;
  margin: 0;
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
  display: block;
  list-style: none;
  list-style-type: none;
}

.response_item {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 40px;
  width: 100%;
}

.chkcrad--act::after {
  margin: 0;
  padding: 0;
  content: '';
  background-color: white;
  border: 2px solid #2c3e50;
  opacity: 0.8;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s, content 0.1s, border-color 0.1s;
  text-indent: 0px;
}

input[type="radio"] {
  position: absolute;
  height: 18px;
  width: 18px;
  z-index: 1;
  opacity: 0;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.radio_item_container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.radio_response_input {
  width: 40%;
  height: 35px;
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

.radio_response_input:focus {
  width: calc(100% - 60px);
  border-bottom: 2px solid #2ecc71;
  transition: all 0.5s;
}

.radio_response {
  position: relative;
  width: 100%;
  height: 60px;
}

.radio_response_item_container {
  position: relative;
  left: 0;
  float: left;
  width: 20px;
  height: 20px;
  border: none;
  top: 20px;
}

.radio_response_item_input {
  width: 20%;
  min-width: 150px;
  height: 35px;
  float: left;
  left: 10px;
  top: 12.5px;
  position: relative;
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

.radio_response_item_input:focus {
  width: calc(100% - 135px);
  border-bottom: 2px solid #2ecc71;
  transition: all 0.5s;
}

#imageLink {
  margin-left: 2%;
  margin-right: 2%;
}

#imageLink:focus {
  width: 96%;
  transition: all 0.5s;
}

@media (max-width: 500px) {
  .radio_response_item_container {
    display: none;
  }

  .radio_response_item_input {
    left: 0px;
    font-size: 14px;
  }

  .radio_response_item_input:focus {
    width: calc(100% - 30px);
  }
}
