.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#toolbar_container {
  height: 6%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  min-height: 40px;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.5);
  z-index: 1;
}

hr.dM {
  position: relative;
  width: 100%;
  height: 1px;
  background: transparent;
  border-color: transparent;
  margin-top: 25px;
  margin-bottom: 25px;
}

#tab_header {
  position: relative;
  float: left;
  width: 15%;
  height: 100%;
  display: flex;
  text-indent: 10px;
  align-items: center;
  font-size: 28px;
  color: #2ecc71;
}

#tabs_toolbarc {
  position: relative;
  float: right;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab_h {
  text-decoration: none;
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  color: #2ecc71;
  font-size: 18px;
  cursor: pointer;
}

.tab_h:hover {
  background-color: #e9eaea;
}

#header_image {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  background-color: #2c3e50;
}

#header {
  position: relative;
  height: 40%;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 52px;
}

#subheader {
  position: relative;
  top: 10%;
  height: 20%;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 28px;
}

#tabs_container {
  position: relative;
  height: 30%;
  padding: 0;
  margin: 0;
  top: 10%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: OpenSans-Light;
}

.tab {
  text-decoration: none;
  position: relative;
  height: 50%;
  padding: 0;
  margin: 0;
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: OpenSans-Light;
}

#header_container {
  position: relative;
  padding: 0;
  margin: 0;
  height: 55%;
  width: 100%;
}

#main_container {
  padding: 0;
  margin: 0;
  position: relative;
  height: 38%;
  width: 100%;
}

.tab_box {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#main_section {
  padding: 0;
  position: relative;
  height: auto;
  width: 65%;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
  display: block;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden;
  background: #fff;
  border-radius: 5px 5px 5px 5px;
}

.floatingCW {
  width: 80%;
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  height: auto;
  background: white;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 2px #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.floatingCW:empty {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.floatingCW:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.pH {
  position: relative;
  display: flex;
  font-size: 20px;
  height: 50px;
  margin: 0;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.pHd {
  display: block;
  width: 30px;
  height: 3px;
  background: #2ecc71;
  margin: 0 auto;
  position: relative;
  margin-top: 4px;
  margin-bottom: 12.5px;
}

.pM {
  height: 100px;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.pS {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.profileTheme {
  position: relative;
  min-height: 250px;
  max-height: 300px;
  width: 100%;
}

.themeImg {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  min-height: 250px;
  max-height: 300px;
  height: auto;
}

.stats_container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.profilePictureContainer {
  width: 200px;
  height: 220px;
  border-radius: 50%;
  position: relative;
  border: 1px solid transparent;
}

.profilePicture {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  top: 10px;
}

.profilePicEdit {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0;
  top: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.totalCoinsContainer {
  width: 200px;
  height: 220px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalStacksContainer {
  width: 200px;
  height: 220px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalCoinsAmount:hover, .totalStacksAmount:hover {
  opacity: 1;
}

.totalCoinsAmount:hover + img, .totalStacksAmount:hover + img {
  opacity: 0.6;
}

.coinImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  opacity: 1;
  display: inline-block;
}

.stackImage {
  width: 140px;
  height: 60px;
  opacity: 1;
  display: block;
}

.ytc {
  text-align: center;
}

.totalCoinsAmount {
  position: absolute;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 32px;
  color: white;
  opacity: 0;
  margin: 0;
  z-index: 1;
  padding: 0;
}

.totalStacksAmount {
  position: absolute;
  width: 140px;
  height: 60px;
  z-index: 1;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 32px;
  color: white;
  margin: 0;
  padding: 0;
}

.profileInfo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}

.contactI {
  height: 80px;
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contactImg {
  position: relative;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
}

#stacks_total {
  background-image: url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_40/v1509897827/constants/stacks_cash.png"),
 url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_40/v1509897827/constants/stacks_cash.png");
 background-size: auto;
 background-repeat: no-repeat;
 background-position: 10px center, right 10px center;
}

#coins_total {
  background-image: url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_40/v1509897827/constants/coin.png"),
 url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_40/v1509897827/constants/coin.png");
 background-size: auto;
 background-repeat: no-repeat;
 background-position: 40px center, right 40px center;
}

@media (max-width: 500px) {
  #main_section {
    width: 100%;
    margin-top: 60px;
    margin-left: 0px;
    margin-right: 0px;
    background: transparent;
  }

  #coins span, #stacks span {
    text-align: center;
    font-size: 15px !important;
  }
}
