#return_link {
  position: absolute;
  left: 1%;
  display: flex;
  height: 40px;
  width: 120px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  top: 1%;
  color: white;
  cursor: pointer;
  z-index: 1000;
  background-color: #2ecc71;
}

#return_link:hover {
  background-color: #27ae60;
}

.header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  margin: 0;
  padding: 0;
  font-size: 44px;
}

#receipt_cont {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.receipt_ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - (300px + 4%));
  margin-left: calc(150px + 2%);
  margin-right: calc(150px + 2%);
}

.receipt_p {
  position: relative;
  margin: 0;
  padding: 0;
  height: 60px;
  display: flex;
  align-items: center;
  width: calc(100% - (300px + 4%));
  margin-left: calc(150px + 2%);
  margin-right: calc(150px + 2%);
}

._fRI {
  color: #2ecc71;
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  right: 2%;
  top: 0;
  width: 20px;
}

.receipt_li {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 60px;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}

.receipt_lip {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.receipt_a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #2ecc71;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#000;
  height: 1px;
}

.editS {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
  height: 60px;
  width: calc(100% - (300px + 4%));
  margin-left: calc(150px + 2%);
  margin-right: calc(150px + 2%);
  margin-bottom: 20px;
  font-family: OpenSans-Light;
}

.editS:hover {
  background-color: #2ecc71;
  color: white;
}

.ans {
  color: #2ecc71;
  justify-content: center;
  user-select: text !important;
  -webkit-user-select: text !important;
  margin-bottom: 40px;
  cursor: default;
}

.qr {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  display: block;
  margin-bottom: 40px;
}

.heade {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.not_viewable_img {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  top: 100px;
  display: block;
}

.to {
  top: 200px;
}
