/*
  *
  * SESSION
  *
*/

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#view {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#main_section {
  padding: 0;
  position: relative;
  min-height: 90%;
  height: auto;
  width: 65%;
  margin: 0 auto;
  top: 8%;
  margin-bottom: 1%;
  display: block;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden;
  background: #fff;
  border-radius: 5px 5px 5px 5px;
}

.bookmark {
  position: absolute;
  float: right;
  right: 5px;
  top: 5px;
  color: rgba(46,204,113, 0.5);
  z-index: 1;
}

.bookmarked {
  position: absolute;
  float: right;
  right: 5px;
  top: 5px;
  color: #27ae60;
  z-index: 1;
}

.notif_ol {
  color: red !important;
}

#search_section {
  padding: 0;
  position: absolute;
  min-height: 90%;
  height: auto;
  width: 65%;
  margin: 0 auto;
  top: 8%;
  margin-left: 17.5%;
  margin-bottom: 1%;
  display: block;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden;
  background: #fff;
  border-radius: 5px 5px 5px 5px;
  z-index: 1;
}

#search_list {
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
}

#search_tips {
  padding: 5px;
  width: calc(100% - 2px);
  display: flex;
  font-size: 18px;
  line-height: 30px;
  white-space: pre-wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.sHeader {
  position: relative;
  width: 98%;
  padding: 1%;
  display: flex;
  font-size: 22px;
  height: 40px;
  margin: 0;
  align-items: center;
}

.columnContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  padding: 0;
  justify-content: flex-start;
}

.column {
  position: relative;
  margin-left: 1.66%;
  margin-right: 1.66%;
  list-style: none;
  list-style-type: none;
  display: inline-flex;
  padding: 0;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 30%;
  min-width: 250px;
}

/* survey start ---------------------------- */

.qAnswerURL {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  background: transparent;
  left: 0;
  top: 0;
}

.q-item {
  cursor: pointer;
  background: #fff;
  box-shadow: 0 1px 2px #aaa;
  border-radius: 5px;
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  margin-bottom: 15px;
}

.q-item-b {
  cursor: pointer;
  background: #fff;
  box-shadow: 0 1px 2px #aaa;
  border-radius: 5px;
  flex-basis: calc(90% / 5);
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  height: 200px;
  position: relative;
  top: 0;
}

hr.dM {
  position: relative;
  width: 100%;
  height: 1px;
  background: transparent;
  border-color: transparent;
  margin-top: 25px;
  margin-bottom: 25px;
}

.q-item:hover, .q-item-b:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.q-img {
  border-radius: 5px 5px 0 0;
  position: relative;
  height: auto;
  width: 100%;
}

.q-img-b {
  border-radius: 5px 5px 5px 5px;
  position: relative;
  height: 200px;
  width: 100%;
}

.q-title {
  width: 90%;
  margin: 0;
  text-align: center;
  position: relative;
  color: #2C3E50;
  font-size: 18px;
  margin-left: 5%;
  margin-right: 5%;
}

.q-desc {
  width: 100%;
  position: relative;
  margin: 0;
  margin-top: 12.5px;
  text-align: center;
  font-size: 14px;
  color: #2C3E50;
}

.currencyContainer {
  top: 15px;
  width: 100%;
  height: auto;
  text-align: center;
}

.survey-stack {
  position: relative;
  top: 5px;
}

.poll-coin {
  position: relative;
  top: 8px;
}

.q-c-amount {
  position: relative;
  color: #2C3E50;
  display: inline-block;
}

.creatorMeta {
  width: 100%;
  top: 20px;
  height: 30px;
}

#delAccount {
  background-color: red;
  color: white;
  font-size: 18px;
  height: 65px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#delAccountInt {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 18px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  text-align: center;
}

#delAccountInt::-webkit-input-placeholder {
  color: white;
}
#delAccountInt::-moz-placeholder {
  color: white;
}
#delAccountInt:-ms-input-placeholder {
  color: white;
}
#delAccountInt:-moz-placeholder {
  color: white;
}

.q-pfp {
  float: left;
  display: block;
  position: relative;
  border-radius: 50%;
  bottom: 10px;
}

.qCreator {
  float: left;
  position: relative;
  left: 10px;
  margin: 0;
  top: 5px;
  font-size: 12px;
  display: block;
  color: #2C3E50;
}

.q-item-bottom {
  padding: 10px;
  height: auto;
  position: relative;
}

.pollImage {
  position: absolute;
  height: 85%;
  width: 100%;
  display: block;
  visibility: visible;
  margin: 0;
  padding: 0;
  opacity: 1;
  top: 0;
  left: 0;
  transition: opacity 0.40s, visibility 0.4s;
  z-index: 10;
}

.pollQuestion {
  position: absolute;
  height: 15%;
  width: 100%;
  visibility: visible;
  margin: 0;
  padding: 0;
  opacity: 1;
  bottom: 0;
  left: 0;
  transition: opacity 0.40s, visibility 0.4s;
  z-index: 10;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.interested {
  background: #2ecc71;
}

.uninterested {
  background: #2c3e50;
}

.rewardClaimURL {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100000;
}

.pollCoin {
  position: relative;
  height: 35px;
  width: 35px;
}

.pollCoinV {
  font-size: 18px;
  top: 3px;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
}

/* survey end ------------------------------ */


.userSearchInfo {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40%;
  top: 5%;
}

.userSearchUsername {
  float: left;
  left: 2%;
  position: relative;
  color: #2ecc71;
  letter-spacing: 1px;
}

.userSearchCategory {
  float: right;
  right: 2%;
  position: relative;
  color: #2ecc71;
  letter-spacing: 1px;
}

.userSearchText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 14px;
}

.searchContainer {
  position: relative;
  height: 40%;
  width: 40%;
  min-height: 350px;
  min-width: 300px;
  background: white;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: inline;
  cursor: pointer;
}

.searchContainerU {
  position: relative;
  height: 20%;
  width: 20%;
  min-height: 250px;
  min-width: 200px;
  background: white;
  margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: inline;
  cursor: pointer;
}

.userTop {
  position: relative;
  height: 70%;
  width: 100%;
}

.userPicture {
  position: relative;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  top: 10px;
  image-resolution: snap;
}

.userName {
  position: relative;
  font-size: 22px;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2ecc71;
}

.userInfo {
  position: relative;
  height: 30%;
  width: 100%;
}

#creator_fab {
  right: 15px;
  bottom: 15px;
}

#survey_c {
  right: 15px;
  bottom: 80px;
  display: none;
}

#poll_c {
  right: 15px;
  bottom: 145px;
  display: none;
}

.fab {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000000000;
  box-shadow: 0px 1px 10px 0px #2c3e50;
}

.fab:hover {
  background-color: #29c766;
  border: 1px solid #29c766;
}

.fab_link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab_add {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 34px;
  font-weight: 1;
  outline: none;
}

.rewardContainer {
  height: 250px;
  width: 410px;
  background: white;
  margin-top: 1%;
  margin-bottom: 1%;
  display: inline;
  cursor: pointer;
  position: relative;
  perspective: 30rem;
  border-radius: 5px;
  box-shadow: 0 1px 2px #aaa;
}

.rewardContainer:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.rewardImage {
  position: relative;
  height: 180px;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  opacity: 1;
  border-radius: 5px 5px 0 0;
}

.rewardBottom {
  position: relative;
  height: 70px;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 0 0 5px 5px;
}

.rewardDescription {
  position: relative;
  display: flex;
  height: 35px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  border-radius: 5px;
  justify-content: flex-start;
  text-indent: 10px;
  align-items: center;
}

.rewardMoreInfo {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 35px;
}

.rewardMIText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  text-indent: 10px;
  align-items: center;
  color: #2ecc71;
  text-transform: lowercase;
  font-size: 14px;
}

.rewardMITextH {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  text-indent: 10px;
  align-items: center;
  font-size: 14px;
  position: absolute;
  -webkit-animation: sAnim 3s infinite;
   -moz-animation: sAnim 3s infinite;
   -o-animation: sAnim 3s infinite;
   animation: sAnim 3s infinite;
}

.rewardMITextHN {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  text-indent: 10px;
  align-items: center;
  font-size: 14px;
  position: absolute;
  -webkit-animation: sNAnim 3s infinite;
   -moz-animation: sNAnim 3s infinite;
   -o-animation: sNAnim 3s infinite;
   animation: sNAnim 3s infinite;
}

.rewardMoreInfo:hover .rewardMIText {
  display: none;
}

.rewardLeft {
  position: relative;
  display: flex;
  height: 30%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.wishlist {
  position: absolute;
  float: right;
  right: 5px;
  top: 5px;
  color: rgba(46,204,113,0.5);
  z-index: 1000;
}

.wishlisted {
  position: absolute;
  float: right;
  right: 5px;
  top: 5px;
  color: #27ae60;
  z-index: 10000;
}

.linkBoxContainer {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
}

.linkST {
  height: 55%;
  width: 100%;
  position: absolute;
  z-index: 100;
}

.linkSB {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}

.linkRT {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  mix-blend-mode: luminosity;
}

.linkRB {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}

.buttonDisabled {
  cursor: not-allowed !important;
  background-color: auto !important;
}

.buttonDisabled:hover {
  background-color: transparent !important;
  color: #2c3e50 !important;
}

.buttonLoading {
  cursor: progress !important;
}

.analytic_container {
  width: 720px;
  height: 360px;
  background-color: #f4f4f4;
  margin: auto;
}

.analyticHeader {
  font-size: 18px;
  padding-top: 20px;
  color: #2C3E50;
  text-align: center;
  position: relative;
}

.aHeader {
  height: auto;
  position: relative;
  width: 92%;
  font-size: 22px;
  padding: 0.25%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  align-items: center;
}

.bstart {
  justify-content: flex-start;
}

.bmiddle {
  justify-content: center;
}

.bend {
  justify-content: flex-end;
}

.fives {
  flex-basis: calc(90% / 5);
}

.fours {
  flex-basis: calc(92% / 4);
}

.threes {
  flex-basis: calc(94% / 3);
}

.twos {
  flex-basis: calc(96% / 2);
}

.singles {
  flex-basis: calc(98% / 1);
}

.Wrapper {
  height: 250px;
  width: 200px;
  background: transparent;
  display: block;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

.board {
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  transition: left 0.5s, opacity 0.5s;
}

.floatingCW {
  width: 80%;
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  height: auto;
  background: white;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 2px #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.floatingCW:empty {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.floatingCW:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.pH {
  position: relative;
  display: flex;
  font-size: 20px;
  height: 50px;
  margin: 0;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.pHd {
  display: block;
  width: 30px;
  height: 3px;
  background: #2ecc71;
  margin: 0 auto;
  position: relative;
  margin-top: 4px;
  margin-bottom: 12.5px;
}

.pM {
  height: 100px;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.pS {
  position: relative;
  width: calc(100% - 20px);
  margin: 0;
  padding: 0;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.pS.error {
  color: red;
}

.pF {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.clickable {
  cursor: pointer;
}

#leave_team {
  color: red;
}

.pL {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}

.pI {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
  position: relative;
  height: 50px;
  width: 150px;
  margin-left: 5%;
  margin-right: 5%;
  outline: none;
  border: none;
  font-size: 18px;
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: all 500ms;
}

.pI:focus {
  width: 90%;
  border-bottom: 2px solid #2c3e50;
}

.pI:focus.ng-valid.ng-dirty {
  width: 90%;
  border-bottom: 2px solid #2c3e50;
}

.pI.ng-invalid.ng-dirty {
  width: 90%;
  border-bottom: 2px solid red;
  animation: invalidInput 300ms;
}

@keyframes invalidInput {
  0%, 100% { left: 0px;}
  20% , 60%{left: 5px;}
  40% , 80%{left: -5px;}
}

@-moz-keyframes invalidInput {
  0%, 100% { left: 0px;}
  20% , 60%{left: 15px;}
  40% , 80%{left: -15px;}
}

@-webkit-keyframes invalidInput {
  0%, 100% { left: 0px;}
  20% , 60%{left: 15px;}
  40% , 80%{left: -15px;}
}

.PSB {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 65px;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 5px !important;
  font-size: 18px;
  margin-bottom: 12px;
  background: transparent;
}

.PSB:hover {
  cursor: pointer;
  color: white;
  background: #2ecc71;
}

canvas.chart{
  margin: 0.5%;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px #aaa;
}

canvas.chart:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

canvas.background {
  position: fixed;
  top: 7%;
  left: 0;
  z-index: -1;
}

.arrow_back {
  color: #2C3E50;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
  cursor: pointer;
}

.download {
  color: #2C3E50;
  position: absolute;
  right: 20px;
  float: right;
  top: 20px;
  cursor: pointer;
}

.download_as {
  position: relative;
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
  height: 100%;
  border-radius: 5px;
  color: white;
  opacity: 1;
  height: 50px;
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.download_asfc {
  display: flex;
  height: 45px;
  position: relative;
  width: 92%;
  padding: 0.25%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 4%;
  margin-right: 4%;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  list-style-type: none;
  opacity: 1;
  align-items: center;
}

.download_as:hover:not([disabled]),  .download_f:hover:not([disabled]) {
  border-color: #2c3e50 !important;
  background-color: #2c3e50;
}

.download_as:disabled, .download_f:disabled {
  cursor: progress !important;
}

.doln {
  background-color: #2c3e50 !important;
  border-color: #2c3e50 !important;
}

.download_f {
  position: relative;
  background-color: #2ecc71;
  height: 100%;
  border-radius: 5px;
  color: white;
  opacity: 1;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

#analyticsBoard {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

.board_ms {
  height: auto;
  position: relative;
  width: 92%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.responses {
  height: auto;
  position: relative;
  width: 92%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-right: 4%;
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.responses_u {
  height: auto;
  position: relative;
  width: 92%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 2%;
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.response_q_c {
  width: 100%;
  height: auto;
  position: relative;
}

.response_q {
  width: 100%;
  height: 30px;
  font-size: 16px;
  text-indent: 20px;
  display: flex;
  margin: 0;
  align-items: center;
}

.icon {
  position: absolute;
  right: 15px;
  top: calc(50% - 12px);
  cursor: pointer;
  float: right;
  color: #2c3e50;
}

.response_q_i {
  width: 100%;
  height: auto;
  font-size: 14px;
  min-height: 40px;
  text-indent: 20px;
  display: flex;
  align-items: center;
}

.board_s {
  height: auto;
  position: relative;
  width: 92%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.board_tool {
  position: relative;
  float: left;
  left: 0;
  margin: 0.5%;
  padding: 10px;
  border-radius: 5px;
  background: white;
  height: 100px;
  width: 250px;
  box-shadow: 0 1px 2px #aaa;
}

.board_tool:hover, .board_tool_s:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.board_tool_s {
  position: relative;
  float: left;
  left: 0;
  margin: 0.5%;
  padding: 10px;
  border-radius: 5px;
  background: white;
  height: 90px;
  width: 250px;
  box-shadow: 0 1px 2px #aaa;
}

.tool_header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 30%;
}

#p_motto.ng-not-empty {
  width: 90%;
}

.tool_subH {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin: 0;
  padding: 0;
  height: 70%;
}

.slideIn {
  left: 0;
  opacity: 1;
}

.slideOut {
  left: -100%;
  opacity: 0;
}

.main_list {
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

#dash_chartC {
  width: 80%;
  left: 10%;
  right: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.question_type {
  position: relative;
  margin: 0;
  padding: 0;
  height: 60px;
  display: flex;
  font-size: 18px;
  align-items: center;
  width: calc(100% - (300px + 4%));
  margin-left: calc(150px + 2%);
  margin-right: calc(150px + 2%);
}

.question_response {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.q_attr {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.add_item {
  font-size: 18px;
  color: #2ecc71;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 50px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  width: 96%;
}

.question_item {
  font-size: 16px;
  color: #2ecc71;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 40px;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}

.question_item_d {
  display: flex;
  align-items: center;
  min-height: 60px;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  position: relative;
}


.question_list_d {
  display: block;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 160px;
  overflow-y: auto;
}

.settingsT {
  font-size: 16px;
}

.settingsAccountItem {
  position: relative;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
  display: flex;
  min-height: 50px;
  align-items: center;
}

.settingsAccountItemT {
  position: relative;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
  display: flex;
  height: 40px;
  align-items: center;
}

.cToggleText {
  float: left;
  position: relative;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  white-space: nowrap;
}

.cToggle {
  float: right;
  position: absolute;
  right:0;
  border: none;
  width: 80px;
  height: 30px;
  outline: none;
}

.settingsAccountLink {
  position: relative;
  width: auto;
  display: flex;
  color: #2ecc71;
  height: 40px;
  background: transparent;
  margin: 0 auto;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 18px;
}

.settingsAccountLinkA {
  position: relative;
  width: 95%;
  padding-left: 5%;
  display: flex;
  color: #2ecc71;
  height: 40px;
  margin: 0;
  align-items: center;
}

.cInfoInput.ng-invalid.ng-dirty {
  border-bottom: 2px solid red;
  width: 100%;
  animation: invalidInput 300ms;
}

.cInfoInput {
  position: relative;
  border: none;
  border-bottom: 2px solid transparent;
  height: 35px;
  transition: all 700ms;
  outline: none;
  width: 200px;
}

.cInfoInput.ng-not-empty  {
  width: 90%;
}

.cInfoInput:focus {
  border-bottom: 2px solid #2ecc71;
  width: 100%;
  transition: all 500ms;
}

.sLink {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.sLinkA {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}

.question_cat_item {
  margin-left: 2%;
  width: 98%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  cursor: pointer;
  text-indent: 2%;
  white-space: nowrap;
}

.question_cat_item_i {
  margin-left: 2%;
  width: 98%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  cursor: pointer;
  text-indent: 2%;
  position: relative;
  white-space: nowrap;
}

.question_cat_item:hover {
  background-color: #ccc;
}

.response_input.ng-not-empty {
  width: 100%;
}

.details_response_cat {
  position: relative;
  float: left;
  left: 0;
  width: calc(98% - 30px);
  height: 35px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #757575;
  display: flex;
  text-overflow: clip;
  overflow: hidden;
  align-items: center;
}

._dRI {
  position: relative;
  float: right;
  right: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 20px;
  cursor: pointer;
  color: #2ecc71;
}

.response_input {
  width: 40%;
  min-width: 150px;
  height: 35px;
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  transition: all 0.5s;
}

.response_input:focus {
  width: 100%;
  border-bottom: 2px solid #2ecc71;
}

.response_input.ng-dirty.ng-invalid {
  width: 100%;
  border-bottom: 2px solid red;
  animation: invalidInput 300ms;
}

.remove_item {
  width: 100px;
  position: absolute;
  right: 0;
  float: right;
  height: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 0%;
  color: #2c3e50;
}

.checkbox_type {
  position: absolute;
  right: 2%;
  float: right;
  top: 25px;
  opacity: 0;
  z-index: 1000000;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.checkbox_type:checked + .checkbox_type_c {
  background-color: #2ecc71;
  color: white;
  transition: all 0.1s;
}

.checkbox_type_c {
  color: transparent;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2ecc71;
  float: right;
  top: 25px;
  padding: 0;
  margin: 0;
}

.checkbox_item_container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.item_questions {
  position: relative;
  width: 90%;
  margin: 0;
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
  display: block;
  list-style: none;
  list-style-type: none;
}

.response_item {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 40px;
  width: 100%;
  cursor: pointer;
}

.checkbox_response {
  position: relative;
  width: 100%;
  height: 60px;
}

.checkbox_response_item_container {
  position: relative;
  float: left;
  width: 15px;
  height: 15px;
  top: 22.5px;
}

.checkbox_response_item {
  position: absolute;
  left: 0%;
  opacity: 0;
  z-index: 1000000;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.payment_item_f {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 60px;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  position: relative;
}

.checkbox_response_item_container_p {
  position: relative;
  float: right;
  width: 15px;
  height: 15px;
  margin-left: 2px;
  margin-right: 2px;
}

.checkbox_response_item:checked + .checkbox_response_c {
  background-color: #2ecc71;
  color: white;
  transition: all 0.1s;
}

.checkbox_response_c {
  color: transparent;
  width: 15px;
  height: 15px;
  float: left;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2ecc71;
  padding: 0;
  margin: 0;
}

.response_item_input {
  width: 30%;
  height: 35px;
  float: left;
  left: 10px;
  top: 12.5px;
  position: relative;
  font-size: 14px;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

.response_item_input:focus {
  width: calc(100% - 125px);
  border-bottom: 2px solid #2ecc71;
  transition: all 0.5s;
}

.c {
  top: 11px;
  margin-right: 0%;
}

._bS {
  right: 130px;
  top: auto;
}

.toggle_display:checked + .slider {
  background-color: #2ecc71;
}

.toggle_display:focus + .slider {
  box-shadow: 0 0 1px #2ecc71;
}

.radio_display {
  position: absolute;
  float: right;
  right: 2%;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  top: 22.5px;
}

.radio_input {
  opacity: 0;
  cursor: pointer;
}

.radio_check {
  color: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  cursor: pointer;
}

.radio_input:checked + .radio_check {
  color: white;
}

.slideToConfirm {
    margin-left: 7.5%;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 85%;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.slideToConfirm::-webkit-slider-runnable-track {
    background: #ddd;
}

.slideToConfirm::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px; /* 1 */
    height: 30px; /* 1 */
    background: #27ae60;
    box-shadow: -100vw 0 0 100vw #2ECC71;
}

.slideToConfirm::-moz-range-track {
    height: 40px;
    background: #ddd;
}

.slideToConfirm::-moz-range-thumb {
    background: #27ae60;
    height: 40px;
    width: 40px;
    border: 3px solid #999;
    box-shadow: -100vw 0 0 100vw #2ECC71;

}

.slideToConfirm::-ms-fill-lower {
    background: dodgerblue;
}

.slideToConfirm::-ms-thumb {
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 10px;
    box-sizing: border-box;
}

.slideToConfirm::-ms-ticks-after {
    display: none;
}

.slideToConfirm::-ms-ticks-before {
    display: none;
}

.slideToConfirm::-ms-track {
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

.slideToConfirm::-ms-tooltip {
    display: none;
}

.slideToConfirmText {
  display: block;
  width: 100%;
  top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.profileTheme {
  position: relative;
  min-height: 250px;
  max-height: 300px;
  width: 100%;
}

.themeImg {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  min-height: 250px;
  max-height: 300px;
  height: auto;
}

.inpM {
  position: relative;
  left: 0;
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  height: 40px;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: all 500ms;
}

.inpM:focus {
  width: 90%;
  border-bottom: 2px solid #2ecc71;
}

.inpM.ng-touched.ng-dirty {
  width: 90%;
}

.stats_container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.profilePictureContainer {
  width: 200px;
  height: 220px;
  border-radius: 50%;
  position: relative;
  border: 1px solid transparent;
}

.profilePicture {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  top: 10px;
}

._fRI {
  color: #2ecc71;
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  right: 2%;
  top: 0;
  width: 20px;
}

.profilePicEdit {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0;
  top: 10px;
  border-radius: 50%;
  cursor: pointer;
}

#pfpSelect {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.profilePicEdit:hover {
  background-color: rgba(0,0,0,0.5);
}

.profilePictureAccept {
  position: absolute;
  height: 200px;
  cursor: pointer;
  bottom: 10px;
  width: 200px;
  background-color: #333;
  opacity: 0.9;
  color: white;
  font-size: 16px;
  display: none;
  border-radius: 100px;
}

.profilePictureAccept:hover {
  opacity: 1;
}

.totalCoinsContainer {
  width: 200px;
  height: 220px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalStacksContainer {
  width: 200px;
  height: 220px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalCoinsAmount:hover, .totalStacksAmount:hover {
  opacity: 1;
}

.totalCoinsAmount:hover + img, .totalStacksAmount:hover + img {
  opacity: 0.6;
}

.coinImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  opacity: 1;
  display: inline-block;
}

.stackImage {
  width: 140px;
  height: 60px;
  opacity: 1;
  display: block;
}

.ytc {
  text-align: center;
}

.totalCoinsAmount {
  position: absolute;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 32px;
  color: white;
  opacity: 0;
  margin: 0;
  z-index: 1;
  padding: 0;
}

.totalStacksAmount {
  position: absolute;
  width: 140px;
  height: 60px;
  z-index: 1;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 32px;
  color: white;
  margin: 0;
  padding: 0;
}

.profileInfo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}

.contactI {
  height: 80px;
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contactImg {
  position: relative;
  height: 60px;
  width: 60px;
  top: 0;
  left: 0;
}

#stacks_total {
  background-image: url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_40/v1515269550/constants/stacks_cash.png"),
 url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_40/v1515269550/constants/stacks_cash.png");
 background-size: auto;
 background-repeat: no-repeat;
 background-position: 10px center, right 10px center;
}

#coins_total {
  background-image: url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_40/v1515132992/constants/coin.png"),
 url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_40/v1515132992/constants/coin.png");
 background-size: auto;
 background-repeat: no-repeat;
 background-position: 40px center, right 40px center;
}

/*

  TOOLBAR

*/

.notifications_amount {
  position: absolute;
  color: red;
  font-size: 10px;
}

.notification_d {
  height: 100%;
  width: 100%;
}

.active_link {
  cursor: default !important;
  opacity: 0.5;
}

.hide_outline {
  opacity: 0 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.bl_nv[label="settings"] {
  color: #333 !important;
}

#stc {
  display: flex;
  text-indent: 20px;
  align-items: center;
  cursor: pointer;
}

#toolbar {
  position: fixed;
  height: 7%;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  opacity: 1;
  float: right;
  background-color: #2ecc71;
  min-height: 50px;
  max-height: 80px;
  transition: height 500ms, opacity 500ms;
}

#navExpand {
  position: absolute;
  color: white;
  z-index: 1000;
  cursor: pointer;
  top: 12.5px;
  left: 0.75rem;
  display: none;
}

#toolbar_header {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-size: 22px;
  cursor: default;
}

#search_input::-webkit-input-placeholder { /* Chrome */
  color: white;
}
#search_input:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
#search_input::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
#search_input:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
}

#toolbar_search_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  float: right;
  right: 60px;
}

#toolbar_search {
  position: relative;
  color: white;
  display: inline-flex;
  height: 100%;
  width: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#search_input {
  position: relative;
  color: white;
  border: none;
  border-bottom: 1px solid #fff;
  width: 0px;
  font-size: 18px;
  padding: 0;
  margin: 0;
  height: 30px;
  outline: none;
  background-color: transparent;
}

#toolbar_notification_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  float: right;
  right: 20px;
}

#toolbar_notification {
  position: relative;
  color: white;
  display: inline-flex;
  height: 100%;
  width: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

._order {
  display: flex;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  min-height: 60px;
  position: relative;
  margin-bottom: 12.5px;
  border: none;
  background: transparent;
  border-radius: 5px !important;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

._order:hover {
  background-color: #2ecc71;
  color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#toolbar_wishlist_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  float: right;
  right: 40px;
}

#toolbar_wishlist {
  position: relative;
  color: white;
  display: inline-flex;
  height: 100%;
  width: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.side-nav-block {
  display: block !important;
}

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100%;
  display: block;
  background: #2ECC71;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  overflow: auto;
  z-index: 3;
  box-shadow:  0px 4px 10px #333;
  font-size: 14px;
}

.side-nav:hover {
  width: 15.2rem;
}

.side-nav:hover #pfp_container {
  margin-left: 6rem;
  margin-top: 1rem;
}

.side-nav:hover .hiddenDrawer {
  opacity: 1;
}

.side-nav:hover .container {
  visibility: visible;
  margin-top: 1rem;
}

#drawer_header {
  display: block;
  margin: 0;
  padding: 0;
  height: 150px;
  width: 100%;
  position: relative;
}

#pfp_container {
  display: block;
  float: left;
  height: 3rem;
  width: 3rem;
  position: relative;
  margin-left: 0.5rem;
  margin-top: 3rem;
  border-radius: 50%;
  transition: all 300ms;
}

#pfp {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

#drawer_username_container {
  display: block;
  width: 100%;
  height: 20px;
  float: left;
  position: relative;
}

#username {
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
}

#username_span {
  width: 100%;
  display: flex;
  height: 100%;
  margin-top: 0.4rem;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
  color: white;
}

.hiddenDrawer {
  opacity: 0;
}

.container {
  visibility: hidden;
  margin-top: -10px;
}

#stack_data_container {
  width: 50%;
  height: 40px;
  float: left;
  position: relative;
  transition: all 300ms;
}

#stack {
  display: block;
  margin-left: 2rem;
  margin-top: 7.5px;
  float: left;
}

#stack_amount {
  display: block;
  margin-left: 0.4rem;
  margin-top: 12px;
  float: left;
  color: white;
}

#coin_data_container {
  width: 50%;
  height: 40px;
  float: right;
  position: relative;
  transition: all 300ms;
}

#coin_amount {
  display: block;
  margin-right: 0.4rem;
  margin-top: 12px;
  float: right;
  color: white;
}

#coin {
  display: block;
  margin-right: 2rem;
  margin-top: 7.5px;
  float: right;
}

/* items in nav */
.side-nav > .drawer_item-holder {
  display: table;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 15.2rem;
  position: relative;
}


.side-nav > .drawer_item-holder > .drawer_item {
  display: table-row;
  background: #27AE60;
  cursor: pointer;
  color: white;
}

.side-nav > .drawer_item-holder > .drawer_item:hover {
  background: #27ae60;
  opacity: 0.5;
}

.side-nav > .drawer_item-holder > .drawer_item > .drawer_item-icon, .drawer_item-name {
  height: 3rem;
  line-height: 3rem;
  display: table-cell;
  color: white;
}

.side-nav > .drawer_item-holder > .drawer_item > .drawer_item-icon:nth-child(1), .drawer_item-name:nth-child(1) {
  width: 3.5rem;
  text-align: center;
}

.side-nav > .drawer_item-holder > .drawer_item > .drawer_item-icon:nth-child(2), .drawer_item-name:nth-child(2) {
  width: 10.5rem;
  text-align: left;
  padding-left: 0.7rem;
}

.warning_alert_item {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 10px;
  float: right;
  height: 100%;
  width: 24px;
}

.warning_alert {
  width: 100%;
  height: 24px;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  border-radius: 12px;
  color: white;
  z-index: 1;
  font-size: 12px;
}

#wishlist_container {
  width: 22.5%;
  position: fixed;
  right: 0;
  float: right;
  height: 0%;
  background-color: #fff;;
  top: 8%;
  z-index: 10000;
  min-width: 250px;
  display: none;
  box-shadow: 0px 4px 5px 0.5px rgba(0,0,0,0.2);
}

#wishlist_list {
  padding: 0;
  height: 92%;
  padding-top: 4%;
  padding-bottom: 4%;
  width: 100%;
  list-style: none;
  list-style-type: none;
  margin: 0;
  overflow: auto;
}

#notification_container {
  width: 22.5%;
  position: fixed;
  right: 0;
  float: right;
  height: 0%;
  background-color: #fff;;
  top: 8%;
  z-index: 10000;
  min-width: 250px;
  display: none;
  box-shadow: 0px 4px 5px 0.5px rgba(0,0,0,0.2);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill {
  outline: none;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition-delay: 99999s;
  -webkit-text-fill-color: #2c3e50;
}

#notifications_list {
  height: 100%;
  width: 100%;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.wl {
  cursor: default !important;
}

.wl_h {
  height: 65% !important;
}

.wl_pro {
  height: 35%;
  border-radius: 4px;
  width: 90%;
  background-color: rgba(39, 174, 96, 0.6);
  margin: 0 auto;
  display: block;
}

.wl_pb {
  height: 100%;
  border-radius: 4px 0 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  color: white;
  background-color: #2ecc71;
}

.wi {
  position: absolute;
  right: 5px;
  cursor: pointer;
  z-index: 1;
  float: right;
  top: 5px;
  color: #2ecc71;
}

.wi:hover {
  font-size: 26px !important;
}

.dropdown_item {
  position: relative;
  height: 25%;
  min-height: 50px;
  width: 96%;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
}

.dropdown_item:hover {
  background: #e9eaea;
}

.nicon_tl {
  position: absolute;
  float: left;
  left: 0;
  color: #2ecc71;
  top: 2px;
}

.nicon_tr {
  position: absolute;
  float: right;
  right: 0;
  color: #2ecc71;
  top: 2px;
}

.notLink {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}

#empty_notifications {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frown {
  left: calc(50% - 24px);
  top: 40px;
  position: absolute;
  display: block !important;
}

#empty_notifications:hover {
  background-color: transparent;
}

.ni_header {
  position: relative;
  margin: 0;
  color: #2ecc71;
  padding: 0;
  height: 40%;
  min-height: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 14px;
}

.ni_text {
  font-size: 12px;
  position: relative;
  margin: 0;
  padding: 0;
  height: 60%;
  min-height: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

#imageLink {
  margin-left: 2%;
  margin-right: 2%;
}

.spanned {
  color: #2c3e50;
}

.imageFile {
  width: 50%;
  height: 35px;
  font-size: 15px;
  outline: none;
  border: none;
  margin-left: 2%;
  margin-right: 2%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: start;
  text-indent: 0;
  color: #757575;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

.imageFile.h {
  opacity: 0;
}

@keyframes sNAnim {
  0%   { opacity:1; }
  20%  { opacity:0; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes sNAnim{
  0%   { opacity:1; }
  20%  { opacity:0; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes sNAnim{
  0%   { opacity:1; }
  20%  { opacity:0; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes sNAnim{
  0%   { opacity:1; }
  20%  { opacity:0; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@keyframes sAnim {
  0%   { opacity:0; }
  50%  { opacity:1; }
  70%  { opacity:0; }
  100% { opacity:0; }
}
@-o-keyframes sAnim{
  0%   { opacity:0; }
  50%  { opacity:1; }
  70%  { opacity:0; }
  100% { opacity:0; }
}
@-moz-keyframes sAnim{
  0%   { opacity:0; }
  50%  { opacity:1; }
  70%  { opacity:0; }
  100% { opacity:0; }
}
@-webkit-keyframes sAnim{
  0%   { opacity:0; }
  50%  { opacity:1; }
  70%  { opacity:0; }
  100% { opacity:0; }
}

@media (max-width: 500px) {

  .side-nav {
    width: 3.5rem;
  }

  .side-nav > .drawer_item-holder > .drawer_item > .drawer_item-icon:nth-child(1), .drawer_item-name:nth-child(1) {
    width: 3rem;
  }

  #pfp_container {
    width: 3rem;
    height: 3rem;
    margin-left: 0.25rem;
  }

  #main_section {
    width: calc(100% - 3.5rem);
    left: 3.5rem;
    margin-left: 0px;
    margin-right: 0px;
    background: transparent;
  }

  #toolbar_header {
    font-size: 18px;
  }

  .floatingCW {
    box-shadow: none;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  .pH {
    font-size: 18px;
  }

  .settingsT {
    font-size: 14px;
  }

  .pM {
    height: 75px;
    font-size: 14px;
  }

  .pS {
    font-size: 14px;
  }

  .floatingCW:hover {
    box-shadow: none;
  }

  .material-icons.md-24 {
    font-size: 20px;
  }

  .drawer_item-name {
    font-size: 14px;
  }

  canvas {
    display: none;
  }

  .themeImg {
    display: none;
  }

  .inpM {
    font-size: 14px;
  }

  .contactI {
    height: 60px;
  }

  #stacks_total {
    background-image: url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_25/v1515269550/constants/stacks_cash.png"),
   url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_25/v1515269550/constants/stacks_cash.png");
  }

  #coins_total {
    background-image: url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_25/v1509897827/constants/coin.png"),
   url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_25/v1509897827/constants/coin.png");
  }

  .side-nav > .drawer_item-holder > .drawer_item:hover {
    background: none;
  }

  .response_input {
    font-size: 14px;
  }

  .details_response_cat {
    font-size: 14px;
  }

  .remove_item {
    width: 40px;
  }

  ._order {
    background-color: #2ecc71;
    color: white;
    box-shadow: none;
    font-size: 18px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .board {
    background-color: transparent;
    margin-top: 22.5px;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  .q-item-b {
    background-color: transparent;
    box-shadow: none;
    flex-basis: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
    box-shadow: none;
  }

  #analyticsBoard {
    margin-top: 22.5px;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  canvas.chart{
    margin-left: 5%;
    margin-right: 5%;
    height: 90% !important;
    width: 90% !important;
    box-shadow: none;
    padding: 15px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }

  .board_s, .board_ms {
    margin-top: 22.5px;
    margin-bottom: 22.5px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    box-shadow: none;
  }

  .board_tool, .board_tool_s {
    width: 100%;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    box-shadow: none;
  }

  .board.slideIn +  .board#viewBoard {
    display: none;
  }

  .arrow_back {
    z-index: 1;
    left: 30px;
    top: 30px;
  }

  .download {
    z-index: 1;
    right: 30px;
    top: 30px;

  }

  #search_tips {
    color: #fff;
    font-size: 12px;
  }

  #search_section {
    background-color: #333;
  }

  #search_input {
    font-size: 14px;
  }

  .q-item {
    box-shadow: none;
  }

  .column {
    flex-basis: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 400px) {
  .side-nav-block {
    display: none !important;
  }

  .side-nav {
    margin-top: 50px;
    box-shadow: 0px 6px 6px #333;
    width: 15.2rem;
    height: calc(100% - 50px);
    z-index: 10000000;
  }

  #pfp_container {
    margin-left: 6rem;
    margin-top: 1rem;
  }

  .hiddenDrawer {
    opacity: 1;
  }

  .container {
    visibility: visible;
    margin-top: 1rem;
  }

  #navExpand {
    position: absolute;
    color: white;
    z-index: 1000;
    cursor: pointer;
    top: 12.5px;
    left: 0.75rem;
    display: block;
  }

  #main_section {
    width: 100%;
    left: 0;
    margin-left: 0px;
    margin-right: 0px;
  }
}
