.headerL {
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  font-size: 24px;
  display: block;
  z-index: 1;
  cursor: pointer;
  text-align: center;
}

.tTxt {
  color: white;
  font-size: 20px;
}

.shadowBoxC {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadowBox {
  height: 500px;
  width: 450px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
}

.shadowBoxB {
  height: 700px;
  width: 500px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
}

.boxHeader {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 0;
  padding-top: 20px;
  position: relative;
}

.divider {
  display: block;
  width: 30px;
  height: 3px;
  background: #2ecc71;
  margin: 0 auto;
  position: relative;
}

.boxIC {
  position: relative;
  width: 80%;
  display: block;
  margin: 0 auto;
  height: 40px;
  margin-top: 40px;
}

.boxInput {
  position: relative;
  width: 100%;
  display: block;
  height: 100%;
  background: transparent;
  border: none;
  font-size: 18px;
  border-bottom: 2px solid rgba(0,0,0,0.1);
}

.boxInput.ng-invalid.ng-dirty {
  border-bottom: 2px solid red;
}

.inputIcon {
  position: absolute;
  float: right;
  right: 0;
  top: 6px;
  color: rgba(44,62,80,0.6);
}

.boxSubmit {
  display: block;
  background: #2ecc71;
  width: 80%;
  height: 50px;
  border-radius: 30px !important;
  margin: 0 auto;
  margin-top: 50px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-color: #2ecc71;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.2);
}

.boxResponse {
  width: 96%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 14px;
  margin: 0;
  padding: 0;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 25px;
}

.noSubmit {
  box-shadow: none !important;
  cursor: not-allowed;
}

.boxE {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.cr {
  position: absolute;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #fff;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background: #333;
}

@media (max-width: 750px) {

  .shadowBox {
    width: 350px;
    background: transparent;
    box-shadow: none;
  }

  .shadowBoxB {
    width: 350px;
    background: transparent;
    box-shadow: none;
  }

  .boxHeader {
    font-size: 20px;
    color: white;
  }

  .inputIcon {
    color: rgba(255, 255, 255, 0.6);
  }

  .boxInput {
    font-size: 16px;
    color: white;
  }

  .boxE {
    color: white;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill {
    -webkit-text-fill-color: #fff;
    -webkit-border-before: 2px solid rgba(0,0,0,0.1);
    outline: none;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-transition-delay: 99999s;
    -webkit-border-before: 2px solid rgba(0,0,0,0.1);
  }

  input::-webkit-input-placeholder { /* Chrome */
    color: rgba(255, 255, 255, 0.6);
  }
  input:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, 0.6);
  }
  input::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.6);
  }
  input:-moz-placeholder { /* Firefox 4 - 18 */
    color: rgba(255, 255, 255, 0.6);
  }

  .cr {
    display: none;
  }
}

@media (max-height: 750px) {
  .shadowBoxC {
    margin: 0;
    position: relative;
    width: auto;
    height: auto;
    top: 50px;
  }
}
