#payment {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 50px
}

.radio_item_container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.radio_response {
  position: relative;
  width: 100%;
  height: 60px;
}

.radio_response_item_container {
  position: relative;
  left: 0;
  float: left;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  top: 20px;
  cursor: pointer;
}

.menu_item_container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.menu_response {
  position: relative;
  width: 100%;
  height: 60px;
}

._vM {
  cursor: pointer;
  position: absolute;
  float: right;
  right: calc(60px + 2%);
  height: 40px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment_response {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.payment_item {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 60px;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}

.payment_response_input {
  width: 30%;
  height: 35px;
  font-size: 15px;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

.payment_response_input.ng-invalid.ng-dirty {
  border-color: red !important;
  width: calc(100% - 40px) !important;
  font-size: 15px !important;
}

.payment_response_input.ng-invalid.ng-touched {
  border-color: red !important;
  width: calc(100% - 40px) !important;
  font-size: 15px !important;
}


.payment_response_input:focus {
  width: calc(98% - 30px);
  border-bottom: 2px solid #2ecc71;
  transition: all 0.5s;
}

._CP {
  top: auto;
  height: auto;
}

.srd {
  position: relative;
  height: 60px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:16px;
  top: 0;
}

._CD {
  font-size: 18px;
}

.free_survey_text {
  position: relative;
  float: left;
  left: 10px;
  width: calc(98% - 30px);
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.pscbc {
  left: 10px;
}

.asts {
  left: 20px;
}

.linkC {
  height: 100%;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  display: flex;
  text-indent: 2%;
  align-items: center;
  justify-content: flex-start;
}

.form {
  width: 100%;
  height: 100%;
}

.question_order {
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.order_item {
  position: relative;
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  background-color: transparent;
}

.order_item:hover {
  background-color: #ccc;
}

.order_item:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing
}

.order_item_text {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  cursor: pointer;
  text-indent: 2%;
  white-space: nowrap;
}

.shake {
  animation: shake 0.5s infinite cubic-bezier(.36,.07,.19,.97) both;
}

#country_list {
  margin-bottom: 12.5px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.question_type_sp {
  font-size: 16px;
}

#imageChooserContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 100000000000;
  justify-content: center;
  align-items: center;
}

#imageView {
  width: 350px;
  height: 300px;
  background: white;
}

#imageTitle {
  height: 15%;
  min-height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 22px;
  cursor: pointer;
  text-indent: 2%;
  white-space: nowrap;display: flex;
}

.divider {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #2ecc71;
}

#formImg {
  position: relative;
  width: 100%;
  height: 100%;
}

#optionsToolbar {
  display: block;
  width: 15.2rem ;
  background: #fff;
}

#optionsToolbar.ng-show {
  opacity: 0;
}

#optionsToolbar.ng-hide {
  opacity: 0;
}

.optionsContainer {
  height: 100%;
  width: 100%;
}

.requiredC {
  position: relative;
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.patternC {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.vd {
  height: 1px;
  width: 100%;
  opacity: 0.5;
  background-color: #2c3e50;
  display: block;
  position: relative;
}

.rdbx {
  position: relative;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ckl {
  width: auto;
}

.ckr {
  width: 100%;
}
