@font-face {
    font-family: OpenSans-Light;
    src: url("/fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: OpenSans-Bold;
    src: url("/fonts/OpenSans-Bold.ttf");
}


.main {
  background: #3FC380 !important;
  color: white !important;
}

.accent {
  background: #00B16A !important;
  color: white !important;
}

.tl {
  position: fixed;
  float: right;
  right: 10px;
  top: 12.5px;
  font-size: 20px;
  color: white;
  z-index: 100;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: OpenSans-Light, sans-serif;
}

html, body {
  user-select: none;
  height: 100%;
  width: 100%;
  color: white;
  background: #333;
  font-size: 18px;
  font-weight: 400;
}

b {
  font-family: OpenSans-Bold, sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  overflow: auto;
}

span {
  margin-left: 5px;
  margin-right: 5px;
  overflow: auto;
}

.active_link {
  opacity: 0.5;
  pointer-events: none;
}

.floatingCW {
  width: 80%;
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  height: auto;
  background: white;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 2px #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.floatingCW:empty {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.floatingCW:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.pH {
  position: relative;
  display: flex;
  color: #2c3e50;
  font-size: 20px;
  height: 50px;
  margin: 0;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.pHd {
  display: block;
  width: 30px;
  height: 3px;
  background: #2ecc71;
  margin: 0 auto;
  position: relative;
  margin-top: 4px;
  margin-bottom: 12.5px;
}

.pM {
  height: 100px;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.pS {
  position: relative;
  width: calc(100% - 20px);
  margin: 0;
  padding: 0;
  min-height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #2c3e50;
  flex-wrap: wrap;
}

.pE {
  border: none;
  outline: none;
  text-align: center;
}

.pB {
  -webkit-appearance: none;
  margin-bottom: 12.5px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  width: calc(100% - 20px);
  margin: 0;
  padding: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 12.5px;
}

form {
  width: 100%;
}

hr.dM {
  position: relative;
  width: 100%;
  height: 1px;
  background: transparent;
  border-color: transparent;
  margin-top: 25px;
  margin-bottom: 25px;
}

.toolbar {
  white-space: nowrap;
  z-index: 2 !important;
  background: #3FC380;
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  box-shadow:  0px 0px 7px #333;
}

.toolbar-title {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 25px;
  position: relative;
  text-align: center;
}

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100%;
  background: #3FC380;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  overflow: hidden;
  z-index: 3;
  box-shadow:  0px 0px 10px #333;
}

.side-nav:hover {
  width: 15.2rem;
}

.side-nav * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -user-select: none;
}


/* items in nav */

.item-name {
  cursor: pointer;
}

.side-nav > .item-holder {
  display: table;
  width: 15.2rem;
  margin-top: 150px;
}

.side-nav > .item-holder > .item {
  display: table-row;
  background: #00B16A;
  cursor: pointer;
}

.side-nav > .item-holder > .item:hover {
  opacity: 0.5;
}

.side-nav > .item-holder > .item:active {
  opacity: 0.5;
}

.side-nav > .item-holder > .item > .item-icon, .item-name {
  height: 3rem;
  line-height: 3rem;
  display: table-cell;
}

.side-nav > .item-holder > .item > .item-icon:nth-child(1), .item-name:nth-child(1) {
  width: 3.5rem;
  text-align: center;
}

.side-nav > .item-holder > .item > .item-icon:nth-child(2), .item-name:nth-child(2) {
  width: 10.5rem;
  text-align: left;
  padding-left: 0.7rem;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.link {
  color: #2c3e50;
}

.ma {
  position: relative;
  width: 100%;
  height: auto;
}

.del {
  top: 0;
  background: red;
  height:100%;
  position:absolute;
  left:0;
  transition: width 500ms;
  border-radius: 5px;
}

.item-icon, .item-name    {
  color: #fff;
}

.admin_section {
  border-radius: 5px 5px 0px 0px;
  z-index: 1;
  background: #fff;
  min-height: 92.1%;
  height: auto;
  position: relative;
  left: 288px;
  top: 3.5rem;
  width: 60%;
  list-style: none;
  list-item-style: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.analytic {
  box-shadow: 0 1px 2px #aaa;
  border-radius: 5px;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  position: relative;
}

.analytic:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.admin_holder {
  display: block;
  padding: 20px;
  width: 100%;
  height: auto;
}

.divHolder {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.divCard {
  background-color: #fff;
  height: 100%;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.divCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.clickable {
  cursor: pointer;
}

/* home */



/* User Traffic */

.analyticContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
}

.editable {
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  border: none;
}

/* Reports */



/* Income */
.incomeTitle {
  color: #2C3E50;
  font-size: 25px;
  position: relative;
  width: 100%;
  text-align: center;
  top: 10px;
}

.incomeDivider {
  height: 1px;
  width: 98%;
  background-color: #2C3E50;
  position: relative;
  top: 25px;
}

.analyticsHolder {
  align-content: center;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.analyticIncome {
  margin-left: 10px;
  margin-right: 10px;
}

/* Categories */

.invalid {
  color: red !important;
}

/* Users */

.usersTitle {
  color: #2C3E50;
  font-size: 25px;
  position: relative;
  width: 100%;
  text-align: center;
  top: 10px;
}

.usersDivider {
  height: 1px;
  width: 98%;
  background-color: #2C3E50;
  position: relative;
  top: 25px;
}

.usersList {
  margin: 0 auto;
  position: relative;
  top: 45px;
  text-decoration: none;
  list-style-type: none;
}

.list_item2 {
  color: #2C3E50;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
}

/* Companies */

.companiesTitle {
  color: #2C3E50;
  font-size: 25px;
  position: relative;
  width: 100%;
  text-align: center;
  top: 10px;
}

.companiesDivider {
  height: 1px;
  width: 98%;
  background-color: #2C3E50;
  position: relative;
  top: 25px;
}

.companiesList {
  margin: 0 auto;
  position: relative;
  top: 45px;
  text-decoration: none;
  list-style-type: none;
}

.list_item3 {
  color: #2C3E50;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
}
