<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div class="main_list">
  <div class="floatingCW" ng-if="api.data.about_completed">
    <p class="pM not_target">{{::language.dictionary.not_allowed}}</p>
  </div>
  <section id="description_section" ng-hide="api.loading">
    <p id="description">{{::language.dictionary.about_description}}</p>
    <p id="stacks">
      <span id="stacks_amount" ng-bind="api.data.stacks"></span>
      <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_150/v1515132992/constants/stacks_cash.png" alt="stacks" class="stacks_icon"/>
      <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_150/v1515132992/constants/stacks_cash.png" alt="stacks" class="stacks_icon"/>
      <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_150/v1515132992/constants/stacks_cash.png" alt="stacks" class="stacks_icon"/>
    </p>
  </section>
  <hr class="dM"/>
  <form class="formA">
    <section id="answer_section" ng-hide="api.loading">
      <ul class="questionList">
        <li class="questionContainer">
          <div class="question">
            <p class="questionText">{{::language.dictionary.sex}}</p>
            <ul class="optionsUl chU">
              <li class="chckcontainer" ng-repeat="(sex, translation) in language.dictionary.sexes track by $index" ng-if="!$last">
                <label class="chckbxlbl">{{translation}}
                  <input type="radio" name="rr" value="{{sex}}" ng-model="api.userAnswers.sex" class="chckbxrad">
                  <div class="chkcrad--act"></div>
                </label>
              </li>
            </ul>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
              <p class="questionText">{{::language.dictionary.ethnicity}}</p>
              <ul class="optionsUl chU">
                <li class="chckcontainer" ng-repeat="(ethnicity, translation) in language.dictionary.ethnicities track by $index" ng-if="!$first && !$last">
                  <label class="chckbxlbl">{{translation}}
                    <input type="checkbox" name="cr" value="{{ethnicity}}" ng-click="optionChecked(0, ethnicity, $event)" ng-checked="api.userAnswers.ethnicity.includes(ethnicity)" class="chckbx">
                    <div class="chkcbox--act"></div>
                  </label>
                </li>
              </ul>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
              <p class="questionText">{{::language.dictionary.languages_spoken}}</p>
              <ul class="optionsUl chU">
                <li class="chckcontainer" ng-repeat="(lang, translation) in language.globals.supportedLanguages track by $index">
                  <label class="chckbxlbl">{{translation}}
                    <input type="checkbox" name="crlang" value="{{lang}}" ng-click="optionChecked(1, lang, $event)" ng-checked="api.userAnswers.lang.includes(lang)" class="chckbx">
                    <div class="chkcbox--act"></div>
                  </label>
                </li>
              </ul>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
            <p class="questionText">{{::language.dictionary.education_level}}</p>
            <ul class="optionsUl chU">
              <li class="chckcontainer" ng-repeat="(edu, translation) in language.dictionary.education_levels track by $index">
                <label class="chckbxlbl">{{translation}}
                  <input type="radio" name="rredu" value="{{edu}}" ng-model="api.userAnswers.education" class="chckbxrad">
                  <div class="chkcrad--act"></div>
                </label>
              </li>
            </ul>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
            <p class="questionText">{{::language.dictionary.relationship_status}}</p>
            <ul class="optionsUl chU">
              <li class="chckcontainer" ng-repeat="(relationship_status, translation) in language.dictionary.relationship_statuses track by $index">
                <label class="chckbxlbl">{{translation}}
                  <input type="radio" name="rrrelationship" value="{{relationship_status}}" ng-model="api.userAnswers.relationship" class="chckbxrad">
                  <div class="chkcrad--act"></div>
                </label>
              </li>
            </ul>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
            <p class="questionText">{{::language.dictionary.employment_status}}</p>
            <ul class="optionsUl chU">
              <li class="chckcontainer" ng-repeat="(employment_status, translation) in language.dictionary.employment_statuses track by $index">
                <label class="chckbxlbl">{{translation}}
                  <input type="radio" name="rremploymentstatus" value="{{employment_status}}" ng-model="api.userAnswers.employment" class="chckbxrad">
                  <div class="chkcrad--act"></div>
                </label>
              </li>
            </ul>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
            <p class="questionText">{{::language.dictionary.religion}}</p>
            <ul class="optionsUl chU">
              <li class="chckcontainer" ng-repeat="(religion, translation) in language.dictionary.religions track by $index">
                <label class="chckbxlbl">{{translation}}
                  <input type="radio" name="rrr" value="{{religion}}" ng-model="api.userAnswers.religion" class="chckbxrad">
                  <div class="chkcrad--act"></div>
                </label>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </section>
    <hr class="dM"/>
    <input id="submitResponses" type="submit" ng-click="validateSurvey()" ng-hide="api.loading" ng-disabled="api.request_pending" ng-class="{'buttonLoading' : api.request_pending}" value="{{::language.dictionary.update_about}}"/>
  </form>
</div>
