<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div class="main_list" id="main_list" ng-hide="api.loading">
  <div class="floatingCW" ng-if="emptyBookmarks()">
    <p class="pM">{{::language.dictionary.no_bookmarks}}</p>
  </div>
  <div class="floatingCW" ng-if="!emptySurveyBookmark()">
    <p class="pM">{{::language.dictionary.surveys}}</p>
  </div>
  <ul class="main_list">
    <li class="q-item-b" ng-class="{'bstart' : $index % 5 == '0', 'bmiddle' : $index % 5 != '0' && $index % 5 != '4', 'bend' : $index % 5 == '4'}" ng-repeat="survey in api.surveyBookmarkData" ng-if="survey.bookmarked">
      <a ng-href="{{survey.answer_url}}" class="qAnswerURL"></a>
      <img ng-src="{{survey.image_url}}" class="q-img-b">
      <i class="material-icons" ng-disabled="api.request_pending" ng-class="survey.bookmarked ? 'bookmarked' : 'bookmark'" ng-click="api.unbookmark($event, 'survey', $index)">&#xE866;</i>
    </li>
  </ul>
  <div class="floatingCW" ng-if="!emptyPollBookmark()">
    <p class="pM">{{::language.dictionary.polls}}</p>
  </div>
  <ul class="main_list">
    <li class="q-item-b" ng-class="{'bstart' : $index % 5 == '0', 'bmiddle' : $index % 5 != '0' && $index % 5 != '4', 'bend' : $index % 5 == '4'}" ng-repeat="poll in api.pollBookmarkData" ng-if="poll.bookmarked">
      <a ng-href="{{poll.answer_url}}" class="qAnswerURL"></a>
      <img ng-src="{{poll.image_url}}" class="q-img-b">
      <i class="material-icons" ng-disabled="api.request_pending" ng-class="poll.bookmarked ? 'bookmarked' : 'bookmark'" ng-click="api.unbookmark($event, 'poll', $index)">&#xE866;</i>
    </li>
  </ul>
</div>
