<link rel="stylesheet" type="text/css" href="/stylesheets/editor.css">
<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<a class="material-icons md-24 arrow_back" ng-hide="api.loading" href="/manage">&#xE5C4;</a>
<div class="floatingCW" ng-if="!api.questionnaireData.editable" ng-hide="api.loading">
  <p class="pM" ng-if="!api.questionnaireData.editable">{{::language.dictionary.not_editable}}</p>
</div>
<section id="editor_cont" ng-hide="api.loading" ng-if="api.questionnaireData.editable">
  <div class="floatingCW">
    <h1 class="pH"><span class="spanm" ng-if="api.questionnaireData.details.labs_created">🔥</span>{{api.questionnaireData.type == 'surveys' ? language.dictionary.survey : language.dictionary.poll}} {{::language.dictionary.details}}<span class="spanm" ng-if="api.questionnaireData.details.labs_created">🔥</span></h1>
    <span class="pHd"></span>
    <li class="settingsAccountItem"><input type="text" class="cInfoInput aii settingsT" placeholder="{{::language.dictionary.name}}" maxlength="80" ng-model="api.edit.name"/></li>
    <li class="settingsAccountItem"><input type="text" class="cInfoInput aii settingsT" placeholder="{{::language.dictionary.description}}" maxlength="80" ng-model="api.edit.description"/></li>
    <li class="settingsAccountItem"><input type="url" id="image" class="cInfoInput aii settingsT" placeholder="{{::language.dictionary.cover_image}}" ng-model="api.edit.image_url"/></li>
    <p class="pS" ng-if="api.questionnaireData.type == 'surveys'">
      {{::language.dictionary.stacks}}: {{api.questionnaireData.details.sc_update}}
      <i class="material-icons md-24 icon" id="add" ng-click="add()" ng-if="!api.questionnaireData.details.free">&#xE145;</i>
      <i class="material-icons md-24 icon" ng-if="api.questionnaireData.details.sc_update > api.questionnaireData.details.sc_amount && !api.questionnaireData.details.free" ng-click="remove()">&#xE15B;</i>
    </p>
    <p class="pS" ng-if="api.questionnaireData.labs.unique_keys">
      {{::language.dictionary.unique_keys}}: {{api.edit.keys || '0'}}
      <i class="material-icons md-24 icon" style="color:#2ecc71;right:6%;" ng-if="api.edit.keys < 30 || api.edit.keys == undefined" ng-click="addK()">&#xE145;</i>
      <i class="material-icons md-24 icon" style="color:red;right:3%;" ng-if="api.edit.keys > 0" ng-click="removeK()">&#xE15B;</i>
    </p>
    <p class="pS" ng-if="api.questionnaireData.details.sc_update != api.questionnaireData.details.sc_amount">{{language.dictionary.updated_price}}: ${{api.questionnaireData.ppa * ((api.questionnaireData.details.sc_update - api.questionnaireData.details.sc_amount) / 10)}}</p>
    <p class="pS" ng-if="api.questionnaireData.editable" ng-show="api.response.length > 0" ng-bind="api.response"></p>
    <button type="button" id="update" ng-if="api.questionnaireData.editable" ng-disabled="api.request_pending" ng-class="{'buttonLoading' : api.request_pending}" ng-click="update()">{{::language.dictionary.update}} {{api.questionnaireData.type == 'surveys' ? language.dictionary.survey : language.dictionary.poll}}</button>
    <button type="button" id="delete" ng-if="api.questionnaireData.editable" ng-click="deletingF()" ng-disabled="api.request_pending" ng-class="{'buttonLoading' : api.request_pending}">{{::language.dictionary.delete}} {{api.questionnaireData.type == 'surveys' ? language.dictionary.survey : language.dictionary.poll}}</button>
    <input id="deleteI" type="text" name="delete" ng-show="delete.deleting" placeholder="{{::language.dictionary.delete_ps}}" ng-model="delete.text" ng-keyup="deleteK()"/>
  </div>
</section>

<div class="floatingCW" ng-hide="api.loading" ng-if="api.questionnaireData.editable">
  <p class="pS" title="{{::language.dictionary.answer_url}}">{{api.questionnaireData.details.answer_url}}</p>
</div>

<div class="floatingCW" ng-hide="api.loading" ng-if="api.questionnaireData.details.labs_created && api.questionnaireData.details.labs_type == 1">
  <h1 class="pH" ng-if="api.questionnaireData.labs.unique_keys">{{::language.dictionary.unique_keys}}</h1>
  <h1 class="pH" ng-if="!api.questionnaireData.labs.unique_keys">{{::language.dictionary.global_key}}</h1>
  <span class="pHd"></span>
  <!-- keys -->
  <p class="pS selectable" ng-repeat="key in api.questionnaireData.labs.keys" ng-bind="key"></p>
</div>
