  <hr class="dM"/>
  <div class="floatingCW">
    <p class="pS"><b>Keep in mind, questions can contain text but can only be responded to in Emojis</b></p>
  </div>
  <ng-include src="'/views/survey_template.html'" ng-if="api.createdQuestionnaire.type == 'survey'"></ng-include>
  <ng-include src="'/views/poll_template.html'" ng-if="api.createdQuestionnaire.type == 'poll'"></ng-include>
  <section id="optionsToolbar" class="side-nav" ng-show="show_options_toolbar" ng-if="api.createdQuestionnaire.type == 'survey'" ng-switch="questionOptions.type">
    <div class="optionsContainer" ng-switch-when="fr">
      <div class="requiredC">
        <span class="rdbx">
          <label class="chckbxlbl ckl">{{::language.dictionary.required}}
            <input type="checkbox" name="required" ng-model="api.createdSurvey.freeResponseQuestions[questionOptions.index].options.required" class="chckbx">
            <div class="chkcbox--act"></div>
          </label>
        </span>
      </div>
    </div>
    <div class="optionsContainer" ng-switch-when="cr">
      <div class="requiredC">
        <span class="rdbx">
          <label class="chckbxlbl ckl">{{::language.dictionary.required}}
            <input type="checkbox" name="required" ng-model="api.createdSurvey.checkboxResponseQuestions[questionOptions.index].options.required" class="chckbx">
            <div class="chkcbox--act"></div>
          </label>
        </span>
      </div>
    </div>
    <div class="optionsContainer" ng-switch-when="br">
      <div class="requiredC">
        <span class="rdbx">
          <label class="chckbxlbl ckl">{{::language.dictionary.required}}
            <input type="checkbox" name="required" ng-model="api.createdSurvey.booleanResponseQuestions[questionOptions.index].options.required" class="chckbx">
            <div class="chkcbox--act"></div>
          </label>
        </span>
      </div>
    </div>
    <div class="optionsContainer" ng-switch-when="rr">
      <div class="requiredC">
        <span class="rdbx">
          <label class="chckbxlbl ckl">{{::language.dictionary.required}}
            <input type="checkbox" name="required" ng-model="api.createdSurvey.radioResponseQuestions[questionOptions.index].options.required" class="chckbx">
            <div class="chkcbox--act"></div>
          </label>
        </span>
      </div>
    </div>
    <div class="optionsContainer" ng-switch-when="mr">
      <div class="requiredC">
        <span class="rdbx">
          <label class="chckbxlbl ckl">{{::language.dictionary.required}}
            <input type="checkbox" name="required" ng-model="api.createdSurvey.menuResponseQuestions[questionOptions.index].options.required" class="chckbx">
            <div class="chkcbox--act"></div>
          </label>
        </span>
      </div>
    </div>
  </section>
