<div id="navDrawer" ng-click="closeNav()">
  <ul id="navList">
    <li class="navItem" id="en"><a class="navLink" href="">English</a></li>
    <li class="navItem" id="es"><a lang="es" class="navLink" href="#es">Espa&ntilde;ol</a></li>
    <li class="navItem" id="fr"><a lang="fr" class="navLink" href="#fr">Fran&ccedil;ais</a></li>
    <li class="navItem" id="zh-Hans"><a lang="zh-Hans" class="navLink" href="#zh-Hans">普通话</a></li>
    <li class="navItem" id="zh-Hant"><a lang="zh-Hant" class="navLink" href="#zh-Hant">中文</a></li>
    <li class="navItem" id="ar"><a lang="ar" class="navLink" href="#ar">عربى</a></li>
    <li class="navItem" id="it"><a lang="it" class="navLink" href="#it">Italiano</a></li>
    <li class="navItem" id="de"><a lang="de" class="navLink" href="#de">Deutsche</a></li>
    <li class="navItem" id="ko"><a lang="ko" class="navLink" href="#ko">한국어</a></li>
    <li class="navItem" id="ru"><a lang="ru" class="navLink" href="#ru">русский</a></li>
    <li class="navItem" id="vi"><a lang="vi" class="navLink" href="#vi">Tiếng Việt</a></li>
  </ul>
</div>

<a class="headerL" href="/landing_page">SurveyStacks</a>

<i class="material-icons md-32 nav" ng-click="openNav()">&#xE5D2;</i>

<section class="shadowBoxC">
  <form class="shadowBox" role="form" name="forgotForm" ng-keydown="resetResponse()" ng-submit="fpass()" autocomplete="on">
    <p class="boxHeader">{{::language.dictionary.forgot_password}}</p>
    <span class="divider"></span>
    <div class="boxIC">
      <input type="text" placeholder="{{::language.dictionary.username}}" id="username" autocomplete="on" ng-model="userCredentials.username" name="username" maxlength="25" class="boxInput" required/>
      <i class="material-icons md-24 inputIcon">&#xE7FF;</i>
    </div>
    <div class="boxIC">
      <input type="text" placeholder="{{::language.dictionary.email_phone}}" id="email-phone" autocomplete="on" ng-model="userCredentials.email_phone" name="email tel" spellcheck="false" ng-pattern="/^(.+)(@)([a-z]+)(\.)([a-z]+)$|^\d+$/mi" class="boxInput" required/>
      <i class="material-icons md-24 inputIcon">&#xE0BA;</i>
    </div>
    <div class="boxIC">
      <input type="text" placeholder="{{::language.dictionary.date_birth}}" id="dob" name="dob" autocomplete="on" ng-model="userCredentials.dob" ng-pattern="/([0][1-9]|[1][0-2])[-|\/]([0][1-9]|[1-2][0-9]|[3][0-2])[-|\/]((19)[0-9]{2}|(20)[0-9][0-9])$/mi" maxlength="50" class="boxInput" required/>
      <i class="material-icons md-22 inputIcon">&#xE7E9;</i>
    </div>
    <input type="submit" ng-hide="FpassResponse == language.dictionary.forgot_password_error.success" ng-class="{noSubmit : forgotForm.$invalid && forgotForm.$dirty}" ng-disabled="forgotForm.$invalid && forgotForm.$dirty" class="boxSubmit" value="{{::language.dictionary.submit}}"/>
    <p class="boxResponse" ng-show="FpassResponse != '' " ng-bind="FpassResponse"></p>
    <p class="boxE" ng-hide="FpassResponse != language.dictionary.forgot_password_error.success && FpassResponse != ''">{{::language.dictionary.have_reset}}&nbsp;<a href="/reset_password" style="color: #2ecc71;">{{::language.dictionary.reset_password}}!</a></p>
  </form>
</section>

<h6 class="cr">&copy;	Copyright 2018.</h6>
