<hr class="dM"/>
<div class="floatingCW">
  <h1 class="pH">Key Needed Options</h1>
  <span class="pHd"></span>
  <ul class="question_response">
    <li class="question_item_d">
      <span class="details_response_cat" style="cursor: default">{{::language.dictionary.unique_keys}}</span>
      <div class="checkbox_response_item_container_p">
        <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdQuestionnaire.method_options.unique_keys"/>
        <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
      </div>
    </li>
  </ul>
</div>
<ng-include src="'/views/survey_template.html'" ng-if="api.createdQuestionnaire.type == 'survey'"></ng-include>
<ng-include src="'/views/poll_template.html'" ng-if="api.createdQuestionnaire.type == 'poll'"></ng-include>
<section id="optionsToolbar" class="side-nav" ng-show="show_options_toolbar" ng-if="api.createdQuestionnaire.type == 'survey'" ng-switch="questionOptions.type">
  <div class="optionsContainer" ng-switch-when="fr">
    <div class="requiredC">
      <span class="rdbx">
        <label class="chckbxlbl ckl">{{::language.dictionary.required}}
          <input type="checkbox" name="required" ng-model="api.createdSurvey.freeResponseQuestions[questionOptions.index].options.required" class="chckbx">
          <div class="chkcbox--act"></div>
        </label>
      </span>
    </div>
    <span class="vd"></span>
    <div class="patternC">
      <span class="rdbx" ng-repeat="(value, pattern) in language.dictionary.patterns">
        <label class="chckbxlbl ckr">{{pattern}}
          <input type="radio" name="pattern" value="{{value}}" ng-model="api.createdSurvey.freeResponseQuestions[questionOptions.index].options.pattern" class="chckbxrad">
          <div class="chkcrad--act"></div>
        </label>
      </span>
    </div>
  </div>
  <div class="optionsContainer" ng-switch-when="cr">
    <div class="requiredC">
      <span class="rdbx">
        <label class="chckbxlbl ckl">{{::language.dictionary.required}}
          <input type="checkbox" name="required" ng-model="api.createdSurvey.checkboxResponseQuestions[questionOptions.index].options.required" class="chckbx">
          <div class="chkcbox--act"></div>
        </label>
      </span>
    </div>
  </div>
  <div class="optionsContainer" ng-switch-when="br">
    <div class="requiredC">
      <span class="rdbx">
        <label class="chckbxlbl ckl">{{::language.dictionary.required}}
          <input type="checkbox" name="required" ng-model="api.createdSurvey.booleanResponseQuestions[questionOptions.index].options.required" class="chckbx">
          <div class="chkcbox--act"></div>
        </label>
      </span>
    </div>
  </div>
  <div class="optionsContainer" ng-switch-when="rr">
    <div class="requiredC">
      <span class="rdbx">
        <label class="chckbxlbl ckl">{{::language.dictionary.required}}
          <input type="checkbox" name="required" ng-model="api.createdSurvey.radioResponseQuestions[questionOptions.index].options.required" class="chckbx">
          <div class="chkcbox--act"></div>
        </label>
      </span>
    </div>
  </div>
  <div class="optionsContainer" ng-switch-when="mr">
    <div class="requiredC">
      <span class="rdbx">
        <label class="chckbxlbl ckl">{{::language.dictionary.required}}
          <input type="checkbox" name="required" ng-model="api.createdSurvey.menuResponseQuestions[questionOptions.index].options.required" class="chckbx">
          <div class="chkcbox--act"></div>
        </label>
      </span>
    </div>
  </div>
</section>
