<section id="toolbar_container">
  <header id="tab_header">SurveyStacks</header>
  <div id="tabs_toolbarc">
    <a class="tab_h" href="/teams/login">Lorem</a>
    <a class="tab_h">Lorem</a>
    <a class="tab_h">Lorem</a>
    <a class="tab_h">Lorem</a>
    <a class="tab_h">Lorem</a>
  </div>
</section>
<section id="header_container">
  <img src="backgroung_img.png" id="header_image" alt="background image"/>
  <h1 id="header">SurveyStacks</h1>
  <p id="subheader">Lorem Ipsum</p>
  <div id="tabs_container">
    <button class="tab" ng-click="tabItem('lorem1')">Lorem</button>
    <button class="tab" ng-click="tabItem('lorem2')">Lorem</button>
    <button class="tab" ng-click="tabItem('lorem3')">Lorem</button>
  </div>
</section>
<section id="main_container">
  <section class="tab_box" ng-show="route_hash == 'lorem1'">
    Lorem ipsum dolor sit amet, consectetur
  </section>
  <section class="tab_box" ng-show="route_hash == 'lorem2'">
    Lorem ipsum dolor sit amet, consectetur 2
  </section>
  <section class="tab_box" ng-show="route_hash == 'lorem3'">
    Lorem ipsum dolor sit amet, consectetur 3
  </section>
</section>
