<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<h1 class="sHeader disappear" id="survey_header" ng-if="api.surveysInterestData.length > 0">{{language.dictionary.surveys_interest}}</h1>
<div class="columnContainer" id="main_list">
  <div class="floatingCW" ng-if="api.surveysColumnOne.length == 0" ng-hide="api.loading">
    <p class="pM">{{::language.dictionary.no_surveys}}</p>
  </div>
  <section class="columnContainer">
    <ul class="column" label="column one" ng-hide="api.surveysColumnOne.length == 0">
      <li class="q-item" ng-repeat="survey in api.surveysColumnOne">
        <a ng-href="{{survey.answer_url}}" class="qAnswerURL"></a>
        <img ng-src="{{survey.image_url}}" width="280" height="150" class="q-img">
        <div class="q-item-bottom">
          <h4 class="q-title" ng-bind="survey.title"></h4>
          <h4 class="q-desc" ng-bind="survey.description"></h4>
          <div class="currencyContainer">
            <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_25,w_45/v1509897827/constants/stacks_cash.png" width="60" height="25" class="survey-stack">
            <h4 class="q-c-amount" ng-bind="survey.stacks"></h4>
          </div>
          <div class="creatorMeta">
            <img ng-src="{{survey.creator_image_url}}" width="40" height="40" class="q-pfp">
            <h4 class="qCreator" ng-bind="survey.creator"></h4>
            <i class="material-icons" ng-class="survey.bookmarked ? 'bookmarked' : 'bookmark'" ng-click="api.bookmark($event, 0, $index)">&#xE866;</i>
          </div>
        </div>
      </li>
    </ul>
    <ul class="column" label="column two" ng-hide="api.surveysColumnTwo.length == 0">
      <li class="q-item" ng-repeat="survey in api.surveysColumnTwo">
        <a ng-href="{{survey.answer_url}}" class="qAnswerURL"></a>
        <img ng-src="{{survey.image_url}}" width="280" height="150" class="q-img">
        <div class="q-item-bottom">
          <h4 class="q-title" ng-bind="survey.title"></h4>
          <h4 class="q-desc" ng-bind="survey.description"></h4>
          <div class="currencyContainer">
            <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_25,w_45/v1509897827/constants/stacks_cash.png" width="60" height="25" class="survey-stack">
            <h4 class="q-c-amount" ng-bind="survey.stacks"></h4>
          </div>
          <div class="creatorMeta">
            <img ng-src="{{survey.creator_image_url}}" width="40" height="40" class="q-pfp">
            <h4 class="qCreator" ng-bind="survey.creator"></h4>
            <i class="material-icons" ng-class="survey.bookmarked ? 'bookmarked' : 'bookmark'" ng-click="api.bookmark($event, 1, $index)">&#xE866;</i>
          </div>
        </div>
      </li>
    </ul>
    <ul class="column" label="column three" ng-hide="api.surveysColumnThree.length == 0">
      <li class="q-item" ng-repeat="survey in api.surveysColumnThree">
        <a ng-href="{{survey.answer_url}}" class="qAnswerURL"></a>
        <img ng-src="{{survey.image_url}}" width="280" height="150" class="q-img">
        <div class="q-item-bottom">
          <h4 class="q-title" ng-bind="survey.title"></h4>
          <h4 class="q-desc" ng-bind="survey.description"></h4>
          <div class="currencyContainer">
            <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_25,w_45/v1509897827/constants/stacks_cash.png" width="60" height="25" class="survey-stack">
            <h4 class="q-c-amount" ng-bind="survey.stacks"></h4>
          </div>
          <div class="creatorMeta">
            <img ng-src="{{survey.creator_image_url}}" width="40" height="40" class="q-pfp">
            <h4 class="qCreator" ng-bind="survey.creator"></h4>
            <i class="material-icons" ng-class="survey.bookmarked ? 'bookmarked' : 'bookmark'" ng-click="api.bookmark($event, 2, $index)">&#xE866;</i>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
