<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div class="main_list">
  <div class="floatingCW" ng-show="noSurveys() && noPolls() && !api.loading">
    <p class="pS">{{::language.dictionary.no_qs_created}}</p>
    <p class="pS">{{::language.dictionary.click_p_to}}</p>
  </div>
  <ul class="main_list" id="main_list" ng-hide="noSurveys() && noPolls()">
    <div class="floatingCW" ng-hide="api.loading" ng-if="!noSurveys()">
      <p class="pM">{{::language.dictionary.surveys}}</p>
    </div>
    <li class="q-item-b" ng-hide="api.loading" ng-class="{'bstart' : $index % 5 == '0', 'bmiddle' : $index % 5 != '0' && $index % 5 != '4', 'bend' : $index % 5 == '4'}" ng-repeat="survey in api.surveyData" ng-click="viewAnalytics(0, $index)">
      <img ng-src="{{survey.image_url}}" alt="matching image" class="q-img-b">
      <a ng-href="{{survey.edit_url}}" class="link"></a>
    </li>
    <div class="floatingCW" ng-hide="api.loading" ng-if="!noPolls()">
      <p class="pM">{{language.dictionary.polls}}</p>
    </div>
    <li class="q-item-b" ng-hide="api.loading" ng-class="{'bstart' : $index % 5 == '0', 'bmiddle' : $index % 5 != '0' && $index % 5 != '4', 'bend' : $index % 5 == '4'}" ng-repeat="poll in api.pollData" ng-click="viewAnalytics(0, $index)">
      <img ng-src="{{poll.image_url}}" alt="matching image" class="q-img-b">
      <a ng-href="{{poll.edit_url}}" class="link"></a>
    </li>
  </ul>
</div>
