<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div class="main_list">
  <div class="floatingCW" ng-if="api.data.payment_completed">
    <p class="pM not_target">{{::language.dictionary.not_allowed}}</p>
  </div>
  <section id="description_section" ng-hide="api.loading">
    <p id="description">{{::language.dictionary.payment_description}}</p>
    <p id="stacks">
      <span id="stacks_amount" ng-bind="api.data.stacks"></span>
      <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_150/v1515132992/constants/stacks_cash.png" alt="stacks" class="stacks_icon"/>
      <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_150/v1515132992/constants/stacks_cash.png" alt="stacks" class="stacks_icon"/>
      <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_150/v1515132992/constants/stacks_cash.png" alt="stacks" class="stacks_icon"/>
    </p>
  </section>
  <hr class="dM"/>
  <form class="formA" name="surveyForm" ng-hide="api.loading">
    <section id="answer_section">
      <ul class="questionList">
        <li class="questionContainer">
          <div class="question">
            <input class="freeResponseInput" name="creditcardnumber" placeholder="{{::language.dictionary.card_digits}}" type="text" ng-model="api.userAnswers.digits" ng-class="api.userAnswers.digits.length > 0 ? 'foc' : ''" ng-pattern="/^[0-9 ]{12,22}$/i" required/>
            <span class="req">*</span>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
            <input class="freeResponseInput" name="nameoncard" placeholder="{{::language.dictionary.card_name}}" type="text" ng-model="api.userAnswers.name" ng-class="api.userAnswers.name.length > 0 ? 'foc' : ''" ng-pattern="/^[a-z \s]+$/i" required/>
            <span class="req">*</span>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
            <input class="freeResponseInput" name="expirationdate" placeholder="{{::language.dictionary.expiration_date}}" type="text" ng-model="api.userAnswers.exp" ng-class="api.userAnswers.exp.length > 0 ? 'foc' : ''" ng-pattern="/(^[0][1-9]|[1][0-2])([-]||[/])(\d{2})$/" required/>
            <span class="req">*</span>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
            <input class="freeResponseInput" name="address" placeholder="{{::language.dictionary.street_address}}" type="text" ng-model="api.userAnswers.street_address" ng-class="api.userAnswers.street_address.length > 0 ? 'foc' : ''" ng-pattern="/^[a-z0-9 ]+$/i" required/>
            <span class="req">*</span>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
            <input class="freeResponseInput" name="aptnumber" placeholder="{{::language.dictionary.apt_number}}" type="text" ng-model="api.userAnswers.apt" ng-class="api.userAnswers.apt.length > 0 ? 'foc' : ''" ng-pattern="/^\d+$/" required/>
            <span class="req">*</span>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
            <input class="freeResponseInput" name="city" placeholder="{{::language.dictionary.city}}" type="text" ng-model="api.userAnswers.city" ng-class="api.userAnswers.city.length > 0 ? 'foc' : ''" ng-pattern="/^[a-z ]+$/i" required/>
            <span class="req">*</span>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
            <input class="freeResponseInput" name="zipcode" placeholder="{{::language.dictionary.zipcode}}" type="text" ng-model="api.userAnswers.zipcode" ng-class="api.userAnswers.zipcode.length > 0 ? 'foc' : ''" ng-pattern="/^[0-9]{3,12}$/i" required/>
            <span class="req">*</span>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
            <p class="questionText">{{::language.dictionary.state}}<span class="req">*</span></p>
            <ul class="optionsUl mrU" scroller>
              <li class="menuOptionContainer" ng-repeat="(state, name) in states() track by $index">
                <input type="radio" name="mr{{state}}" value="{{state}}" ng-model="api.userAnswers.state" class="menuChk" required>
                <p class="menuOptText">{{name}}</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
            <p class="questionText">{{::language.dictionary.country}}<span class="req">*</span></p>
            <ul class="optionsUl mrU" scroller>
              <li class="menuOptionContainer" ng-repeat="(country, name) in language.globals.supportedCountries track by $index">
                <input type="radio" name="mr{{country}}" value="{{country}}" ng-model="api.userAnswers.country" ng-click="statesInit()" class="menuChk" required>
                <p class="menuOptText">{{name}}</p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <p id="req_warning"><span class="reqt">*</span>{{::language.dictionary.required_text}}</p>
    </section>
    <hr class="dM"/>
    <div class="floatingCW" ng-show="api.response != ''">
      <p class="pS not_target" ng-bind="api.response"></p>
    </div>
    <input id="submitResponses" type="submit" ng-click="validateSurvey()" ng-hide="surveyForm.$invalid && surveyForm.$dirty" ng-disabled="api.request_pending" ng-class="{'buttonLoading' : api.request_pending}" value="{{::language.dictionary.update_payment}}"/>
  </form>
</div>
