<hr class="dM"/>
<div class="floatingCW">
  <h1 class="pH">{{::language.dictionary.poll_question}}</h1>
  <span class="pHd"></span>
  <ul class="question_response">
    <li class="question_item">
      <div class="radio_item_container">
        <input class="response_input" placeholder="{{::language.dictionary.question_here}}" ng-model="api.createdQuestionnaire.poll.question" type="text" required/>
      </div>
      <ul class="item_questions">
        <li class="radio_response" ng-repeat="option in api.createdQuestionnaire.poll.options track by $index">
          <label class="radio_response_item_container">
            <input name="poll_option_{{$parentIndex}}" class="chckbxrad" type="radio"/>
            <div class="chkcrad--act"></div>
          </label>
          <input class="radio_response_item_input" placeholder="{{::language.dictionary.poll_option}}" ng-model="api.createdQuestionnaire.poll.options[$index]" type="text" required/>
          <i class="material-icons md-22 remove_item c" ng-click="removePollItem($index)">&#xE872;</i>
        </li>
        <li class="add_item response_item" ng-click="addPollOption()" ng-if="api.createdQuestionnaire.poll.options.length != 5">{{::language.dictionary.add_poll_option}}</li>
      </ul>
    </li>
  </ul>
  <i ng-if="api.createdQuestionnaire.lab_option == 3" ng-click="addPollQuestion()" class="material-icons lpa md-28">&#xE145;</i>
</div>
<div class="floatingCW" ng-if="api.createdQuestionnaire.lab_option == 3" ng-repeat="poll in api.createdQuestionnaire.method_options.pollQuestionsExtra track by $index">
  <h1 class="pH">{{::language.dictionary.poll_question}}</h1>
  <span class="pHd"></span>
  <ul class="question_response">
    <li class="question_item">
      <div class="radio_item_container">
        <input class="response_input" placeholder="{{::language.dictionary.question_here}}" ng-model="poll.question" type="text" required/>
      </div>
      <ul class="item_questions">
        <li class="radio_response" ng-repeat="option in poll.options track by $index">
          <label class="radio_response_item_container">
            <input name="poll_option_{{$parentIndex}}" class="chckbxrad" type="radio"/>
            <div class="chkcrad--act"></div>
          </label>
          <input class="radio_response_item_input" placeholder="{{::language.dictionary.poll_option}}" ng-model="poll.options[$index]" type="text" required/>
          <i class="material-icons md-22 remove_item c" ng-click="removePollItemQ($parentIndex, $index)">&#xE872;</i>
        </li>
        <li class="add_item response_item" ng-click="addPollOptionQ($index)" ng-if="poll.options.length != 5">{{::language.dictionary.add_poll_option}}</li>
      </ul>
    </li>
  </ul>
  <i ng-if="api.createdQuestionnaire.lab_option == 3" ng-click="removePollQuestion()" class="material-icons lpa-red md-28">&#xE15B;</i>
</div>
<hr class="dM"/>
<div class="floatingCW">
  <p class="pS error" id="creator_response" ng-show="api.response != ''">{{api.response}}</p>
</div>
<input class="_order" ng-show="questionnaireForm.$valid && questionnaireForm.$dirty" type="submit" id="place_order" ng-class="{'buttonLoading' : api.uploading}" ng-disabled="api.uploading" value="{{::language.dictionary.create_q}}"/>
