<a href="/polls/{{api.pollDetails.token}}/report" ng-if="api.pollDetails.available" id="report_link" class="r_link" ng-hide="api.loading">{{::language.dictionary.report}}</a>
<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<hr class="dM"/>
<div class="floatingCW" ng-if="!api.pollDetails.targeted && api.pollDetails.answered" ng-hide="api.loading">
  <p class="pM not_target">{{::language.dictionary.not_target}}</p>
</div>
<div class="floatingCW" ng-if="api.pollDetails.answered" ng-hide="api.loading">
  <p class="pM not_target">{{::language.dictionary.not_allowed}}</p>
</div>
<section id="description_section" ng-hide="api.loading || (countdown < 1 && gameTime > -1)">
  <span class="labs_verified-l" ng-if="api.pollDetails.labs_created">🔥</span>
  <span class="labs_verified-r" ng-if="api.pollDetails.labs_created">🔥</span>
  <p id="description" class="not_target" ng-if="!api.pollDetails.available">{{language.dictionary.not_available}}</p>
  <p id="description" ng-if="api.pollDetails.available">{{api.pollDetails.description}}</p>
  <p id="coins" ng-if="api.pollDetails.available">
    <span id="coins_amount">{{api.pollDetails.coins}}</span>
    <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_40,h_40/v1515132992/constants/coin.png" alt="coins" class="coins_icon"/>
    <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_40,h_40/v1515132992/constants/coin.png" alt="coins" class="coins_icon"/>
    <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_40,h_40/v1515132992/constants/coin.png" alt="coins" class="coins_icon"/>
  </p>
  <p class="pS"><b>{{::language.dictionary.collectables_answer}}</b></p>
  <p class="pS" ng-repeat="collectable in api.pollDetails.collectables" ng-bind="language.dictionary[collectable]"></p>
</section>
<hr class="dM time_span1"/>
<div class="floatingCW" id="quiz_span" ng-if="api.pollDetails.labs_option == 0" ng-hide="api.loading">
  <p class="pS">{{::language.dictionary.quiz_answer('1')}}</p>
</div>
<div class="floatingCW" ng-if="api.pollDetails.labs_option == 2" ng-hide="api.loading">
  <p class="pS">{{::language.dictionary.emoji_survey}}</p>
</div>
<p ng-class="{ 'time' : gameTime > 3, 'time-exagerated' : gameTime <= 3}" ng-if="gameTime > 0" ng-hide="api.loading || countdown > -1 || api.pollDetails.answered" ng-bind="gameTime"></p>
<p class="time-exagerated" ng-if="api.pollDetails.labs.time > 0 && !api.pollDetails.answered" ng-hide="gameTime != 0 || api.loading">{{::language.dictionary.times_up}}</p>
<hr class="dM time_span1"  ng-if="api.pollDetails.labs_created"/>
<div class="begin-timer" ng-show="api.pollDetails.labs_option == 3 && countdown > 0" ng-if="!api.loading" ng-bind="countdown"></div>
<hr class="dM" id="timer_span" ng-hide="true"/>
<section id="answer_section" ng-if="api.pollDetails.available && currentAdditionalQuestion == null" ng-hide="api.loading || (api.pollDetails.labs_option == 3 && countdown != -1)">
  <p class="poll_question">{{api.pollDetails.question}}</p>
  <img class="poll_img" ng-src="{{api.pollDetails.image_url}}" alt="poll_image"/>
  <ul class="poll_list">
    <li class="poll_item" ng-repeat="option in api.pollDetails.options track by $index" ng-disabled="api.pollDetails.answered || api.request_pending" ng-class="{'buttonLoading' : api.request_pending, 'pollDisabled' : api.pollDetails.answered}" ng-click="vote($index)">
      {{option}}
      <div class="poll_percentage" style="width: {{api.pollDetails.analytics[$index].percentage}}%;" ng-show="api.pollDetails.answered"><span ng-if="api.pollDetails.analytics[$index].percentage > 5" class="percentage">{{api.pollDetails.analytics[$index].percentage}}%</span></div>
    </li>
  </ul>
</section>
<section id="answer_section" ng-if="api.pollDetails.labs.questions.length > 0" ng-hide="api.loading || (api.pollDetails.labs_option == 3 && countdown != -1) || currentAdditionalQuestion == null">
  <p class="poll_question">{{api.pollDetails.labs.questions[currentAdditionalQuestion].question}}</p>
  <img class="poll_img" ng-src="{{api.pollDetails.image_url}}" alt="poll_image"/>
  <ul class="poll_list">
    <li class="poll_item" ng-repeat="option in api.pollDetails.labs.questions[currentAdditionalQuestion].options track by $index" ng-disabled="api.pollDetails.answered || api.request_pending" ng-class="{'buttonLoading' : api.request_pending, 'pollDisabled' : api.pollDetails.answered}" ng-click="voteAdditional($index)">
      {{option}}
    </li>
  </ul>
</section>
<hr class="dM"/>
<div class="floatingCW" ng-if="api.pollDetails.answered && api.pollDetails.next_poll != '' && api.pollDetails.available && !api.loading">
  <p class="pS"><a id="link" ng-href="{{api.pollDetails.next_poll}}">{{language.dictionary.recommended_poll}}</a></p>
</div>
