<div class="columnContainer" id="main_list">
  <i class="loadingP" ng-show="api.loading">
    <span class="loading l-40"></span>
  </i>
  <div class="floatingCW" ng-if="api.pollColumnOne.length == 0" ng-hide="api.loading">
    <p class="pM">{{::language.dictionary.no_polls}}</p>
  </div>
  <ul class="column" label="column one" ng-hide="api.pollColumnOne.length == 0">
    <li class="q-item" ng-repeat="poll in api.pollColumnOne">
      <a ng-href="{{poll.answer_url}}" class="qAnswerURL"></a>
      <img ng-src="{{poll.image_url}}" class="q-img">
      <div class="q-item-bottom">
        <i class="material-icons" ng-class="poll.bookmarked ? 'bookmarked' : 'bookmark'" ng-click="api.bookmark($event, 0, $index)">&#xE866;</i>
        <h4 class="q-title" ng-bind="poll.title"></h4>
        <h4 class="q-desc" ng-bind="poll.description"></h4>
        <div class="currencyContainer">
          <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_60/v1515132992/constants/coin.png" width="30" height="30" class="poll-coin">
          <h4 class="q-c-amount" ng-bind="poll.coins"></h4>
        </div>
      </div>
    </li>
  </ul>
  <ul class="column" label="column two" ng-hide="api.pollColumnTwo.length == 0">
    <li class="q-item" ng-repeat="poll in api.pollColumnTwo">
      <a ng-href="{{poll.answer_url}}" class="qAnswerURL"></a>
      <img ng-src="{{poll.image_url}}" class="q-img">
      <div class="q-item-bottom">
        <h4 class="q-title" ng-bind="poll.title"></h4>
        <h4 class="q-desc" ng-bind="poll.description"></h4>
        <div class="currencyContainer">
          <i class="material-icons" ng-class="poll.bookmarked ? 'bookmarked' : 'bookmark'" ng-click="api.bookmark($event, 1, $index)">&#xE866;</i>
          <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_60/v1515132992/constants/coin.png" width="30" height="30" class="poll-coin">
          <h4 class="q-c-amount" ng-bind="poll.coins"></h4>
        </div>
      </div>
    </li>
  </ul>
  <ul class="column" label="column three" ng-hide="api.pollColumnThree.length == 0">
    <li class="q-item" ng-repeat="poll in api.pollColumnThree">
      <a ng-href="{{poll.answer_url}}" class="qAnswerURL"></a>
      <img ng-src="{{poll.image_url}}" class="q-img">
      <div class="q-item-bottom">
        <i class="material-icons" ng-class="poll.bookmarked ? 'bookmarked' : 'bookmark'" ng-click="api.bookmark($event, 2, $index)">&#xE866;</i>
        <h4 class="q-title" ng-bind="poll.title"></h4>
        <h4 class="q-desc" ng-bind="poll.description"></h4>
        <div class="currencyContainer">
          <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_60/v1515132992/constants/coin.png" width="30" height="30" class="poll-coin">
          <h4 class="q-c-amount" ng-bind="poll.coins"></h4>
        </div>
      </div>
    </li>
  </ul>
</div>
