<i class="material-icons md-32 nav" ng-click="openNav()">&#xE5D2;</i>

<div id="navDrawer" ng-click="closeNav()">
  <ul id="navList">
    <li class="navItem" id="en"><a class="navLink" href="">English</a></li>
    <li class="navItem" id="es"><a lang="es" class="navLink" href="#es">Espa&ntilde;ol</a></li>
    <li class="navItem" id="fr"><a lang="fr" class="navLink" href="#fr">Fran&ccedil;ais</a></li>
    <li class="navItem" id="zh-Hans"><a lang="zh-Hans" class="navLink" href="#zh-Hans">普通话</a></li>
    <li class="navItem" id="zh-Hant"><a lang="zh-Hant" class="navLink" href="#zh-Hant">中文</a></li>
    <li class="navItem" id="ar"><a lang="ar" class="navLink" href="#ar">عربى</a></li>
    <li class="navItem" id="it"><a lang="it" class="navLink" href="#it">Italiano</a></li>
    <li class="navItem" id="de"><a lang="de" class="navLink" href="#de">Deutsche</a></li>
    <li class="navItem" id="ko"><a lang="ko" class="navLink" href="#ko">한국어</a></li>
    <li class="navItem" id="ru"><a lang="ru" class="navLink" href="#ru">русский</a></li>
    <li class="navItem" id="vi"><a lang="vi" class="navLink" href="#vi">Tiếng Việt</a></li>
  </ul>
</div>

<a class="headerL" href="/landing_page">SurveyStacks</a>

<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div id="main_section" ng-hide="api.loading">
  <a href="/login?redirect_url={{api.location}}" id="return_link" class="r_link">{{::language.dictionary.login}}</a>
  <a href="/register?redirect_url={{api.location}}" id="report_link" class="r_link">{{::language.dictionary.sign_up}}</a>
  <hr class="dM"/>
  <div class="floatingCW" ng-if="!api.pollDetails.targeted && api.pollDetails.answered" ng-hide="api.loading">
    <p class="pM not_target">{{::language.dictionary.not_target}}</p>
  </div>
  <section id="description_section" ng-hide="api.loading || (countdown < 1 && gameTime > -1)">
    <span class="labs_verified-l" ng-if="api.pollDetails.labs_created">🔥</span>
    <span class="labs_verified-r" ng-if="api.pollDetails.labs_created">🔥</span>
    <p id="description" ng-if="!api.pollDetails.available">{{language.dictionary.not_available}}</p>
    <p id="description" ng-if="api.pollDetails.available">{{api.pollDetails.description}}</p>
    <p id="coins" ng-if="api.pollDetails.available">
      <span style="color: red; font-size: 20px;">{{::language.dictionary.no_stacks}}</span>
    </p>
  </section>
  <hr class="dM time_span1"/>
  <div class="floatingCW" id="quiz_span" ng-if="api.pollDetails.labs_option == 0" ng-hide="api.loading">
    <p class="pS">{{::language.dictionary.quiz_answer('1')}}</p>
  </div>
  <div class="floatingCW" ng-if="api.pollDetails.labs_option == 2" ng-hide="api.loading">
    <p class="pS">{{::language.dictionary.emoji_survey}}</p>
  </div>
  <p ng-class="{ 'time' : gameTime > 3, 'time-exagerated' : gameTime <= 3}" ng-if="gameTime > 0" ng-hide="api.loading || countdown > -1 || api.pollDetails.answered" ng-bind="gameTime"></p>
  <p class="time-exagerated" ng-if="api.pollDetails.labs.time > 0" ng-show="gameTime == 0" ng-hide="api.pollDetails.answered">{{::language.dictionary.times_up}}</p>
  <hr class="dM time_span1"  ng-if="api.pollDetails.labs_created"/>
  <div class="begin-timer" ng-show="api.pollDetails.labs_option == 3 && countdown > 0" ng-bind="countdown"></div>
  <hr class="dM" id="timer_span" ng-hide="true"/>
  <section id="answer_section" ng-if="api.pollDetails.available && currentAdditionalQuestion == null" ng-hide="api.loading || (api.pollDetails.labs_option == 3 && countdown != -1)">
    <p class="poll_question">{{api.pollDetails.question}}</p>
    <img class="poll_img" ng-src="{{api.pollDetails.image_url}}" alt="poll_image"/>
    <ul class="poll_list">
      <li class="poll_item" ng-repeat="option in api.pollDetails.options" ng-disabled="api.pollDetails.answered || api.request_pending" ng-class="{'buttonLoading' : api.request_pending, 'pollDisabled' : api.pollDetails.answered}" ng-click="vote($index)">
        {{option}}
        <div class="poll_percentage" style="width: {{api.pollDetails.analytics[$index].percentage}}%;" ng-show="api.pollDetails.answered"><span style="color: white;" ng-if="api.pollDetails.analytics[$index].percentage > 5">{{api.pollDetails.analytics[$index].percentage}}%</span></div>
      </li>
    </ul>
  </section>
  <section id="answer_section" ng-if="api.pollDetails.labs.questions.length > 0" ng-hide="api.loading || (api.pollDetails.labs_option == 3 && countdown != -1) || currentAdditionalQuestion == null">
    <p class="poll_question">{{api.pollDetails.labs.questions[currentAdditionalQuestion].question}}</p>
    <img class="poll_img" ng-src="{{api.pollDetails.image_url}}" alt="poll_image"/>
    <ul class="poll_list">
      <li class="poll_item" ng-repeat="option in api.pollDetails.labs.questions[currentAdditionalQuestion].options" ng-disabled="api.pollDetails.answered || api.request_pending" ng-class="{'buttonLoading' : api.request_pending, 'pollDisabled' : api.pollDetails.answered}" ng-click="voteAdditional($index)">
        {{option}}
        <div class="poll_percentage" style="width: {{api.pollDetails.analytics[$index].percentage}}%;" ng-show="api.pollDetails.answered"><span style="color: white;" ng-if="api.pollDetails.analytics[$index].percentage > 5">{{api.pollDetails.analytics[$index].percentage}}%</span></div>
      </li>
    </ul>
  </section>
  <hr class="dM"/>
</div>
