<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div class="main_list">
  <div class="floatingCW" ng-if="api.data.preferences_completed">
    <p class="pM not_target">{{::language.dictionary.not_allowed}}</p>
  </div>
  <section id="description_section" ng-hide="api.loading">
    <p id="description">{{::language.dictionary.preferences_description}}</p>
    <p id="stacks">
      <span id="stacks_amount">{{api.data.stacks}}</span>
      <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_150/v1515132992/constants/stacks_cash.png" alt="stacks" class="stacks_icon"/>
      <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_150/v1515132992/constants/stacks_cash.png" alt="stacks" class="stacks_icon"/>
      <img src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_150/v1515132992/constants/stacks_cash.png" alt="stacks" class="stacks_icon"/>
    </p>
  </section>
  <hr class="dM" />
  <form class="formA">
    <section id="answer_section" ng-hide="api.loading">
      <ul class="questionList">
        <li class="questionContainer">
          <div class="question">
            <p class="questionText">{{::language.dictionary.app_lang}}</p>
            <ul class="optionsUl chU">
              <li class="chckcontainer" ng-repeat="(lang, translation) in language.globals.supportedLanguages track by $index">
                <label class="chckbxlbl">{{translation}}
                  <input type="radio" name="rr" value="{{lang}}" ng-model="api.userAnswers.lang" class="chckbxrad">
                  <div class="chkcrad--act"></div>
                </label>
              </li>
            </ul>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
            <p class="questionTextB">{{::language.dictionary.monosex_filter}}</p>
            <label class="switch">
              <input type="checkbox" class="toggle_bs" name="brmf" ng-model="api.userAnswers.monosex_filter">
              <div class="slider round"></div>
            </label>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
            <p class="questionTextB">{{::language.dictionary.translated_filter}}</p>
            <label class="switch">
              <input type="checkbox" class="toggle_bs" name="brtf" ng-model="api.userAnswers.translated_filter">
              <div class="slider round"></div>
            </label>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
              <p class="questionText">{{::language.dictionary.categories_meta}}</p>
              <ul class="optionsUl chU">
                <li class="chckcontainer" ng-repeat="(category, translation) in api.data.categories track by $index">
                  <label class="chckbxlbl">{{translation}}
                    <input type="checkbox" name="crcat" value="{{category}}" ng-click="optionChecked(0, category, $event)" class="chckbx">
                    <div class="chkcbox--act"></div>
                  </label>
                </li>
              </ul>
          </div>
        </li>
        <li class="questionContainer">
          <div class="question">
              <p class="questionText">{{::language.dictionary.companies_meta}}</p>
              <ul class="optionsUl chU">
                <li class="chckcontainer" ng-repeat="(company, translation) in api.data.companies track by $index">
                  <label class="chckbxlbl">{{translation}}
                    <input type="checkbox" name="crcom" value="{{company}}" ng-click="optionChecked(1, company, $event)" class="chckbx">
                    <div class="chkcbox--act"></div>
                  </label>
                </li>
              </ul>
          </div>
        </li>
      </ul>
    </section>
    <hr class="dM"/>
    <input id="submitResponses" type="submit" ng-click="validateSurvey()" ng-hide="api.loading" ng-disabled="api.request_pending" ng-class="{'buttonLoading' : api.request_pending}" value="{{::language.dictionary.update_preferences}}"/>
  </form>
</div>
