<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div class="main_list" id="main_list" ng-hide="api.loading" ng-if="!api.profile_exists">
  <div class="floatingCW"  ng-hide="api.loading">
    <p class="pM">{{::language.dictionary.unexistentProfile(api.profile.username)}}</p>
  </div>
</div>
<div class="profileTheme" ng-hide="api.loading" ng-if="api.profile_exists">
  <img src="{{api.profile.profile_theme_url}}" ng-src="{{api.profile.profile_theme_url}}" alt="theme img" class="themeImg" show-on-load/>
  <div class="stats_container">
    <div class="profilePictureContainer">
      <img alt="profile picture" ng-src="{{api.profile.profile_picture_url}}" on-error-src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg" class="profilePicture"/>
    </div>
  </div>
</div>
<section class="profileInfo" ng-hide="api.loading" ng-if="api.profile_exists">
  <div class="floatingCW">
    <p class="pM">{{api.profile.motto}}</p>
  </div>
  <div class="floatingCW">
    <div class="contactI" ng-if="api.contactInfo.facebook != ''">
      <a ng-href="https://www.facebook.com/{{api.contactInfo.facebook}}" target="_blank" class="link"></a>
      <img class="contactImg" src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_60/v1515116627/constants/fb_logo.png" alt="fb_icon"/>
    </div>
    <div class="contactI" ng-if="api.contactInfo.instagram != ''">
      <a ng-href="https://www.instagram.com/{{api.contactInfo.facebook}}" target="_blank" class="link"></a>
      <img class="contactImg" src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_60/v1515269102/constants/ig_logo.png" alt="insta_icon"/>
    </div>
    <div class="contactI" ng-if="api.contactInfo.website != ''">
      <a ng-href="{{api.contactInfo.website}}" target="_blank" class="link"></a>
      <img class="contactImg" src="" alt="web_icon"/>
    </div>
    <div class="contactI" ng-if="api.contactInfo.phone_number != ''">
      <a class="link" ng-href="tel:{{api.contactInfo.phone_number}}"></a>
      <img class="contactImg" src="" alt="phone_icon"/>
    </div>
    <div class="contactI" ng-if="api.contactInfo.email != ''">
      <a class="link" ng-href="mailto:{{api.contactInfo.email}}"></a>
      <img class="contactImg" src="" alt="phone_icon"/>
    </div>
  </div>
  <div class="floatingCW" ng-if="api.achievements.total_stacks != 0" id="stacks_total">
    <p class="pS">{{api.achievements.total_stacks}} {{::language.dictionary.total_stacks}}</p>
  </div>
  <div class="floatingCW" ng-if="api.achievements.total_coins != 0" id="coins_total">
    <p class="pS">{{api.achievements.total_coins}} {{::language.dictionary.total_coins}}</p>
  </div>
  <div class="floatingCW" ng-if="api.achievements.total_rewards_claimed != 0">
    <p class="pS">{{api.achievements.total_rewards_claimed}} {{::language.dictionary.rewards_claimed}}</p>
  </div>
  <div class="floatingCW" ng-if="api.achievements.total_surveys_answered != 0">
    <p class="pS">{{api.achievements.total_surveys_answered}} {{::language.dictionary.surveys_answered_ex}}</p>
  </div>
  <div class="floatingCW" ng-if="api.achievements.total_questions_answered != 0">
    <p class="pS">{{api.achievements.total_questions_answered}} {{::language.dictionary.questions_answered}}</p>
  </div>
  <div class="floatingCW">
    <p class="pS"> {{::language.dictionary.member_since}}, {{api.since | date : "MM-dd-yyyy"}}</p>
  </div>
  <!--
    YOU FOUND OUR EASTER EGG :) In Future Updates we plan on having
      Following!
      Followers!
      Groups!
    DON'T SPOIL IT! LET SOMEONE ELSE FIGURE OUT THIS LITTLE PROGRAMMERS JOKE
  -->
</section>
