<!DOCTYPE html>
<html ng-app="survey-stacks" ng-controller="sessionController" lang="{{language.langFile}}" dir="{{language.langDir}}">
  <head>
    <link rel="manifest" href="/manifest.json">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/javascript/global_translations.js"></script>
    <script type="text/javascript" src="/javascript/public_en_translations.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-cookies.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <noscript>Please Enable JavaScript to Use This Webpage</noscript>
    <script type="text/javascript" src="/javascript/public.js"></script>
    <script type="text/javascript" src="/javascript/public-api.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/starters.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/public.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/answer.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/languages_nav.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <title ng-bind="metadata.title">SurveyStacks</title>
    <meta charset="UTF-8">
    <base target="_top" href="http://192.168.1.92:3000/">
    <meta name="theme-color" content="#2ecc71"/>
    <meta name="description" content="{{metadata.description || 'Answer Surveys and Receive Stacks! Ask Surveys and Receive Stats Instantly'}}">
    <meta name="keywords" content="surveys, survey stacks, the stacks technologies, answer surveys, win money answering surveys, make a survey">
    <meta name="author" content="SurveyStacks Dev Team">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all">
    <meta name="language" content="{{language.langFull}}">

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="SurveyStacks">
    <meta itemprop="description" content="Answer Surveys and Receive 'Stacks'! Ask Surveys and Receive Stats Instantly">
    <meta itemprop="image" content="https://res.cloudinary.com/survey-stacks/image/upload/v1515271529/constants/logo_square_text.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="SurveyStacks">
    <meta name="twitter:description" content="Answer Surveys and Receive 'Stacks'! Ask Surveys and Receive Stats Instantly">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="SurveyStacks">
    <meta name="og:description" content="Answer Surveys and Receive 'Stacks'! Ask Surveys and Receive Stats Instantly">
    <meta name="og:image" content="http://res.cloudinary.com/survey-stacks/image/upload/v1515271529/constants/logo_square_text.png">
    <meta name="og:url" content="https://www.surveystacks.com/">
    <meta name="og:site_name" content="SurveyStacks">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">
  </head>
  <body class="ng-cloak">
    <ng-controller ng-controller="AlertsController">
      <ng-include src="'/views/snackbar.html'"></ng-include>
    </ng-controller>
    <ng-view></ng-view>
    <script type="text/javascript" src="/javascript/animateCanvas.js"></script>
  </body>
</html>
