<hr class="dM"/>
<div class="floatingCW">
  <h1 class="pH">{{::language.dictionary.quiz_options}}</h1>
  <span class="pHd"></span>
  <ul class="question_response">
    <li class="question_item_d">
      <span class="details_response_cat" style="cursor: default">{{::language.dictionary.show_grade}}</span>
      <div class="checkbox_response_item_container_p">
        <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdQuestionnaire.method_options.show_score"/>
        <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
      </div>
    </li>
    <li class="question_item_d" ng-if="api.createdQuestionnaire.type == 'survey'">
      <input class="response_input" placeholder="{{::language.dictionary.possible_quiz_points}}" name="questionnaire_quiz_total" ng-model="api.createdQuestionnaire.method_options.out_of" type="number" ng-min="1" required/>
    </li>
    <li class="question_item_d" ng-if="api.createdQuestionnaire.type == 'poll'" ng-show="api.createdQuestionnaire.poll.options.length > 0">
      <span class="details_response_cat" ng-bind="api.createdQuestionnaire.method_options.answer || language.dictionary.correct_answer"></span>
    </li>
    <ul class="question_list_d" id="answers_list" ng-if="api.createdQuestionnaire.type == 'poll'" scroller>
      <li class="question_cat_item" ng-repeat="answer in api.createdQuestionnaire.poll.options track by $index" ng-bind="answer" ng-hide="answer == ''" ng-click="api.createdQuestionnaire.method_options.answer = answer"></li>
    </ul>
  </ul>
</div>
<ng-include src="'/views/survey_template.html'" ng-if="api.createdQuestionnaire.type == 'survey'"></ng-include>
<ng-include src="'/views/poll_template.html'" ng-if="api.createdQuestionnaire.type == 'poll'"></ng-include>
<section id="optionsToolbar" class="side-nav" ng-show="show_options_toolbar" ng-if="api.createdQuestionnaire.type == 'survey'" ng-switch="questionOptions.type">
  <div class="optionsContainer" ng-switch-when="fr" ng-init="pd = false; ga = false; ans = false; qw = false;">
    <div class="requiredC">
      <span class="rdbx">
        <label class="chckbxlbl ckl">{{::language.dictionary.required}}
          <input type="checkbox" name="required" ng-model="api.createdQuestionnaire.survey.freeResponseQuestions[questionOptions.index].options.required" class="chckbx">
          <div class="chkcbox--act"></div>
        </label>
      </span>
    </div>
    <span class="vd"></span>
    <p class="pattern-label" ng-click="pd = !pd">{{language.dictionary.text_pattern}}</p>
    <div class="patternC" ng-show="pd">
      <span class="rdbx" ng-repeat="(value, pattern) in language.dictionary.patterns">
        <label class="chckbxlbl ckr">{{pattern}}
          <input type="radio" name="pattern" value="{{value}}" ng-model="api.createdQuestionnaire.survey.freeResponseQuestions[questionOptions.index].options.pattern" class="chckbxrad">
          <div class="chkcrad--act"></div>
        </label>
      </span>
    </div>
    <hr class="dM" />
    <p class="pattern-label" ng-click="qw = !qw">{{language.dictionary.question_worth}}</p>
    <div class="patternC" ng-show="qw">
      <span class="rdbx">
        <input type="number" name="worth_{{questionOptions.type}}_{{questionOptions.index}}" ng-model="api.createdQuestionnaire.survey.freeResponseQuestions[questionOptions.index].options.worth" min="0.01" max="{{api.createdQuestionnaire.method_options.out_of}}" class="response_input">
      </span>
    </div>
    <hr class="dM" />
    <p class="pattern-label" ng-click="ga = !ga">{{language.dictionary.grading_algorithm}}</p>
    <div class="patternC" ng-show="ga">
      <span class="rdbx" ng-repeat="(value, algo) in language.dictionary.grading_algorithms">
        <label class="chckbxlbl ckr">{{algo}}
          <input type="radio" name="algorithm" value="{{value}}" ng-model="api.createdQuestionnaire.survey.freeResponseQuestions[questionOptions.index].options.algorithm" class="chckbxrad">
          <div class="chkcrad--act"></div>
        </label>
      </span>
    </div>
    <hr class="dM" />
    <p class="pattern-label" ng-click="ans = !ans">{{::language.dictionary.correct_answer}}</p>
    <textarea class="correct_answer_ta" rows="1000" ng-show="ans" ng-model="api.createdQuestionnaire.survey.freeResponseQuestions[questionOptions.index].options.answer" autofocus></textarea>
  </div>
  <div class="optionsContainer" ng-switch-when="cr">
    <div class="requiredC">
      <span class="rdbx">
        <label class="chckbxlbl ckl">{{::language.dictionary.required}}
          <input type="checkbox" name="required" ng-model="api.createdQuestionnaire.survey.checkboxResponseQuestions[questionOptions.index].options.required" class="chckbx">
          <div class="chkcbox--act"></div>
        </label>
      </span>
    </div>
    <span class="vd"></span>
    <p class="pattern-label" ng-click="qw = !qw">{{language.dictionary.question_worth}}</p>
    <div class="patternC" ng-show="qw">
      <span class="rdbx">
        <input type="number" name="worth_{{questionOptions.type}}_{{questionOptions.index}}" ng-model="api.createdQuestionnaire.survey.freeResponseQuestions[questionOptions.index].options.worth" min="0.01" max="{{api.createdQuestionnaire.method_options.out_of}}" class="response_input">
      </span>
    </div>
    <hr class="dM" />
    <p class="pattern-label">{{::language.dictionary.correct_answer}}</p>
    <div class="patternC">
      <span class="rdbx" ng-repeat="response in api.createdQuestionnaire.survey.checkboxResponseQuestions[questionOptions.index].responses track by $index">
        <label class="chckbxlbl ckr" ng-if="response != ''">{{response}}
          <input type="checkbox" name="correct_answer" value="{{$index}}" ng-click="addAnswer(questionOptions.index, $index)" class="chckbx">
          <div class="chkcbox--act"></div>
        </label>
      </span>
    </div>
  </div>
  <div class="optionsContainer" ng-switch-when="br">
    <div class="requiredC">
      <span class="rdbx">
        <label class="chckbxlbl ckl">{{::language.dictionary.required}}
          <input type="checkbox" name="required" ng-model="api.createdQuestionnaire.survey.booleanResponseQuestions[questionOptions.index].options.required" class="chckbx">
          <div class="chkcbox--act"></div>
        </label>
      </span>
    </div>
    <span class="vd"></span>
    <p class="pattern-label" ng-click="qw = !qw">{{language.dictionary.question_worth}}</p>
    <div class="patternC" ng-show="qw">
      <span class="rdbx">
        <input type="number" name="worth_{{questionOptions.type}}_{{questionOptions.index}}" ng-model="api.createdQuestionnaire.survey.freeResponseQuestions[questionOptions.index].options.worth" min="0.01" max="{{api.createdQuestionnaire.method_options.out_of}}" class="response_input">
      </span>
    </div>
    <hr class="dM" />
    <p class="pattern-label">{{::language.dictionary.correct_answer}}</p>
    <div class="patternC">
      <span class="rdbx">
        <label class="chckbxlbl ckr">{{::language.dictionary.no}}
          <input type="radio" name="correct_answer" value="0" ng-model="api.createdQuestionnaire.survey.booleanResponseQuestions[questionOptions.index].options.correct" class="chckbxrad">
          <div class="chkcrad--act"></div>
        </label>
      </span>
      <span class="rdbx">
        <label class="chckbxlbl ckr">{{::language.dictionary.yes}}
          <input type="radio" name="correct_answer" value="1" ng-model="api.createdQuestionnaire.survey.booleanResponseQuestions[questionOptions.index].options.correct" class="chckbxrad">
          <div class="chkcrad--act"></div>
        </label>
      </span>
    </div>
  </div>
  <div class="optionsContainer" ng-switch-when="rr">
    <div class="requiredC">
      <span class="rdbx">
        <label class="chckbxlbl ckl">{{::language.dictionary.required}}
          <input type="checkbox" name="required" ng-model="api.createdQuestionnaire.survey.radioResponseQuestions[questionOptions.index].options.required" class="chckbx">
          <div class="chkcbox--act"></div>
        </label>
      </span>
    </div>
    <span class="vd"></span>
    <p class="pattern-label" ng-click="qw = !qw">{{language.dictionary.question_worth}}</p>
    <div class="patternC" ng-show="qw">
      <span class="rdbx">
        <input type="number" name="worth_{{questionOptions.type}}_{{questionOptions.index}}" ng-model="api.createdQuestionnaire.survey.freeResponseQuestions[questionOptions.index].options.worth" min="0.01" max="{{api.createdQuestionnaire.method_options.out_of}}" class="response_input">
      </span>
    </div>
    <hr class="dM" />
    <p class="pattern-label">{{::language.dictionary.correct_answer}}</p>
    <div class="patternC">
      <span class="rdbx" ng-repeat="response in api.createdQuestionnaire.survey.radioResponseQuestions[questionOptions.index].responses track by $index">
        <label class="chckbxlbl ckr" ng-if="response != ''">{{response}}
          <input type="radio" name="correct_answer" value="{{$index}}" ng-model="api.createdQuestionnaire.survey.radioResponseQuestions[questionOptions.index].options.correct" class="chckbxrad">
          <div class="chkcrad--act"></div>
        </label>
      </span>
    </div>
  </div>
  <div class="optionsContainer" ng-switch-when="mr">
    <div class="requiredC">
      <span class="rdbx">
        <label class="chckbxlbl ckl">{{::language.dictionary.required}}
          <input type="checkbox" name="required" ng-model="api.createdQuestionnaire.survey.menuResponseQuestions[questionOptions.index].options.required" class="chckbx">
          <div class="chkcbox--act"></div>
        </label>
      </span>
    </div>
    <span class="vd"></span>
    <p class="pattern-label" ng-click="qw = !qw">{{language.dictionary.question_worth}}</p>
    <div class="patternC" ng-show="qw">
      <span class="rdbx">
        <input type="number" name="worth_{{questionOptions.type}}_{{questionOptions.index}}" ng-model="api.createdQuestionnaire.survey.freeResponseQuestions[questionOptions.index].options.worth" min="0.01" max="{{api.createdQuestionnaire.method_options.out_of}}" class="response_input">
      </span>
    </div>
    <hr class="dM" />
    <p class="pattern-label">{{::language.dictionary.correct_answer}}</p>
    <div class="patternC">
      <span class="rdbx" ng-repeat="response in api.createdQuestionnaire.survey.menuResponseQuestions[questionOptions.index].responses track by $index">
        <label class="chckbxlbl ckr" ng-if="response != ''">{{response}}
          <input type="radio" name="correct_answer" value="{{$index}}" ng-model="api.createdQuestionnaire.survey.menuResponseQuestions[questionOptions.index].options.correct" class="chckbxrad">
          <div class="chkcrad--act"></div>
        </label>
      </span>
    </div>
  </div>
</section>
