<link rel="stylesheet" type="text/css" href="/stylesheets/receipt.css">
<!-- <h1 class="header" ng-hide="api.loading">{{::language.dictionary.receipt}}<span ng-show="api.receiptData.viewable" style="display:block; margin-left: 8px;">#</span>{{api.receiptData.paymentDetails.receipt_token}}</h1> -->
<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<img src="/images/icon.png" class="not_viewable_img" alt="icon" ng-if="!api.receiptData.viewable" ng-hide="api.loading"/>
<h1 class="heade to" ng-if="!api.receiptData.viewable" ng-hide="api.loading">{{::language.dictionary.not_editable}}</h1>
<section id="receipt_cont" ng-hide="api.loading" ng-if="api.receiptData.viewable">
  <h1 class="receipt_p">
    {{api.receiptData.type == 'surveys' ? language.dictionary.survey : language.dictionary.poll}} {{::language.dictionary.details}}
    <i class="material-icons md-28 _fRI">&#xE873;</i>
  </h1>
  <ul class="receipt_ul">
    <li class="receipt_li">
      <p class="receipt_lip" title="Language">{{::language.dictionary.language}}: {{api.receiptData.details.lang}}</p>
    </li>
    <li class="receipt_li">
      <p class="receipt_lip" title="Title">{{::language.dictionary.name}}: {{api.receiptData.details.name}}</p>
    </li>
    <li class="receipt_li">
      <p class="receipt_lip" title="Description">{{::language.dictionary.description}}: {{api.receiptData.details.description}}</p>
    </li>
    <li class="receipt_li">
      <p class="receipt_lip" title="Category">{{::language.dictionary.category}}: {{api.receiptData.details.category}}</p>
    </li>
    <li class="receipt_li">
      <a class="receipt_a" title="Image URL" ng-href="{{api.receiptData.details.image}}">{{::language.dictionary.cover_image}}</a>
    </li>
    <li class="receipt_li">
      <p class="receipt_lip" title="Questions" ng-if="api.receiptData.type == 'surveys'">{{::language.dictionary.questions}}: {{api.receiptData.details.questions_amount}}</p>
    </li>
    <li class="receipt_li">
      <p class="receipt_lip" title="Stacks/Coins">{{api.receiptData.type == 'surveys' ? language.dictionary.stacks : language.dictionary.coins}}: {{api.receiptData.details.sc_amount}}</p>
    </li>
  </ul>
  <h1 class="receipt_p">
    {{::language.dictionary.payment}} {{::language.dictionary.details}}
    <i class="material-icons md-28 _fRI">&#xE8B0;</i>
  </h1>
  <ul class="receipt_ul">
    <li class="receipt_li">
      <p class="receipt_lip" title="Cost">{{api.receiptData.type == 'surveys' ? language.dictionary.survey_price : language.dictionary.poll_price}}: ${{api.receiptData.paymentDetails.price.toFixed(2)}}</p>
    </li>
    <li class="receipt_li">
      <p class="receipt_lip" title="Extra">{{api.receiptData.type == 'surveys' ? language.dictionary.extra_stacks : language.dictionary.extra_coins}}: +${{api.receiptData.paymentDetails.extra.toFixed(2)}}</p>
    </li>
    <hr />
    <li class="receipt_li">
      <p class="receipt_lip" title="Total Cost">{{::language.dictionary.order_total}}: ${{api.receiptData.paymentDetails.total.toFixed(2)}}</p>
    </li>
  </ul>
  <a ng-href="{{api.receiptData.details.edit_url}}" class="editS">{{language.dictionary.edit}} {{api.receiptData.type == 'surveys' ? language.dictionary.survey : language.dictionary.poll}}</a>
  <h1 class="receipt_p ans" ng-bind="api.receiptData.details.answer_url"></h1>
  <img class="qr" ng-src="{{api.receiptData.details.answer_code_url}}"/>
</section>
