<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div class="main_list" id="main_list">
  <div class="floatingCW" ng-hide="api.loading" ng-if="api.rewardsAfford.length != 0">
    <p class="pM">{{language.dictionary.affordable_rewards}}</p>
  </div>
  <li class="rewardContainer flipper" ng-repeat="reward in api.rewardsAfford" id="{{reward.token}}_reward" style="margin-left: {{::margins()}}; margin-right: {{::margins()}}" ng-mouseenter="reward.started = true" ng-mouseleave="reward.started = false">
    <img class="rewardImage" alt="matching image" ng-src="{{reward.image_url}}">
    <div class="rewardBottom">
      <i class="material-icons" ng-class="reward.wishlisted ? 'wishlisted' : 'wishlist'" ng-click="api.wishlist(0, $index)" ng-disabled="api.request_pending">&#xE8F6;</i>
      <p class="rewardDescription" ng-hide="reward.started">{{reward.description}}</p>
      <div class="rewardMoreInfo" ng-hide="reward.started">
        <span class="rewardMITextH">{{reward.stacks}} {{language.dictionary.stacks}}</span>
        <span class="rewardMITextHN">{{reward.stacks_remaining}} {{::language.dictionary.rewardStacksRemaining(reward.stacks_remaining)}}</span>
      </div>
      <input type="range" ng-show="reward.started" class="slideToConfirm" step="1" value="0" min="0" max="100" id="slideToConfirmRange" title="{{reward.progress}}" ng-model="reward.progress" step="1" ng-change="rewardClaimer($index)" ng-disabled="api.request_pending">
      <span class="slideToConfirmText" ng-show="reward.started">Slide to Redeem</span>
    </div>
  </li>
  <div class="floatingCW" ng-hide="api.loading" ng-if="api.rewardsOther != 0">
    <p class="pM">{{language.dictionary.unaffordable_rewards}}</p>
  </div>
  <li class="rewardContainer flipper" ng-repeat="reward in api.rewardsOther" id="{{reward.token}}_reward" style="margin-left: {{::margins()}}; margin-right: {{::margins()}}">
    <img class="rewardImage" alt="matching image" ng-src="{{reward.image_url}}">
    <div class="rewardBottom">
      <i class="material-icons" ng-class="reward.wishlisted ? 'wishlisted' : 'wishlist'" ng-click="api.wishlist(0, $index)" ng-disabled="api.request_pending">&#xE8F6;</i>
      <p class="rewardDescription" ng-hide="reward.started">{{reward.description}}</p>
      <div class="rewardMoreInfo" ng-hide="reward.started">
        <span class="rewardMITextH">{{reward.stacks}} {{language.dictionary.stacks}}</span>
        <span class="rewardMITextHN">{{reward.stacks_needed}} {{::language.dictionary.rewardStacksNeeded(reward.stacks_needed)}}</span>
      </div>
    </div>
  </li>
</div>
