<i class="material-icons md-32 nav" ng-click="openNav()">&#xE5D2;</i>

<div id="navDrawer" ng-click="closeNav()">
  <ul id="navList">
    <li class="navItem" id="en"><a class="navLink" href="">English</a></li>
    <li class="navItem" id="es"><a lang="es" class="navLink" href="#es">Espa&ntilde;ol</a></li>
    <li class="navItem" id="fr"><a lang="fr" class="navLink" href="#fr">Fran&ccedil;ais</a></li>
    <li class="navItem" id="zh-Hans"><a lang="zh-Hans" class="navLink" href="#zh-Hans">普通话</a></li>
    <li class="navItem" id="zh-Hant"><a lang="zh-Hant" class="navLink" href="#zh-Hant">中文</a></li>
    <li class="navItem" id="ar"><a lang="ar" class="navLink" href="#ar">عربى</a></li>
    <li class="navItem" id="it"><a lang="it" class="navLink" href="#it">Italiano</a></li>
    <li class="navItem" id="de"><a lang="de" class="navLink" href="#de">Deutsche</a></li>
    <li class="navItem" id="ko"><a lang="ko" class="navLink" href="#ko">한국어</a></li>
    <li class="navItem" id="ru"><a lang="ru" class="navLink" href="#ru">русский</a></li>
    <li class="navItem" id="vi"><a lang="vi" class="navLink" href="#vi">Tiếng Việt</a></li>
  </ul>
</div>

<a class="headerL" href="/landing_page">SurveyStacks</a>

<section class="shadowBoxC">
  <form class="shadowBoxB" role="form" name="registerForm" ng-keydown="resetResponse()" ng-submit="register()" autocomplete="on">
    <p class="boxHeader">{{::language.dictionary.sign_up}}</p>
    <span class="divider"></span>
    <div class="boxIC">
      <input type="text" placeholder="{{::language.dictionary.fullname}}" id="name" autocomplete="on" name="name" ng-model="userCredentials.fullname" ng-pattern="/^(([a-z]+)( )([a-z]+))+$/i" maxlength="100" class="boxInput" required/>
      <i class="material-icons md-24 inputIcon">&#xE7FF;</i>
    </div>
    <div class="boxIC">
      <input type="text" placeholder="{{::language.dictionary.email_phone}}" id="email-phone" autocomplete="on" name="email tel" ng-model="userCredentials.email_phone" spellcheck="false" ng-pattern="/^(.+)(@)([a-z]+)(\.)([a-z]+)$|^\d+$/mi" class="boxInput" required/>
      <i class="material-icons md-24 inputIcon">&#xE0BA;</i>
    </div>
    <div class="boxIC">
      <input type="text" placeholder="{{::language.dictionary.username}}" id="username" name="username" id="username" autocomplete="on" ng-model="userCredentials.username" maxlength="25" class="boxInput" required/>
      <i class="material-icons md-24 inputIcon">&#xE7FF;</i>
    </div>
    <div class="boxIC">
      <input type="password" placeholder="{{::language.dictionary.password}}" id="new-password" name="password" autocomplete="on" ng-model="userCredentials.password" maxlength="50" class="boxInput" required/>
      <i class="material-icons md-22 inputIcon">&#xE899;</i>
    </div>
    <div class="boxIC">
      <input type="text" placeholder="{{::language.dictionary.dob}}" id="dob" name="dob" autocomplete="on" ng-model="userCredentials.dob" ng-pattern="/([0][1-9]|[1][0-2])[-|\/]([0][1-9]|[1-2][0-9]|[3][0-2])[-|\/]((19)[0-9]{2}|(20)[0-9][0-9])$/mi" maxlength="50" class="boxInput" required/>
      <i class="material-icons md-22 inputIcon">&#xE7E9;</i>
    </div>
    <input type="submit" class="boxSubmit" value="{{language.dictionary.register}}" />
    <p class="boxResponse" ng-show="registerResponse != '' " ng-bind="registerResponse"></p>
    <p class="boxE">{{::language.dictionary.have_account}}&nbsp;<a href="/login" style="color: #2ecc71;">{{::language.dictionary.log_in}}!</a></p>
  </form>
</section>
<h6 class="cr">&copy;	Copyright 2018.</h6>
