<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<hr class="dM"/>
<div class="floatingCW" ng-hide="api.loading" ng-if="!api.questionnaireDetails.exist">
  <p class="pM not_target" ng-bind="language.dictionary.not_available"></p>
</div>
<div class="floatingCW" ng-hide="api.loading" ng-if="api.questionnaireDetails.reported">
  <p class="pM not_target" ng-bind="language.dictionary.already_reported"></p>
</div>
<section id="answer_section" ng-if="api.questionnaireDetails.exist" ng-hide="api.loading">
  <ul class="questionList">
    <li class="questionContainer">
      <div class="question">
          <p class="questionText">{{::language.dictionary.reported_why}}<span class="req">*</span></p>
          <ul class="optionsUl chU">
            <li class="chckcontainer" ng-repeat="(value,option) in language.dictionary.report_reasons track by $index">
              <label class="chckbxlbl">{{option}}
                <input type="checkbox" value="{{value}}" ng-click="addReason(value, $event)" class="chckbx">
                <div class="chkcbox--act"></div>
              </label>
            </li>
          </ul>
      </div>
    </li>
    <li class="questionContainer">
      <div class="question">
          <input class="freeResponseInput" placeholder="{{language.dictionary.report_additional}}" type="text" ng-model="api.userReport.additional" ng-class="api.userReport.additional.length > 0 ? 'foc' : ''"/>
      </div>
    </li>
  </ul>
  <p id="req_warning"><span class="reqt">*</span>{{::language.dictionary.required_text}}</p>
</section>
<div class="floatingCW" ng-hide="api.response == '' || api.loading">
  <p class="pS not_target" ng-bind="api.response"></p>
</div>
<hr class="dM"/>
<button id="submitResponses" type="button" ng-click="validateSurvey()" ng-if="api.questionnaireDetails.exist && !api.questionnaireDetails.reported" ng-hide="api.loading" ng-disabled="api.request_pending" ng-class="{'buttonLoading' : api.request_pending}">{{::language.dictionary.submit}} {{::language.dictionary.report}}</button>
