<div id="navDrawer" ng-click="closeNav()">
  <ul id="navList">
    <li class="navItem" id="en"><a class="navLink" href="">English</a></li>
    <li class="navItem" id="es"><a lang="es" class="navLink" href="#es">Espa&ntilde;ol</a></li>
    <li class="navItem" id="fr"><a lang="fr" class="navLink" href="#fr">Fran&ccedil;ais</a></li>
    <li class="navItem" id="zh-Hans"><a lang="zh-Hans" class="navLink" href="#zh-Hans">普通话</a></li>
    <li class="navItem" id="zh-Hant"><a lang="zh-Hant" class="navLink" href="#zh-Hant">中文</a></li>
    <li class="navItem" id="ar"><a lang="ar" class="navLink" href="#ar">عربى</a></li>
    <li class="navItem" id="it"><a lang="it" class="navLink" href="#it">Italiano</a></li>
    <li class="navItem" id="de"><a lang="de" class="navLink" href="#de">Deutsche</a></li>
    <li class="navItem" id="ko"><a lang="ko" class="navLink" href="#ko">한국어</a></li>
    <li class="navItem" id="ru"><a lang="ru" class="navLink" href="#ru">русский</a></li>
    <li class="navItem" id="vi"><a lang="vi" class="navLink" href="#vi">Tiếng Việt</a></li>
  </ul>
</div>

<a class="headerL" href="/landing_page">SurveyStacks</a>

<i class="material-icons md-32 nav" ng-click="openNav()">&#xE5D2;</i>

<section class="shadowBoxC">
  <form class="shadowBox" name="resetForm" ng-keydown="resetResponse()" ng-submit="rpass()" autocomplete="on">
    <p class="boxHeader">{{::language.dictionary.reset_password}}</p>
    <span class="divider"></span>
    <div class="boxIC">
      <input type="text" placeholder="{{::language.dictionary.code}}" id="code" autocomplete="off" ng-model="userCredentials.code" name="code" maxlength="6" ng-pattern="/^[0-9|a-z]{6}$/mi" class="boxInput" required/>
      <i class="material-icons md-22 inputIcon">&#xE0DA;</i>
    </div>
    <div class="boxIC">
      <input type="text" placeholder="{{::language.dictionary.username}}" id="username" autocomplete="on" ng-model="userCredentials.username" name="username" maxlength="25" class="boxInput" required/>
      <i class="material-icons md-24 inputIcon">&#xE7FF;</i>
    </div>
    <div class="boxIC">
      <input type="password" placeholder="{{::language.dictionary.new_password}}" id="new-password" autocomplete="on" ng-model="userCredentials.password" name="new-password" maxlength="50" class="boxInput" required/>
      <i class="material-icons md-22 inputIcon">&#xE899;</i>
    </div>
    <input type="submit" ng-hide="RpassResponse == language.dictionary.success" ng-class="{noSubmit : resetForm.$invalid && resetForm.$dirty}" ng-disabled="resetForm.$invalid && resetForm.$dirty" class="boxSubmit" value="{{::language.dictionary.reset_password}}"/>
    <p class="boxResponse" ng-show="RpassResponse != '' " ng-bind="RpassResponse"></p>
    <p class="boxE" ng-hide="RpassResponse != language.dictionary.success && RpassResponse != ''">{{::language.dictionary.have_account}}&nbsp;<a href="/login" style="color: #2ecc71;">{{::language.dictionary.log_in}}!</a></p>
  </form>
</section>
<h6 class="cr">&copy;	Copyright 2018.</h6>
