<!DOCTYPE html>
<html ng-app="survey-stacks" ng-controller="SessionController" lang="{{language.langFile || 'en'}}" dir="{{language.langDir || 'ltr'}}">
  <head>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/session.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/answer.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-cookies.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="/javascript/global_translations.js"></script>
    <script type="text/javascript" src="/javascript/en_translations.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascript/session.js"></script>
    <script type="text/javascript" src="/javascript/session-api.js"></script>
    <noscript>Please Enable JavaScript to Use This Webpage</noscript>
    <title ng-bind="metadata.title">SurveyStacks</title>
    <base target="_top" href="http://192.168.1.92:3000/">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#2ecc71"/>
    <meta name="description" content="{{metadata.description || 'Answer Surveys and Receive Stacks! Ask Surveys and Receive Stats Instantly'}}">
    <meta name="keywords" content="surveys, survey stacks, the stacks technologies, answer surveys, win money answering surveys, make a survey, {{metadata.title}}, {{metadata.description}}">
    <meta name="author" content="SurveyStacks Dev Team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="all">
    <meta name="language" content="{{language.langFull}}">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="SurveyStacks">
    <meta itemprop="description" content="Answer Surveys and Receive 'Stacks'! Ask Surveys and Receive Stats Instantly">
    <meta itemprop="image" content="https://res.cloudinary.com/survey-stacks/image/upload/v1515271529/constants/logo_square_text.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="SurveyStacks">
    <meta name="twitter:description" content="Answer Surveys and Receive 'Stacks'! Ask Surveys and Receive Stats Instantly">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="SurveyStacks">
    <meta name="og:description" content="Answer Surveys and Receive 'Stacks'! Ask Surveys and Receive Stats Instantly">
    <meta name="og:image" content="http://res.cloudinary.com/survey-stacks/image/upload/v1515271529/constants/logo_square_text.png">
    <meta name="og:url" content="https://www.surveystacks.com/login">
    <meta name="og:site_name" content="SurveyStacks">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">
  </head>
  <body class="ng-cloak">
    <ng-controller ng-controller="AlertsController">
      <ng-include src="'/views/snackbar.html'"></ng-include>
    </ng-controller>
    <section id="view" ng-click="closeSearch($event)">
      <div id="toolbar" ng-controller="ToolbarController">
        <i class="material-icons md-26" id="navExpand" ng-click="openNav()">&#xE5D2;</i>
        <h1 id="toolbar_header" ng-if="route == 'main'">SurveyStacks</h1>
        <h1 id="toolbar_header" ng-if="route == 'analytics'">{{::language.dictionary.analytics}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'polls'">{{::language.dictionary.polls}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'profile'">{{::language.dictionary.profile}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'bookmarks'">{{::language.dictionary.bookmarks}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'labs'">{{::language.dictionary.labs}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'redeem'">{{::language.dictionary.redeem}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'info'">{{::language.dictionary.info}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'settings'">{{::language.dictionary.settings}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'teams'">{{::language.dictionary.teams}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'preferences_survey'">{{::language.dictionary.preferences}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'about_survey'">{{::language.dictionary.about_me}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'payment_survey'">{{::language.dictionary.payment}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'manage'">{{::language.dictionary.manage}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'survey_creator'">{{::language.dictionary.survey_creator}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'poll_creator'">{{::language.dictionary.poll_creator}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'edit'">{{::language.dictionary.edit}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'receipt'">{{::language.dictionary.receipt}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'answer'">{{::language.dictionary.answer}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'report'">{{::language.dictionary.report}}</h1>
        <h1 id="toolbar_header" ng-if="route == 'logout'">{{::language.dictionary.logging_out}}</h1>
        <div id="toolbar_notification_container">
          <span id="toolbar_notification">
            <i class="material-icons md-24" data-open="{{notifications_expanded}}" ng-click="expandNotifications()" ng-class="{notif_ol : listener.notifications.unread > 9}">&#xE7F4;</i>
            <span class="notifications_amount" ng-show="listener.notifications.unread > 0 && listener.notifications.unread < 10" data-open="{{notifications_expanded}}" ng-click="expandNotifications()">{{listener.notifications.unread}}</span>
          </span>
        </div>
        <div id="toolbar_wishlist_container">
          <span id="toolbar_wishlist">
            <i class="material-icons md-24" ng-click="expandWishlist()">&#xE8F6;</i>
          </span>
        </div>
        <div id="toolbar_search_container">
          <span id="toolbar_search" class="search" ng-click="openSearch()"><i class="material-icons md-24 search">&#xE8B6;</i></span>
          <input id="search_input" class="hidden search" type="text" name="user[search_query]" placeholder="Search" ng-model="search.searchQuery" ng-change="search.validateSearch()"/>
        </div>
      </div>
      <div id="notification_container" ng-controller="NotificationsController">
        <ul id="notifications_list" scroller>
          <li id="empty_notifications" class="notification_item" ng-if="empty_notifications()">
            <span>{{::language.dictionary.no_notif}}</span>
            <br />
            <i class="material-icons md-48 frown">&#xE811;</i>
          </li>
          <li class="dropdown_item" ng-repeat="notification in listener.notifications.list" ng-switch="notification.type">
            <div class="notification_d" ng-switch-when="a">
              <p class="ni_header" ng-bind="language.dictionary[notification.title]"></p>
              <p class="ni_text" ng-bind="notification.content"></p>
              <i class="material-icons nicon nicon_tl">&#xE645;</i>
              <i class="material-icons nicon nicon_tr">&#xE645;</i>
            </div>
            <div class="notification_d" ng-switch-when="q">
              <a ng-href="{{notification.url}}" class="notLink">
                <p class="ni_header" ng-bind="language.dictionary[notification.title]"></p>
                <p class="ni_text" ng-bind="language.dictionary.n_q_r(notification.content)"></p>
                <i class="material-icons nicon nicon_tl">&#xE801;</i>
                <i class="material-icons nicon nicon_tr">&#xE801;</i>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div id="wishlist_container" ng-controller="WishlistController">
        <ul id="wishlist_list" scroller>
          <li class="dropdown_item wl" ng-repeat="wish in user.wishlist_info">
            <i class="material-icons wi" ng-click="wishlist($index)" ng-disabled="user.request_pending">&#xE8F6;</i>
            <p class="ni_header wl_h" ng-bind="wish.title"></p>
            <div class="wl_pro"><span class="wl_pb" style="width: {{wish.progress}}%">{{wish.progress}}%</span></div>
          </li>
        </ul>
      </div>
      <nav class="side-nav side-nav-block" ng-controller="DrawerController" scroller>
        <section id="drawer_header">
          <div id="pfp_container">
            <img class="_pfp" id="pfp" ng-src="{{user.profile_picture_url}}" on-error-src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg" alt="profile picture"/>
          </div>
          <div id="drawer_username_container">
            <p id="username"><span id="username_span" class="hiddenDrawer">{{user.username}}</span></p>
          </div>
          <div id="stack_data_container" class="hiddenDrawer container">
            <img id="stack" alt="Stack" src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_25,w_45/v1509897827/constants/stacks_cash.png"/>
            <span id="stack_amount" ng-bind="user.stacks_amount"></span>
          </div>
          <div id="coin_data_container" class="hiddenDrawer container">
            <img id="coin" alt="Coin" src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_25,w_25/v1509897827/constants/coin.png"/>
            <span id="coin_amount" ng-bind="user.coins_amount"></span>
          </div>
        </section>
        <ul class="drawer_item-holder">
          <li class="drawer_item" ng-class="{active_link: route == tab.value}" ng-repeat="tab in language.dictionary.tabs | orderBy : 'translation'">
            <a class="drawer_item-icon material-icons md-24" label="{{::tab.value}}" aria-label="{{::tab.translation}}" ng-class="{bl_nv : user.setup_completed == 'false'}" href="{{tab.value}}" ng-bind-html="::tab.icon"></a>
            <a href="{{tab.value}}" class="drawer_item-name">{{::tab.translation}}</a>
          </li>
          <li class="drawer_item" ng-click="trade()">
            <div class="drawer_item-icon material-icons md-24" aria-label="{{::language.dictionary.cts}}">&#xE227;</div>
            <p class="drawer_item-name">{{::language.dictionary.cts}}</p>
          </li>
          <li class="drawer_item">
            <a class="drawer_item-icon material-icons md-24" href="/logout" aria-label="{{::language.dictionary.logout}}">&#xE879;</a>
            <a href="/logout" class="drawer_item-name">{{::language.dictionary.logout}}</a>
          </li>
        </ul>
      </nav>
      <section id="main_section" ng-show="showM">
        <ng-view></ng-view>
      </section>
      <canvas class="background" id="animateCanvas"></canvas>
      <section id="search_section" class="hidden search">
        <ul id="search_list" class="search" ng-controller="SearchController">
          <i class="loadingP" ng-show="api.loading">
            <span class="loading l-40"></span>
          </i>
          <li id="search_tips" ng-show="searchEmpty()">{{::language.dictionary.search_tip}}</li>
          <h1 class="sHeader" ng-hide="usersEmpty()">{{::language.dictionary.users}}</h1>
          <li class="searchContainerU" ng-repeat="user in api.usersSearchData" data-user-token="{{user.token}}">
            <a ng-href="{{user.user_profile_url}}" class="linkBoxContainer">
              <div class="userTop" data-user-token="{{user.token}}">
                <img class="userPicture" ng-src="{{user.profile_picture_url}}" alt="profile picture" data-user-token="{{user.token}}"/>
                <p class="userName" data-user-token="{{user.token}}"><span class="userNameSpan" data-user-token="{{user.token}}">{{user.username}}</span></p>
              </div>
            </a>
          </li>
          <h1 class="sHeader" ng-hide="companiesEmpty()">{{::language.dictionary.companies}}</h1>
          <li class="searchContainerU" ng-repeat="company in api.companiesSearchData" data-user-token="{{company.token}}">
            <div class="userTop" data-user-token="{{company.token}}">
              <img class="userPicture" ng-src="{{company.profile_picture_url}}" alt="profile picture" data-user-token="{{company.token}}"/>
              <p class="userName" data-user-token="{{company.token}}"><span class="userNameSpan" data-user-token="{{company.token}}">{{company.username}}</span></p>
            </div>
          </li>
          <h1 id="sF" class="sHeader" ng-hide="surveysEmpty()">{{::language.dictionary.surveys}}</h1>
          <li class="surveyContainer" ng-repeat="survey in api.surveysSearchData" data-survey-token="{{survey.token}}">
            <img class="surveyImage" alt="matching image" ng-src="{{survey.image_url}}">
            <i class="material-icons" ng-class="survey.bookmarked ? 'bookmarked' : 'bookmark'" data-bookmarked="{{survey.bookmarked}}" ng-click="bookmark($event)">&#xE866;</i>
            <p class="surveyTitle">{{survey.title}}</p>
            <p class="surveyorUsername">@{{survey.surveyor_username}}</p>
            <p class="surveyDescription">{{survey.description}}</p>
            <div class="surveyMeta">
            </div>
            <div class="surveyStacksContainer">
              <img class="surveyStack" ng-src="/images/coin.png" ng-repeat="stacks in survey.stacks track by $index"/>
            </div>
            <a ng-href="{{survey.answer_url}}" class="surveyAnswerURL"></a>
          </li>
          <h1 class="sHeader" ng-hide="rewardsEmpty()">{{::language.dictionary.rewards}}</h1>
          <li class="rewardContainer flipper" ng-repeat="reward in api.rewardsData" id="{{reward.token}}_reward">
            <div class="front">
              <a ng-href="{{reward.redeem_url}}" class="linkRT">{{reward.title}}</a>
              <img class="rewardImage" alt="matching image" ng-src="{{reward.image_url}}">
            </div>
            <div class="back">
              <i class="material-icons" ng-class="reward.wishlisted ? 'wishlisted' : 'wishlist'" ng-click="wishlist($event, $index)">&#xE838;</i>
              <a ng-href="{{reward.redeem_url}}" class="linkRB"></a>
              <a ng-href="{{reward.company_profile_url}}" class="rewardCompanyProfile">
                <img class="companyPicture" ng-src="{{reward.company_profile_picture_url}}" alt="profile picture company"/>
              </a>
              <p class="rewardDescription">{{reward.description}}</p>
              <div class="rewardMoreInfo">
                <span class="rewardMIText">{{::language.dictionary.shfsi}}</span>
                <span class="rewardMITextH">{{reward.stacks}} {{language.dictionary.stacks}}</span>
                <span class="rewardMITextHN">{{reward.stacks_needed}} {{::language.dictionary.rewardStacksNeeded(reward.stacks_needed)}}</span>
              </div>
              <p class="rewardLeft">{{::language.dictionary.rewardLeft(reward.quantity)}}</p>
            </div>
          </li>
        </ul>
      </section>
      <div id="creator_fab" class="fab">
          <span class="fab_add" ng-click="openFabs()" id="fab_add"><i id="fab_add_ico" class="material-icons md-24">&#xE145;</i></span>
      </div>
      <div id="survey_c" class="fab">
        <a href="/survey_creator" class="fab_link" title="{{::language.dictionary.survey_creator}}">
          <span class="fab_add added"><i class="material-icons md-24">&#xE85D;</i></span>
        </a>
      </div>
      <div id="poll_c" class="fab">
        <a href="/poll_creator" class="fab_link" title="{{::language.dictionary.poll_creator}}">
          <span class="fab_add added"><i class="material-icons md-24">&#xE85C;</i></span>
        </a>
      </div>
      <script type="text/javascript" src="/javascript/analyticsConstructor.js" defer></script>
      <script type="text/javascript" src="/javascript/animateCanvasSession.js" defer></script>
    </section>
    <script>
    if ('serviceWorker' in navigator) {
        console.log("Will the service worker register?");
        navigator.serviceWorker.register('/sw.js')
          .then(function(reg){
            console.log("Yes, it did.");
          }).catch(function(err) {
            console.log("No it didn't. This happened: ", err)
          });
      }
    </script>
  </body>
</html>
