<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div id="main_list" class="main_list" ng-hide="api.loading">
  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.account}}</h1>
    <span class="pHd"></span>
    <form class="pF" name="accountForm" ng-submit="updateAccountInfo($event)">
      <li class="settingsAccountItem"><input id="email_ai" autocomplete="off" placeholder="{{::language.dictionary.email_phone}}" class="cInfoInput aii settingsT" type="text" name="email tel" ng-model="api.ep" ng-pattern="/^(.+)(@)([a-z]+)(\.)([a-z]+)$|^\d+$/mi" ng-minlength="1" required/></li>
      <input class="settingsAccountLink" ng-show="accountForm.$valid" type="submit" ng-class="{'updating' : api.request_pending}" value="{{::language.dictionary.update_account_info}}"/>
    </form>
  </div>
  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.contact_info}}</h1>
    <span class="pHd"></span>
    <form class="pF" name="contactForm" ng-submit="updateContactInfo($event)">
      <li class="settingsAccountItem"><input id="email_ci" placeholder="{{::language.dictionary.phone_number}}" class="cInfoInput cii settingsT" name="phone_number" type="tel" ng-model="api.phone_number_ci" ng-pattern="/^\d+$/mi" ng-model-options="{ debounce: 250 }"/></li>
      <li class="settingsAccountItem"><input id="phone_number_ci" placeholder="{{::language.dictionary.email}}" class="cInfoInput cii settingsT" name="email" type="email" ng-model="api.email_ci" ng-pattern="/^(.+)(@)([a-z]+)(\.)([a-z]+)$/mi" ng-model-options="{ debounce: 250 }"/></li>
      <li class="settingsAccountItem"><input id="website_ci" placeholder="{{::language.dictionary.website}}" class="cInfoInput cii settingsT" name="website" type="url" ng-model="api.website" ng-pattern="/^(http:\/\/|https:\/\/)(.+\..+\..+)$/mi" ng-model-options="{ debounce: 250 }"/></li>
      <li class="settingsAccountItem"><input id="facebook_ci" placeholder="{{::language.dictionary.facebook}} {{::language.dictionary.username}}" class="cInfoInput cii settingsT" name="facebook" type="text" ng-model="api.facebook" placeholder="@" ng-model-options="{ debounce: 250 }"/></li>
      <li class="settingsAccountItem"><input id="instagram_ci" placeholder="{{::language.dictionary.instagram}} {{::language.dictionary.username}}" class="cInfoInput cii settingsT" name="instagram" type="text" ng-model="api.instagram" placeholder="@" ng-model-options="{ debounce: 250 }"/></li>
      <input class="settingsAccountLink" type="submit" ng-show="contactForm.$valid" ng-class="{'updating' : api.request_pending}" value="{{::language.dictionary.update_contact_info}}"/>
    </form>
  </div>
  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.change_password}}</h1>
    <span class="pHd"></span>
    <form class="pF" name="passwordForm" ng-submit="updatePassword($event)">
      <input id="username" name="username" type="hidden" value="{{user.username}}"/></li>
      <li class="settingsAccountItem"><input id="current_password_pi" placeholder="{{::language.dictionary.current_password}}" class="cInfoInput cii settingsT" type="password" autocomplete="password" name="current_password" ng-model="api.current_password" ng-model-options="{ debounce: 250 }"/></li>
      <li class="settingsAccountItem"><input id="new_password_pi" placeholder="{{::language.dictionary.new_password}}" class="cInfoInput cii settingsT" type="password" autocomplete="new-password" name="new_password" ng-model="api.new_password" ng-model-options="{ debounce: 250 }"/></li>
      <input class="settingsAccountLink" type="submit" ng-show="passwordForm.$valid" ng-class="{'updating' : api.request_pending}" value="{{::language.dictionary.change_password}}"/>
    </form>
  </div>
  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.notifications}}</h1>
    <span class="pHd"></span>
    <li class="settingsAccountItem settingsT" ng-if="api.ep.includes('@')">
      <span class="cToggleText">{{::language.dictionary.email_notifications}}</span>
      <span class="cToggle">
        <label class="switch">
          <input type="checkbox" class="toggle_bs" name="email_notifications" ng-model="api.email_message_notifications">
          <div class="slider round"></div>
        </label>
      </span>
    </li>
    <li class="settingsAccountItem settingsT" ng-if="!api.ep.includes('@')">
      <span class="cToggleText">{{::language.dictionary.text_message_notifications}}</span>
      <span class="cToggle">
        <label class="switch">
          <input type="checkbox" class="toggle_bs" name="text_message_notifications" ng-model="api.email_message_notifications">
          <div class="slider round"></div>
        </label>
      </span>
    </li>
    <li class="settingsAccountItem settingsT">
      <span class="cToggleText">{{::language.dictionary.allow_desktop_notifications}}</span>
      <span class="cToggle">
        <label class="switch">
          <input type="checkbox" class="toggle_bs" ng-click="desktopNotifications($event)" ng-checked="user.desktop_notifications" data-box-checked="{{desktop_notifications}}">
          <div class="slider round"></div>
        </label>
      </span>
    </li>
    <li class="settingsAccountItem settingsT">
      <span class="cToggleText">{{::language.dictionary.notify_match_preference}}</span>
      <span class="cToggle">
        <label class="switch">
          <input type="checkbox" class="toggle_bs" name="match_preferences_notifications" ng-model="api.match_preferences_notifications">
          <div class="slider round"></div>
        </label>
      </span>
    </li>
    <li class="settingsAccountLink settingsT" ng-class="{'updating' : api.request_pending}" ng-click="updateNotifications($event)">{{::language.dictionary.update_notifications}}</li>
  </div>
  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.about_me}}</h1>
    <span class="pHd"></span>
    <li class="settingsAccountItem settingsT" ng-if="api.about_blank">{{::language.dictionary.empty_about}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.about_blank">{{::language.dictionary.sex}}: {{language.dictionary.sexes[api.sex]}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.about_blank">{{::language.dictionary.ethnicity}}: <span ng-repeat="ethnicity in api.ethnicity track by $index" style="margin-left: 5px">{{language.dictionary.ethnicities[ethnicity]}}<span ng-hide="$last">,</span></span></li>
    <li class="settingsAccountItem settingsT" ng-if="!api.about_blank">{{::language.dictionary.languages_spoken}}:  <span ng-repeat="lang in api.lang track by $index" style="margin-left: 5px">{{language.globals.supportedLanguages[lang]}}<span ng-hide="$last">,</span></span></li>
    <li class="settingsAccountItem settingsT" ng-if="!api.about_blank">{{::language.dictionary.education_level}}: {{language.dictionary.education_levels[api.education]}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.about_blank">{{::language.dictionary.relationship_status}}: {{language.dictionary.relationship_statuses[api.relationship]}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.about_blank">{{::language.dictionary.employment_status}}: {{language.dictionary.employment_statuses[api.employment]}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.about_blank">{{::language.dictionary.religion}}: {{language.dictionary.religions[api.religion]}}</li>
    <li class="settingsAccountLink settingsT"><a href="/about_survey" class="sLink">{{::language.dictionary.update}} {{::language.dictionary.about_me}}</a></li>
  </div>
  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.preferences}}</h1>
    <span class="pHd"></span>
    <li class="settingsAccountItem settingsT" ng-if="api.preferences_blank">{{::language.dictionary.empty_preferences}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.preferences_blank">{{::language.dictionary.language}}: {{language.langFull}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.preferences_blank">{{::language.dictionary.monosex_filter}}: {{language.dictionary[api.sex_preference]}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.preferences_blank">{{::language.dictionary.translated_filter}}: {{language.dictionary[api.translated_preference]}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.preferences_blank">{{::language.dictionary.categories}}: <span ng-if="api.category_preferences.length == 0" style="margin-left: 5px">{{::language.dictionary.any}}</span><span ng-repeat="category in api.category_preferences track by $index" style="margin-left: 5px">{{category}}<span ng-hide="$last">,</span></span></li>
    <li class="settingsAccountItem settingsT" ng-if="!api.preferences_blank">{{::language.dictionary.companies}}: <span ng-if="api.company_preferences.length == 0" style="margin-left: 5px">{{::language.dictionary.any}}</span><span ng-repeat="company in api.company_preferences track by $index" style="margin-left: 5px">{{company}}<span ng-hide="$last">,</span></span></li>
    <li class="settingsAccountLink settingsT"><a href="/preferences_survey" class="sLink">{{::language.dictionary.update_preferences}}</a></li>
  </div>
  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.labs_membership}}</h1>
    <span class="pHd"></span>
    <li class="settingsAccountItem settingsT" ng-if="api.labs_membership">{{::language.dictionary.active_mem(api.labs_expire)}}</li>
    <li class="settingsAccountLink settingsT" ng-if="api.labs_membership" ng-class="{'updating' : api.request_pending}" ng-click="updateLabsMem($event)">{{::language.dictionary.cancel_labs_mem}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.labs_membership">{{::language.dictionary.no_mem}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.labs_membership">{{language.dictionary.no_labs(api.lp)}}</li>
    <li class="settingsAccountLinkA settingsT" ng-if="!api.labs_membership"><a href="/labs_membership" target="_blank" class="sLinkA">{{::language.dictionary.more_info}}</a></li>
    <li class="settingsAccountLink settingsT" ng-if="!api.labs_membership" ng-class="{'updating' : api.request_pending}" ng-click="updateLabsMem($event)">{{::language.dictionary.purchase_labs_mem}}</li>
  </div>
  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.payment}}</h1>
    <span class="pHd"></span>
    <li class="settingsAccountItem settingsT" ng-if="api.payment_blank">{{::language.dictionary.empty_payment}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.payment_blank">{{::language.dictionary.type}}: {{api.card_type}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.payment_blank">{{::language.dictionary.card_name}}: {{api.card_name}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.payment_blank">{{::language.dictionary.card_ending_digits}}: {{api.card_ending_digits}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.payment_blank">{{::language.dictionary.expiration_date}}: {{api.card_expiration_date}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.payment_blank">{{::language.dictionary.street_address}}: {{api.street_address}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.payment_blank">{{::language.dictionary.apt_number}}: {{api.apt_number}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.payment_blank">{{::language.dictionary.city}}: {{api.city}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.payment_blank">{{::language.dictionary.state}}: {{api.state}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.payment_blank">{{::language.dictionary.zipcode}}: {{api.zipcode}}</li>
    <li class="settingsAccountItem settingsT" ng-if="!api.payment_blank">{{::language.dictionary.country}}: {{api.country}}</li>
    <li class="settingsAccountLink settingsT"><a href="/payment_survey" class="sLink">{{::language.dictionary.update}} {{::language.dictionary.payment}}</a></li>
  </div>
  <div class="floatingCW">
    <h1 class="pH">{{::language.dictionary.help}}</h1>
    <span class="pHd"></span>
    <li class="settingsAccountLinkA settingsT"><a href="/terms" target="_blank" class="sLinkA">{{::language.dictionary.t_and_c}}</a></li>
    <li class="settingsAccountLinkA settingsT"><a href="/cookies_policy" target="_blank" class="sLinkA">{{::language.dictionary.cookies_policy}}</a></li>
    <li class="settingsAccountLinkA settingsT"><a href="/forums" target="_blank" class="sLinkA">{{::language.dictionary.forums}}</a></li>
    <li class="settingsAccountLinkA settingsT"><a href="/contact_us" target="_blank" class="sLinkA">{{::language.dictionary.contact_us}}</a></li>
  </div>

  <hr class="dM" />
  <div class="floatingCW">
    <button type="button" id="delAccount" ng-class="{'updating' : api.request_pending}" ng-click="api.delete()">{{::language.dictionary.delete_account}}</button>
    <input type="text" id="delAccountInt" ng-hide="dpc" ng-keyup="dp()" placeholder="{{::language.dictionary.delete_account_pre}}"/>
  </div>
</div>
