<link rel="stylesheet" type="text/css" href="/stylesheets/survey_creator.css">
<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<hr class="dM"/>
<form class="formA" name="surveyForm">
  <section class="q_attr" ng-hide="api.loading" ng-click="emptyQuestionOptionsB($event)">
    <div class="floatingCW">
      <h1 class="pH">{{::language.dictionary.details}}</h1>
      <span class="pHd"></span>
      <ul class="question_response">
        <li class="question_item_d">
          <input class="response_input" placeholder="{{::language.dictionary.survey_name}}" name="survey_name" ng-model="api.createdSurvey.surveyDetails.name" type="text" required/>
        </li>
        <li class="question_item_d">
          <input class="response_input" placeholder="{{::language.dictionary.survey_description}}" name="survey_desc" ng-model="api.createdSurvey.surveyDetails.description" maxlength="80" type="text" required/>
        </li>
        <li class="question_item_d">
          <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.public_survey}}</span>
          <div class="checkbox_response_item_container_p">
            <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdSurvey.surveyDetails.public"/>
            <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
          </div>
        </li>
        <li class="question_item_d" style="cursor:pointer" ng-click="expandables.ud_expand = !expandables.ud_expand">
          <span class="details_response_cat" id="ud_group">
            <span class="details_response_cat" ng-show="expandables.collected.length == 0">{{::language.dictionary.ud_group}}</span>
            <span class="details_response_cat spanned" ng-hide="expandables.collected.length == 0" ng-bind="expandables.collected.join(', ')"></span>
          </span>
          <i class="material-icons md-32 _dRI" ng-show="!expandables.ud_expand">&#xE5CF;</i>
          <i class="material-icons md-32 _dRI" ng-show="expandables.ud_expand">&#xE5CE;</i>
        </li>
        <ul class="question_list_d" id="ud_list" ng-show="expandables.ud_expand" scroller>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.fullname}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdSurvey.details.data_collected.fullname" ng-click="collect(language.dictionary.fullname)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.email_phone}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdSurvey.details.data_collected.email_phone" ng-click="collect(language.dictionary.email_phone)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.sex}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdSurvey.details.data_collected.sex" ng-click="collect(language.dictionary.sex)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.ethnicity}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdSurvey.details.data_collected.ethnicty" ng-click="collect(language.dictionary.ethinicity)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.languages_spoken}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdSurvey.details.data_collected.languages" ng-click="collect(language.dictionary.languages_spoken)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.education_level}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdSurvey.details.data_collected.education" ng-click="collect(language.dictionary.education_level)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.relationship_status}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdSurvey.details.data_collected.relationship" ng-click="collect(language.dictionary.relationship_status)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.employment_status}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdSurvey.details.data_collected.employment" ng-click="collect(language.dictionary.employment_status)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.religion}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdSurvey.details.data_collected.religion" ng-click="collect(language.dictionary.religion)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
          <li class="question_cat_item" style="cursor:default">
            <span class="details_response_cat spanned" style="cursor: default">{{::language.dictionary.birth_date}}</span>
            <div class="checkbox_response_item_container_p">
              <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdSurvey.details.data_collected.dob" ng-click="collect(language.dictionary.birth_date)"/>
              <i class="material-icons md-16 checkbox_response_c tps">&#xE5CA;</i>
            </div>
          </li>
        </ul>
        <li class="question_item_d" style="cursor: pointer" ng-click="expandables.category_expand = !expandables.category_expand">
          <span class="details_response_cat" ng-bind="category_display || language.dictionary.survey_category" id="category"></span>
          <i class="material-icons md-32 _dRI" ng-show="!expandables.category_expand">&#xE5CF;</i>
          <i class="material-icons md-32 _dRI" ng-show="expandables.category_expand">&#xE5CE;</i>
        </li>
        <ul class="question_list_d" id="cat_list" ng-show="expandables.category_expand">
          <li class="question_cat_item" ng-repeat="(value, category) in api.categories" ng-bind="category" ng-click="setCategory($index, value, category)"></li>
        </ul>
        <li class="question_item_d" style="cursor: pointer" ng-click="expandables.sex_expand = !expandables.sex_expand">
          <span class="details_response_cat" ng-bind="sex_display || language.dictionary.target_sex" id="sex"></span>
          <i class="material-icons md-32 _dRI" ng-show="!expandables.sex_expand">&#xE5CF;</i>
          <i class="material-icons md-32 _dRI" ng-show="expandables.sex_expand">&#xE5CE;</i>
        </li>
        <ul class="question_list_d" id="sex_list" ng-show="expandables.sex_expand">
          <li class="question_cat_item" ng-repeat="(value, sex) in language.dictionary.sexes" ng-bind="sex" ng-click="setSex(value, sex)"></li>
        </ul>
        <li class="question_item_d" style="cursor: pointer" ng-click="expandables.ethnicity_expand = !expandables.ethnicity_expand">
          <span class="details_response_cat" ng-bind="ethnicity_display || language.dictionary.target_ethnicity" id="ethnicity"></span>
          <i class="material-icons md-32 _dRI" ng-show="!expandables.ethnicity_expand">&#xE5CF;</i>
          <i class="material-icons md-32 _dRI" ng-show="expandables.ethnicity_expand">&#xE5CE;</i>
        </li>
        <ul class="question_list_d" id="ethnicity_list" ng-show="expandables.ethnicity_expand">
          <li class="question_cat_item" ng-repeat="(value, ethnicity) in language.dictionary.ethnicities" ng-bind="ethnicity" ng-click="setEthnicity(value, ethnicity)"></li>
        </ul>
        <li class="question_item_d" style="cursor: pointer" ng-click="expandables.age_expand = !expandables.age_expand">
          <span class="details_response_cat" ng-bind="age_display || language.dictionary.target_age_group" id="age_group"></span>
          <i class="material-icons md-32 _dRI" ng-show="!expandables.age_expand">&#xE5CF;</i>
          <i class="material-icons md-32 _dRI" ng-show="expandables.age_expand">&#xE5CE;</i>
        </li>
        <ul class="question_list_d" id="ages_list" ng-show="expandables.age_expand">
          <li class="question_cat_item" ng-repeat="(value, age) in language.dictionary.age_groups" ng-bind="age" ng-click="setAgeGroup(value, age)"></li>
        </ul>
        <li class="question_item_d" style="cursor: pointer" ng-click="expandables.image_list_expand = !expandables.image_list_expand">
          <span class="details_response_cat" id="image" ng-bind="api.createdSurvey.surveyDetails.image_url || api.createdSurvey.surveyDetails.image_file || language.dictionary.survey_image" ng-class="{'spanned' : api.createdSurvey.surveyDetails.image_url != '', 'spanned' : api.createdSurvey.surveyDetails.image_file != ''}"></span>
          <i class="material-icons md-28 _dRI">&#xE3F4;</i>
        </li>
        <ul class="question_list_d" id="image_url_list" ng-show="expandables.image_list_expand">
          <li class="question_cat_item_i" ng-if="api.createdSurvey.surveyDetails.image_file == ''">
            <input id="imageLink" class="response_input" ng-model="api.createdSurvey.surveyDetails.image_url" type="url" placeholder="Image URL" ng-pattern="/^(http://)||(https://)/im" name="image_url" ng-click="noHide($event)"/>
          </li>
          <li class="question_cat_item_i" ng-if="api.createdSurvey.surveyDetails.image_url == ''">
            <span class="imageFile" ng-bind="language.dictionary.select_image || api.createdSurvey.surveyDetails.image_file"></span>
            <input id="imageFile" class="imageFile h" type="file" accept="image/*" name="survey_image" on-file-select="fileSelected"/>
          </li>
        </ul>
      </ul>
    </div>
    <hr class="dM"/>
    <div class="floatingCW">
      <h1 class="pH">  {{::language.dictionary.free_response}}</h1>
      <span class="pHd"></span>
      <ul class="question_response">
        <li class="question_item" ng-repeat="question in api.createdSurvey.freeResponseQuestions track by $index">
          <input class="response_input response_qr" placeholder="{{::language.dictionary.question_here}}" name="free_response" ng-model="api.createdSurvey.freeResponseQuestions[$index].question" type="text" ng-focus="questionOptionsE('fr', $index)" required/>
          <i class="material-icons md-22 remove_item" ng-click="removeItem($index, 'fR')">&#xE872;</i>
        </li>
        <li class="add_item" ng-click="addFreeResponse()">{{::language.dictionary.add_question}}</li>
      </ul>
    </div>
    <div class="floatingCW">
      <h1 class="pH">{{::language.dictionary.checkbox_response}}</h1>
      <span class="pHd"></span>
      <ul class="question_response">
        <li class="question_item" ng-repeat="question in api.createdSurvey.checkboxResponseQuestions track by $index">
          <div class="checkbox_item_container">
            <input class="response_input response_qr" placeholder="{{::language.dictionary.question_here}}" name="checkbox_response" ng-model="question.question" type="text" ng-focus="questionOptionsE('cr', $index)" required/>
            <i class="material-icons md-22 remove_item" ng-click="removeItem($index, 'cR')">&#xE872;</i>
          </div>
          <ul class="item_questions">
            <li class="checkbox_response" ng-repeat="response in question.responses track by $index">
              <div class="checkbox_response_item_container">
                <input class="checkbox_response_item" type="checkbox" required/>
                <i class="material-icons md-16 checkbox_response_c">&#xE5CA;</i>
              </div>
              <input class="response_item_input" placeholder="{{::language.dictionary.respondent_answer}}" ng-model="question.responses[$index]" type="text" required/>
              <i class="material-icons md-22 remove_item c" ng-click="removeResponseItem($parent.$index, $index, 'cR')">&#xE872;</i>
            </li>
            <li class="response_item" ng-click="addCheckboxItemResponse($index)">{{::language.dictionary.add_response}}</li>
          </ul>
        </li>
        <li class="add_item" ng-click="addCheckboxResponse()">{{::language.dictionary.add_question}}</li>
      </ul>
    </div>
    <div class="floatingCW">
      <h1 class="pH">{{::language.dictionary.boolean_response}}</h1>
      <span class="pHd"></span>
      <ul class="question_response">
        <li class="question_item" ng-repeat="question in api.createdSurvey.booleanResponseQuestions track by $index">
          <input class="response_input response_qr" placeholder="{{::language.dictionary.question_here}}" name="boolean_response" ng-model="api.createdSurvey.booleanResponseQuestions[$index].question" type="text" ng-focus="questionOptionsE('br', $index)" required/>
          <i class="material-icons md-22 remove_item" ng-click="removeItem($index, 'bR')">&#xE872;</i>
        </li>
        <li class="add_item" ng-click="addBooleanResponse()">{{::language.dictionary.add_question}}</li>
      </ul>
    </div>
    <div class="floatingCW">
      <h1 class="pH">{{::language.dictionary.radio_response}}</h1>
      <span class="pHd"></span>
      <ul class="question_response">
        <li class="question_item" ng-repeat="question in api.createdSurvey.radioResponseQuestions track by $index">
          <div class="radio_item_container">
            <input class="response_input response_qr" placeholder="{{::language.dictionary.question_here}}" name="radio_response" ng-model="question.question" type="text" ng-focus="questionOptionsE('rr', $index)" required/>
            <i class="material-icons md-22 remove_item" ng-click="removeItem($index, 'rR')">&#xE872;</i>
          </div>
          <ul class="item_questions">
            <li class="radio_response" ng-repeat="response in question.responses track by $index">
              <label class="radio_response_item_container">
                <input type="radio" name="rr{{$parent.$index}}" class="chckbxrad">
                <div class="chkcrad--act"></div>
              </label>
              <input class="response_item_input" placeholder="{{::language.dictionary.respondent_answer}}" ng-model="question.responses[$index]" type="text" required/>
              <i class="material-icons md-22 remove_item c" ng-click="removeResponseItem($parent.$index, $index, 'rR')">&#xE872;</i>
            </li>
            <li class="response_item" ng-click="addRadioItemResponse($index)">{{::language.dictionary.add_response}}</li>
          </ul>
        </li>
        <li class="add_item" ng-click="addRadioResponse()">{{::language.dictionary.add_question}}</li>
      </ul>
    </div>
    <div class="floatingCW">
      <h1 class="pH">{{::language.dictionary.single_item_response}}</h1>
      <span class="pHd"></span>
      <ul class="question_response">
        <li class="question_item" ng-repeat="question in api.createdSurvey.menuResponseQuestions track by $index">
          <div class="menu_item_container">
            <input class="response_input response_qr" placeholder="{{::language.dictionary.question_here}}" name="menu_response" ng-model="question.question" type="text" ng-focus="questionOptionsE('mr', $index)" required/>
            <i class="material-icons md-22 remove_item" ng-click="removeItem($index, 'mR')">&#xE872;</i>
          </div>
          <ul class="item_questions">
            <li class="menu_response" ng-repeat="response in question.responses track by $index">
              <input class="response_item_input" placeholder="{{::language.dictionary.respondent_answer}}" ng-model="question.responses[$index]" type="text" required/>
              <i class="material-icons md-22 remove_item c" ng-click="removeResponseItem($parent.$index, $index, 'mR')">&#xE872;</i>
            </li>
            <li class="response_item" ng-click="addMenuItemResponse($index)">{{::language.dictionary.add_response}}</li>
          </ul>
        </li>
        <li class="add_item" ng-click="addMenuResponse()">{{::language.dictionary.add_question}}</li>
      </ul>
    </div>
  </section>
  <hr class="dM" ng-show="!api.loading && !blank_questions()"/>
  <div class="floatingCW" ng-show="!api.loading && !blank_questions()" ng-click="emptyQuestionOptionsB($event)">
    <h1 class="pH">{{::language.dictionary.order}}</h1>
    <span class="pHd"></span>
    <ul id="listorder" class="question_order" ng-data-original="0" ng-data-original-t="_0">
      <li id="{{question}}" class="order_item" ng-drag ng-repeat="question in api.createdSurvey.order track by $index" data-index="{{$index}}" data-question="{{question}}" draggable="true" df-func="dragfinished(index_current, question, index_new)">
        <span class="order_item_text">{{getQuestionText(question)}} &nbsp;<span class="question_type_sp">{{language.dictionary.getQuestionText(question)}}</span></span>
        <i class="material-icons md-28 _fRI">&#xE240;</i>
      </li>
    </ul>
  </div>
  <hr class="dM"/>
  <section id="payment" ng-hide="api.loading" ng-click="emptyQuestionOptionsB($event)">
    <div class="floatingCW">
      <h1 class="pH">{{::language.dictionary.purchase_details}}</h1>
      <span class="pHd"></span>
      <ul class="payment_response">
        <li class="payment_item_f">
          <span class="free_survey_text spanned" style="cursor: default">{{::language.dictionary.free_survey}}</span>
          <div class="checkbox_response_item_container_p">
            <input class="checkbox_response_item tps" type="checkbox" ng-model="api.createdSurvey.paymentDetails.freeSurvey" ng-click="freeSurvey()"/>
            <i class="material-icons md-16 checkbox_response_c">&#xE5CA;</i>
          </div>
        </li>
        <li class="payment_item">
          <span class="srd">{{::language.dictionary.order_total}}: ${{api.createdSurvey.paymentDetails.order_total}} USD <span class="srd" ng-show="api.createdSurvey.paymentDetails.freeSurvey">{{::language.dictionary.no_charge}}</span></span>
        </li>
        <li class="payment_item" ng-show="api.response != ''">
          <span class="srd" id="creator_response">{{api.response}}</span>
        </li>
        <input class="payment_item _order" ng-hide="surveyForm.$invalid && surveyForm.$dirty" type="submit" id="place_order" ng-click="createSurvey()" ng-class="{'buttonLoading' : api.uploading}" ng-disabled="api.uploading" value="{{::language.dictionary.create_survey}}"/>
      </ul>
    </div>
    <hr class="dM"/>
    <div class="floatingCW" ng-if="!api.createdSurvey.paymentDetails.freeSurvey">
      <h1 class="pH">{{::language.dictionary.credit_card_details}}</h1>
      <span class="pHd"></span>
      <ul class="payment_response" id="payment_list_details" ng-if="!api.createdSurvey.paymentDetails.freeSurvey">
        <li class="payment_item" ng-if="user.payment_completed">
          <div class="checkbox_response_item_container _CP">
            <input class="checkbox_response_item" ng-model="api.createdSurvey.paymentDetails.cardSaved" type="checkbox"/>
          </div>
          <span class="srd">{{::language.dictionary.use_stored_payment}}</span>
        </li>
        <li class="payment_item" ng-if="!api.createdSurvey.paymentDetails.cardSaved">
          <input class="payment_response_input" placeholder="{{::language.dictionary.card_digits}}" type="text" ng-model="api.createdSurvey.paymentDetails.cardDetails.cardNumber" ng-pattern="/^[0-9 ]{12,22}$/i" required/>
        </li>
        <li class="payment_item" ng-if="!api.createdSurvey.paymentDetails.cardSaved">
          <input class="payment_response_input" placeholder="{{::language.dictionary.card_name}}" ng-model="api.createdSurvey.paymentDetails.cardDetails.cardName" type="text" ng-pattern="/^[a-z \s]+$/i" required/>
        </li>
        <li class="payment_item" ng-if="!api.createdSurvey.paymentDetails.cardSaved">
          <input class="payment_response_input" placeholder="{{::language.dictionary.expiration_date}}" ng-model="api.createdSurvey.paymentDetails.cardDetails.cardExpDate" maxlength="5" type="text" ng-pattern="/(^[0][1-9]|[1][0-2])([-]||[/])(\d{2})$/" required/>
        </li>
        <li class="payment_item">
          <input class="payment_response_input" placeholder="{{::language.dictionary.security_code}}" ng-model="api.createdSurvey.paymentDetails.cardDetails.cardSecurityCode" maxlength="4" type="password" autocomplete="off" ng-pattern="/^[0-9]{3,4}$/" required/>
        </li>
        <li class="payment_item" ng-if="!api.createdSurvey.paymentDetails.cardSaved">
          <input class="payment_response_input" name="addr" id="addr" placeholder="{{::language.dictionary.street_address}}" ng-model="api.createdSurvey.paymentDetails.cardDetails.billingStreetAddress" type="text" ng-pattern="/^[a-z0-9 ]+$/i" required/>
        </li>
        <li class="payment_item" ng-if="!api.createdSurvey.paymentDetails.cardSaved">
          <input class="payment_response_input" placeholder="{{::language.dictionary.apt_number}}" ng-model="api.createdSurvey.paymentDetails.cardDetails.billingFloorAptNumber" type="text" ng-pattern="/^\d+$/" required/>
        </li>
        <li class="payment_item" ng-if="!api.createdSurvey.paymentDetails.cardSaved">
          <input class="payment_response_input" placeholder="{{::language.dictionary.city}}" ng-model="api.createdSurvey.paymentDetails.cardDetails.billingCity" type="text" ng-pattern="/^[a-z ]+$/i" required/>
        </li>
        <li class="payment_item" ng-if="!api.createdSurvey.paymentDetails.cardSaved">
          <input class="payment_response_input" placeholder="{{::language.dictionary.zipcode}}" ng-model="api.createdSurvey.paymentDetails.cardDetails.billingZipcode" type="text" ng-pattern="/^[0-9]{3,12}$/i" required/>
        </li>
        <li class="question_item_d" ng-click="expandables.billing_states_expand = !expandables.billing_states_expand" ng-if="!api.createdSurvey.paymentDetails.cardSaved">
          <span class="details_response_cat" ng-bind="state_display || language.dictionary.state" id="state"></span>
          <i class="material-icons md-32 _dRI" ng-show="!expandables.billing_states_expand">&#xE5CF;</i>
          <i class="material-icons md-32 _dRI" ng-show="expandables.billing_states_expand">&#xE5CE;</i>
        </li>
        <ul class="question_list_d" id="states_list" ng-show="expandables.billing_states_expand" scroller ng-if="!api.createdSurvey.paymentDetails.cardSaved">
          <li class="question_cat_item" ng-repeat="(code, state) in states" ng-bind="state" ng-click="setState(code)"></li>
        </ul>
        <li class="question_item_d" ng-click="expandables.billing_country_expand = !expandables.billing_country_expand" ng-if="!api.createdSurvey.paymentDetails.cardSaved">
          <span class="details_response_cat" ng-bind="country_display || language.dictionary.country" id="country"></span>
          <i class="material-icons md-32 _dRI" ng-show="!expandables.billing_country_expand">&#xE5CF;</i>
          <i class="material-icons md-32 _dRI" ng-show="expandables.billing_country_expand">&#xE5CE;</i>
        </li>
        <ul class="question_list_d" id="country_list" ng-show="expandables.billing_country_expand" scroller ng-if="!api.createdSurvey.paymentDetails.cardSaved">
          <li class="question_cat_item" ng-repeat="(code, country) in language.globals.supportedCountries" ng-bind="country" ng-click="setCountry(code)"></li>
        </ul>
      </ul>
    </div>
  </section>
</form>
<section id="optionsToolbar" class="side-nav" ng-show="show_options_toolbar" ng-switch="questionOptions.type">
  <div class="optionsContainer" ng-switch-when="fr">
    <div class="requiredC">
      <span class="rdbx">
        <label class="chckbxlbl ckl">{{::language.dictionary.required}}
          <input type="checkbox" name="required" ng-model="api.createdSurvey.freeResponseQuestions[questionOptions.index].options.required" class="chckbx">
          <div class="chkcbox--act"></div>
        </label>
      </span>
    </div>
    <span class="vd"></span>
    <div class="patternC">
      <span class="rdbx" ng-repeat="(value, pattern) in language.dictionary.patterns">
        <label class="chckbxlbl ckr">{{pattern}}
          <input type="radio" name="pattern" value="{{value}}" ng-model="api.createdSurvey.freeResponseQuestions[questionOptions.index].options.pattern" class="chckbxrad">
          <div class="chkcrad--act"></div>
        </label>
      </span>
    </div>
  </div>
  <div class="optionsContainer" ng-switch-when="cr">
    <div class="requiredC">
      <span class="rdbx">
        <label class="chckbxlbl ckl">{{::language.dictionary.required}}
          <input type="checkbox" name="required" ng-model="api.createdSurvey.checkboxResponseQuestions[questionOptions.index].options.required" class="chckbx">
          <div class="chkcbox--act"></div>
        </label>
      </span>
    </div>
  </div>
  <div class="optionsContainer" ng-switch-when="br">
    <div class="requiredC">
      <span class="rdbx">
        <label class="chckbxlbl ckl">{{::language.dictionary.required}}
          <input type="checkbox" name="required" ng-model="api.createdSurvey.booleanResponseQuestions[questionOptions.index].options.required" class="chckbx">
          <div class="chkcbox--act"></div>
        </label>
      </span>
    </div>
  </div>
  <div class="optionsContainer" ng-switch-when="rr">
    <div class="requiredC">
      <span class="rdbx">
        <label class="chckbxlbl ckl">{{::language.dictionary.required}}
          <input type="checkbox" name="required" ng-model="api.createdSurvey.radioResponseQuestions[questionOptions.index].options.required" class="chckbx">
          <div class="chkcbox--act"></div>
        </label>
      </span>
    </div>
  </div>
  <div class="optionsContainer" ng-switch-when="mr">
    <div class="requiredC">
      <span class="rdbx">
        <label class="chckbxlbl ckl">{{::language.dictionary.required}}
          <input type="checkbox" name="required" ng-model="api.createdSurvey.menuResponseQuestions[questionOptions.index].options.required" class="chckbx">
          <div class="chkcbox--act"></div>
        </label>
      </span>
    </div>
  </div>
</section>
