<hr class="dM"/>
<div class="floatingCW" ng-if="options.free">
  <h1 class="pH">  {{::language.dictionary.free_response}}</h1>
  <span class="pHd"></span>
  <ul class="question_response">
    <li class="question_item" ng-repeat="question in api.createdQuestionnaire.survey.freeResponseQuestions track by $index">
      <input class="response_input response_qr" placeholder="{{::language.dictionary.question_here}}" name="free_response" ng-model="api.createdQuestionnaire.survey.freeResponseQuestions[$index].question" type="text" ng-focus="questionOptionsE('fr', $index)" required/>
      <i class="material-icons md-22 remove_item" ng-click="removeItem($index, 'fR')">&#xE872;</i>
    </li>
    <li class="add_item" ng-click="addFreeResponse()">{{::language.dictionary.add_question}}</li>
  </ul>
</div>
<div class="floatingCW" ng-if="options.checkbox">
  <h1 class="pH">{{::language.dictionary.checkbox_response}}</h1>
  <span class="pHd"></span>
  <ul class="question_response">
    <li class="question_item" ng-repeat="question in api.createdQuestionnaire.survey.checkboxResponseQuestions track by $index">
      <div class="checkbox_item_container">
        <input class="response_input response_qr" placeholder="{{::language.dictionary.question_here}}" name="checkbox_response" ng-model="question.question" type="text" ng-focus="questionOptionsE('cr', $index)" required/>
        <i class="material-icons md-22 remove_item" ng-click="removeItem($index, 'cR')">&#xE872;</i>
      </div>
      <ul class="item_questions">
        <li class="checkbox_response" ng-repeat="response in question.responses track by $index">
          <div class="checkbox_response_item_container">
            <input class="checkbox_response_item" type="checkbox"/>
            <i class="material-icons md-16 checkbox_response_c">&#xE5CA;</i>
          </div>
          <input class="response_item_input" placeholder="{{::language.dictionary.respondent_answer}}" ng-model="question.responses[$index]" type="text" required/>
          <i class="material-icons md-22 remove_item c" ng-click="removeResponseItem($parent.$index, $index, 'cR')">&#xE872;</i>
        </li>
        <li class="response_item" ng-click="addCheckboxItemResponse($index)">{{::language.dictionary.add_response}}</li>
      </ul>
    </li>
    <li class="add_item" ng-click="addCheckboxResponse()">{{::language.dictionary.add_question}}</li>
  </ul>
</div>
<div class="floatingCW" ng-if="options.boolean">
  <h1 class="pH">{{::language.dictionary.boolean_response}}</h1>
  <span class="pHd"></span>
  <ul class="question_response">
    <li class="question_item" ng-repeat="question in api.createdQuestionnaire.survey.booleanResponseQuestions track by $index">
      <input class="response_input response_qr" placeholder="{{::language.dictionary.question_here}}" name="boolean_response" ng-model="api.createdQuestionnaire.survey.booleanResponseQuestions[$index].question" type="text" ng-focus="questionOptionsE('br', $index)" required/>
      <i class="material-icons md-22 remove_item" ng-click="removeItem($index, 'bR')">&#xE872;</i>
    </li>
    <li class="add_item" ng-click="addBooleanResponse()">{{::language.dictionary.add_question}}</li>
  </ul>
</div>
<div class="floatingCW" ng-if="options.radio">
  <h1 class="pH">{{::language.dictionary.radio_response}}</h1>
  <span class="pHd"></span>
  <ul class="question_response">
    <li class="question_item" ng-repeat="question in api.createdQuestionnaire.survey.radioResponseQuestions track by $index">
      <div class="radio_item_container">
        <input class="response_input response_qr" placeholder="{{::language.dictionary.question_here}}" name="radio_response" ng-model="question.question" type="text" ng-focus="questionOptionsE('rr', $index)" required/>
        <i class="material-icons md-22 remove_item" ng-click="removeItem($index, 'rR')">&#xE872;</i>
      </div>
      <ul class="item_questions">
        <li class="radio_response" ng-repeat="response in question.responses track by $index">
          <label class="radio_response_item_container">
            <input type="radio" name="rr{{$parent.$index}}" class="chckbxrad">
            <div class="chkcrad--act"></div>
          </label>
          <input class="response_item_input" placeholder="{{::language.dictionary.respondent_answer}}" ng-model="question.responses[$index]" type="text" required/>
          <i class="material-icons md-22 remove_item c" ng-click="removeResponseItem($parent.$index, $index, 'rR')">&#xE872;</i>
        </li>
        <li class="response_item" ng-click="addRadioItemResponse($index)">{{::language.dictionary.add_response}}</li>
      </ul>
    </li>
    <li class="add_item" ng-click="addRadioResponse()">{{::language.dictionary.add_question}}</li>
  </ul>
</div>
<div class="floatingCW" ng-if="options.single">
  <h1 class="pH">{{::language.dictionary.single_item_response}}</h1>
  <span class="pHd"></span>
  <ul class="question_response">
    <li class="question_item" ng-repeat="question in api.createdQuestionnaire.survey.menuResponseQuestions track by $index">
      <div class="menu_item_container">
        <input class="response_input response_qr" placeholder="{{::language.dictionary.question_here}}" name="menu_response" ng-model="question.question" type="text" ng-focus="questionOptionsE('mr', $index)" required/>
        <i class="material-icons md-22 remove_item" ng-click="removeItem($index, 'mR')">&#xE872;</i>
      </div>
      <ul class="item_questions">
        <li class="menu_response" ng-repeat="response in question.responses track by $index">
          <input class="response_item_input" placeholder="{{::language.dictionary.respondent_answer}}" ng-model="question.responses[$index]" type="text" required/>
          <i class="material-icons md-22 remove_item c" ng-click="removeResponseItem($parent.$index, $index, 'mR')">&#xE872;</i>
        </li>
        <li class="response_item" ng-click="addMenuItemResponse($index)">{{::language.dictionary.add_response}}</li>
      </ul>
    </li>
    <li class="add_item" ng-click="addMenuResponse()">{{::language.dictionary.add_question}}</li>
  </ul>
</div>
  <hr class="dM" ng-show="!api.loading && !blank_questions()"/>
  <div class="floatingCW" ng-show="!api.loading && !blank_questions()" ng-click="emptyQuestionOptionsB()">
    <h1 class="pH">{{::language.dictionary.order}}</h1>
    <span class="pHd"></span>
    <ul id="listorder" class="question_order" ng-data-original="0" ng-data-original-t="_0">
    <li id="{{question}}" class="order_item" ng-drag ng-repeat="question in api.createdQuestionnaire.survey.order track by $index" data-index="{{$index}}" data-question="{{question}}" draggable="true" df-func="dragfinished(index_current, question, index_new)">
      <span class="order_item_text">{{getQuestionText(question)}} &nbsp;<span class="question_type_sp">{{language.dictionary.getQuestionText(question)}}</span></span>
      <i class="material-icons md-28 _fRI">&#xE240;</i>
    </li>
    </ul>
  </div>
  <hr class="dM"/>
  <div class="floatingCW" ng-show="api.response != ''">
    <p class="pS error" ng-bind="api.response"></p>
  </div>
  <input class="_order" ng-show="questionnaireForm.$valid && questionnaireForm.$dirty" type="submit" id="place_order" ng-class="{'buttonLoading' : api.uploading}" ng-disabled="api.uploading" value="{{::language.dictionary.create_q}}"/>
