<i class="material-icons md-32 nav" ng-click="openNav()">&#xE5D2;</i>

<div id="navDrawer" ng-click="closeNav()">
  <ul id="navList">
    <li class="navItem" id="en"><a class="navLink" href="">English</a></li>
    <li class="navItem" id="es"><a lang="es" class="navLink" href="#es">Espa&ntilde;ol</a></li>
    <li class="navItem" id="fr"><a lang="fr" class="navLink" href="#fr">Fran&ccedil;ais</a></li>
    <li class="navItem" id="zh-Hans"><a lang="zh-Hans" class="navLink" href="#zh-Hans">普通话</a></li>
    <li class="navItem" id="zh-Hant"><a lang="zh-Hant" class="navLink" href="#zh-Hant">中文</a></li>
    <li class="navItem" id="ar"><a lang="ar" class="navLink" href="#ar">عربى</a></li>
    <li class="navItem" id="it"><a lang="it" class="navLink" href="#it">Italiano</a></li>
    <li class="navItem" id="de"><a lang="de" class="navLink" href="#de">Deutsche</a></li>
    <li class="navItem" id="ko"><a lang="ko" class="navLink" href="#ko">한국어</a></li>
    <li class="navItem" id="ru"><a lang="ru" class="navLink" href="#ru">русский</a></li>
    <li class="navItem" id="vi"><a lang="vi" class="navLink" href="#vi">Tiếng Việt</a></li>
  </ul>
</div>

<a class="headerL" href="/landing_page">SurveyStacks</a>

<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div id="main_section" ng-hide="api.loading">
  <a href="/login?redirect_url={{api.location}}" id="return_link" class="r_link">{{::language.dictionary.login}}</a>
  <a href="/register?redirect_url={{api.location}}" id="report_link" class="r_link">{{::language.dictionary.sign_up}}</a>
  <hr class="dM"/>
  <div class="floatingCW" ng-if="!api.surveyDetails.targeted && api.surveyDetails.answered" ng-hide="api.loading">
    <p class="pM not_target">{{::language.dictionary.not_target}}</p>
  </div>
  <section id="description_section" ng-hide="api.loading || (countdown < 1 && gameTime > -1)">
    <span class="labs_verified-l" ng-if="api.surveyDetails.labs_created">🔥</span>
    <span class="labs_verified-r" ng-if="api.surveyDetails.labs_created">🔥</span>
    <p id="description" ng-if="!api.surveyDetails.available">{{language.dictionary.not_available}}</p>
    <p id="description" ng-if="api.surveyDetails.available">{{api.surveyDetails.description}}</p>
    <p id="stacks" ng-if="api.surveyDetails.available">
      <span style="color: red; font-size: 20px;">{{::language.dictionary.no_stacks}}</span>
    </p>
  </section>
  <hr class="dM"/>
  <form class="formA" name="surveyForm">
    <fieldset ng-disabled="request_pending">
      <div class="floatingCW" ng-if="api.surveyDetails.labs_option == 0" ng-hide="api.loading">
        <p class="pS">{{::language.dictionary.quiz_answer(api.surveyDetails.labs.out_of)}}</p>
      </div>
      <div class="floatingCW" ng-if="api.surveyDetails.labs_option == 1" ng-hide="api.loading">
        <input type="text" name="key_needed" ng-maxlength="8" class="questionInp" ng-model="api.labsAnswers.key" placeholder="{{::language.dictionary.key_needed_reply}}" required/>
      </div>
      <div class="floatingCW" ng-if="api.surveyDetails.labs_option == 2" ng-hide="api.loading">
        <p class="pS">{{::language.dictionary.emoji_survey}}</p>
      </div>
      <p ng-class="{ 'time' : gameTime > 3, 'time-exagerated' : gameTime <= 3}" ng-if="gameTime > 0" ng-hide="api.loading || countdown > -1" ng-bind="gameTime"></p>
      <p class="time-exagerated" ng-if="api.surveyDetails.labs.time > 0" ng-show="gameTime == 0">{{::language.dictionary.times_up}}</p>
      <hr class="dM" ng-if="api.surveyDetails.labs_created"/>
      <div class="begin-timer" ng-show="api.surveyDetails.labs_option == 3 && countdown > 0 && !api.surveyDetails.answered" ng-bind="countdown"></div>
      <section id="answer_section" ng-if="api.surveyDetails.available" ng-hide="api.loading || (api.surveyDetails.labs_option == 3 && countdown != -1)">
        <ul class="questionList">
          <li class="questionContainer" ng-repeat="question in api.surveyDetails.questions track by $index" ng-switch="question.type">
            <div class="question" ng-switch-when="fr" ng-switch="api.surveyDetails.labs_option">
              <input class="freeResponseInput" placeholder="{{question.question}}&nbsp;{{language.dictionary.points(question.worth)}}" type="text" ng-model="api.userAnswers[$index]" ng-class="api.userAnswers[$index].length > 0 ? 'foc' : ''" ng-pattern="question.pattern" ng-required="question.required" ng-switch-when="0"/>
              <input class="freeResponseInput" placeholder="{{question.question}}" type="text" ng-model="api.userAnswers[$index]" ng-class="api.userAnswers[$index].length > 0 ? 'foc' : ''" ng-pattern="emojiOnly" ng-required="question.required" ng-switch-when="2"/>
              <input class="freeResponseInput" placeholder="{{question.question}}" type="text" ng-model="api.userAnswers[$index]" ng-class="api.userAnswers[$index].length > 0 ? 'foc' : ''" ng-pattern="question.pattern" ng-required="question.required" ng-switch-default/>
              <span class="req" ng-if="question.required">*</span>
            </div>
            <div class="question" ng-switch-when="cbr">
                <p class="questionText">{{question.question}}<span class="req" ng-if="question.required">*</span></p>
                <ul class="optionsUl chU">
                  <li class="chckcontainer" ng-repeat="option in question.options track by $index">
                    <label class="chckbxlbl">{{option}}
                      <input type="checkbox" name="cr{{$parent.$index}}" value="{{$index}}" ng-click="optionChecked($parent.$index, $index, $event)" class="chckbx" ng-required="question.required"/>
                      <div class="chkcbox--act"></div>
                    </label>
                  </li>
                </ul>
            </div>
            <div class="question" ng-switch-when="mr">
              <p class="questionText">{{question.question}}<span class="req" ng-if="question.required">*</span></p>
              <ul class="optionsUl mrU">
                <li class="menuOptionContainer" ng-repeat="option in question.options track by $index">
                  <input type="radio" name="mr{{$parent.$index}}" value="{{$index}}" ng-model="api.userAnswers[$parent.$index]" class="menuChk" ng-required="question.required"/>
                  <p class="menuOptText">{{option}}</p>
                </li>
              </ul>
            </div>
            <div class="question" ng-switch-when="rr">
              <p class="questionText">{{question.question}}<span class="req" ng-if="question.required">*</span></p>
              <ul class="optionsUl chU">
                <li class="chckcontainer" ng-repeat="option in question.options track by $index">
                  <label class="chckbxlbl">{{option}}
                    <input type="radio" name="rr{{$parent.$index}}" value="{{$index}}" ng-model="api.userAnswers[$parent.$index]" class="chckbxrad" ng-required="question.required"/>
                    <div class="chkcrad--act"></div>
                  </label>
                </li>
              </ul>
            </div>
            <div class="question" ng-switch-when="br">
              <p class="questionTextB">{{question.question}}<span class="req" ng-if="question.required">*</span></p>
              <label class="switch">
                <input type="checkbox" class="toggle_bs" name="br{{$parent.$index}}" ng-model="api.userAnswers[$parent.$index]" ng-required="question.required"/>
                <div class="slider round"></div>
              </label>
            </div>
          </li>
        </ul>
        <p id="req_warning"><span class="reqt">*</span>{{::language.dictionary.required_text}}</p>
      </section>
      <hr class="dM"/>
      <div class="floatingCW" ng-hide="api.response == '' || api.loading">
        <p class="pS not_target" ng-bind="api.response"></p>
      </div>
      <input id="submitResponses" type="submit" ng-click="validateSurvey()" ng-hide="api.loading || (surveyForm.$invalid && surveyForm.$dirty) || (surveyForm.$invalid && !surveyForm.$dirty) || (api.surveyDetails.labs_option == 3 && countdown != -1)" ng-if="api.surveyDetails.available" ng-disabled="api.request_pending || api.surveyDetails.answered" ng-class="{'buttonLoading' : api.request_pending, 'buttonDisabled' : api.surveyDetails.answered}" value="{{::language.dictionary.submit_answers}}" />
    </fieldset>
  </form>
</div>
