<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<i class="material-icons md-32 nav" ng-click="openNav()">&#xE5D2;</i>
<div id="navDrawer" ng-click="closeNav()">
  <ul id="navList">
    <li class="navItem" id="en"><a class="navLink" href="">English</a></li>
    <li class="navItem" id="es"><a lang="es" class="navLink" href="#es">Espa&ntilde;ol</a></li>
    <li class="navItem" id="fr"><a lang="fr" class="navLink" href="#fr">Fran&ccedil;ais</a></li>
    <li class="navItem" id="zh-Hans"><a lang="zh-Hans" class="navLink" href="#zh-Hans">普通话</a></li>
    <li class="navItem" id="zh-Hant"><a lang="zh-Hant" class="navLink" href="#zh-Hant">中文</a></li>
    <li class="navItem" id="ar"><a lang="ar" class="navLink" href="#ar">عربى</a></li>
    <li class="navItem" id="it"><a lang="it" class="navLink" href="#it">Italiano</a></li>
    <li class="navItem" id="de"><a lang="de" class="navLink" href="#de">Deutsche</a></li>
    <li class="navItem" id="ko"><a lang="ko" class="navLink" href="#ko">한국어</a></li>
    <li class="navItem" id="ru"><a lang="ru" class="navLink" href="#ru">русский</a></li>
    <li class="navItem" id="vi"><a lang="vi" class="navLink" href="#vi">Tiếng Việt</a></li>
  </ul>
</div>
<a class="headerL" href="/landing_page">SurveyStacks</a>

<div id="main_section" ng-hide="api.loading" style="background: transparent" ng-if="!api.team_exists">
  <div class="main_list" id="main_list" ng-hide="api.loading" ng-if="!api.team_exists">
    <div class="floatingCW"  ng-hide="api.loading">
      <p class="pM" ng-bind-html="::language.dictionary.unexistentTeam(api.profile.nickname)"></p>
    </div>
  </div>
</div>

<div id="main_section" ng-hide="api.loading" style="background: transparent" ng-if="api.team_exists">
  <div class="profileTheme" ng-hide="api.loading" ng-if="api.team_exists">
    <img ng-src="{{api.profile.team_theme_url}}" alt="theme img" class="themeImg" show-on-load/>
    <div class="stats_container">
      <div class="profilePictureContainer">
        <img alt="team logo" ng-src="{{api.profile.team_logo_url}}" on-error-src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg" class="profilePicture"/>
      </div>
    </div>
  </div>
  <section class="profileInfo" ng-hide="api.loading" ng-if="api.team_exists">
    <div class="floatingCW" ng-show="api.profile.description != ''">
      <p class="pM">{{api.profile.description}}<span class="spanm" ng-if="api.additional.verified" style="color:green">&#10003;</span></p>
    </div>
    <div class="floatingCW">
      <div class="contactI" ng-if="api.contactInfo.facebook != ''">
        <a ng-href="https://www.facebook.com/{{api.contactInfo.facebook}}" target="_blank" class="link"></a>
        <img class="contactImg" src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_60/v1515116627/constants/fb_logo.png" alt="fb_icon"/>
      </div>
      <div class="contactI" ng-if="api.contactInfo.instagram != ''">
        <a ng-href="https://www.instagram.com/{{api.contactInfo.facebook}}" target="_blank" class="link"></a>
        <img class="contactImg" src="https://res.cloudinary.com/survey-stacks/image/upload/c_scale,w_60/v1515269102/constants/ig_logo.png" alt="insta_icon"/>
      </div>
      <div class="contactI" ng-if="api.contactInfo.website != ''">
        <a ng-href="{{api.contactInfo.website}}" target="_blank" class="link"></a>
        <img class="contactImg" src="" alt="web_icon"/>
      </div>
      <div class="contactI" ng-if="api.contactInfo.phone_number != ''">
        <a class="link" ng-href="tel:{{api.contactInfo.phone_number}}"></a>
        <img class="contactImg" src="" alt="phone_icon"/>
      </div>
      <div class="contactI" ng-if="api.contactInfo.email != ''">
        <a class="link" ng-href="mailto:{{api.contactInfo.email}}"></a>
        <img class="contactImg" src="" alt="phone_icon"/>
      </div>
    </div>
    <div class="floatingCW" ng-show="api.additional.members > 0">
      <p class="pS">{{api.additional.members}} {{::language.dictionary.membersP(api.additional.members)}}</p>
    </div>
    <div class="floatingCW">
      <p class="pS">{{::language.dictionary.member_since}}, {{api.profile.since | date : "MM-dd-yyyy"}}</p>
    </div>
  </section>
</div>
