<i class="loadingP" ng-show="api.loading">
  <span class="loading l-40"></span>
</i>
<div class="floatingCW" ng-hide="api.loading">
  <form class="pF" name="teamCodeForm" ng-submit="joinTeam()">
    <input class="pI" id="team_code" type="text" name="team_code" autocomplete="off" placeholder="Enter Team Code" ng-model="teamCode" ng-minlength="4" ng-maxlength="12" required/>
    <input class="PSB" type="submit" ng-show="teamCodeForm.$valid && teamCodeForm.$dirty" name="submit" value="Join"/>
  </form>
</div>
<hr class="dM" />
<div class="floatingCW" ng-hide="api.loading">
  <h1 class="pH">My Teams</h1>
  <span class="pHd"></span>
  <p class="pS" ng-if="api.teams.length == 0">You have not joined any teams. Teams you are part of will appear here.</p>
  <div class="pL" ng-repeat="team in api.teams track by $index">
    <p class="pS clickable" ng-bind="team.name" ng-click="team.expand = !team.expand"></p>
    <p class="pS clickable" id="leave_team" ng-show="team.expand" ng-click="api.leave($index)">Leave Team</p>
  </div>
</div>
