<!DOCTYPE html>
<html ng-app="survey-stacks-admin" lang="en" dir="ltr" ng-controller="AdminController">
	<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/admin/stylesheets/admin.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-cookies.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/admin/javascript/admin.js"></script>
   	<script type="text/javascript" src="/admin/javascript/admin-api.js"></script>
    <script type="text/javascript" src="/javascript/analyticsConstructor.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<base target="_top" href="http://192.168.1.92:3000/2383052a/">
    <meta charset="utf-8">
		<title>Admin</title>
	</head>
	<body ng-cloak>
		<span class="tl" ng-init="tlf()">{{tl[0]}}:{{tl[1]}}:<span style="margin-left:0;margin-right:0" ng-if="tl[2] < 10">0</span>{{tl[2]}}</span>
		<div class="toolbar" ng-controller="ToolbarController">
			<h4 class="toolbar-title" ng-if="route == ''">Welcome, {{admin.name}}</h4>
			<h4 class="toolbar-title" ng-if="route == 'admins'">Admins</h4>
			<h4 class="toolbar-title" ng-if="route == 'home'">Welcome, {{admin.name}}</h4>
			<h4 class="toolbar-title" ng-if="route == 'user-traffic'">Traffic</h4>
			<h4 class="toolbar-title" ng-if="route == 'reports'">Reports</h4>
			<h4 class="toolbar-title" ng-if="route == 'income'">Revenue</h4>
			<h4 class="toolbar-title" ng-if="route == 'categories'">Categories</h4>
			<h4 class="toolbar-title" ng-if="route == 'users'">Users</h4>
			<h4 class="toolbar-title" ng-if="route == 'companies'">Companies</h4>
		</div>
		<nav class="side-nav navbar-default" ng-controller="ToolbarController">
			<ul class="item-holder navbar-nav navbar-right">
				<li class="item" id="admins" ng-class="{active_link : route == 'admins'}">
					<a href="admins" class="item-icon"><i class="material-icons">&#xE90D;</i></a>
					<a href="admins" class="item-name">Admins</a>
				</li>
				<li class="item" id="home" ng-class="{active_link : route == 'home'}">
					<a href="home" class="item-icon"><i class="material-icons">&#xE88A;</i></a>
					<a href="home" class="item-name">Home</a>
				</li>
				<li class="item" ng-class="{active_link : route == 'user-traffic'}">
					<a href="user-traffic" class="item-icon"><i class="material-icons">&#xE8E1;</i></a>
					<a href="user-traffic" class="item-name">Traffic</a>
				</li>
				<li class="item" ng-class="{active_link : route == 'reports'}">
					<a href="reports" class="item-icon"><i class="material-icons">&#xE873;</i></a>
					<a href="reports" class="item-name">Reports</a>
				</li>
				<li class="item" ng-class="{active_link : route == 'income'}">
					<a href="income" class="item-icon"><i class="material-icons">&#xE263;</i></a>
					<a href="income" class="item-name">Revenue</a>
				</li>
				<li class="item" ng-class="{active_link : route == 'categories'}">
					<a href="categories" class="item-icon"><i class="material-icons">&#xE896;</i></a>
					<a href="categories" class="item-name">Categories</a>
				</li>
				<li class="item" ng-class="{active_link : route == 'users'}">
					<a href="users" class="item-icon"><i class="material-icons">&#xE84E;</i></a>
					<a href="users" class="item-name">Users</a>
				</li>
				<li class="item" ng-class="{active_link : route == 'companies'}">
					<a href="companies" class="item-icon"><i class="material-icons">&#xE8F8;</i></a>
					<a href="companies" class="item-name">Companies</a>
				</li>
				<li class="item" ng-class="{active_link : route == 'logout'}">
					<a href="logout" class="item-icon"><i class="material-icons">&#xE879;</i></a>
					<a href="logout" class="item-name">Logout</a>
				</li>
			</ul>
		</nav>
		<div class="admin_section">
			<div class="admin_holder" ng-view>
			</div>
		</div>
	</body>
</html>
