<div ng-if="admin.restriction == 'senior'">
  <form name="adminForm" ng-submit="api.addAdmin()" autocomplete="off">
    <div class="floatingCW main clickable" ng-click="addNew = !addNew">
    	<p class="pM">Add admin</p>
    </div>
    <div class="floatingCW clickable" ng-show="addNew">
    		<input class="pE pS" style="justify-content: flex-start;text-align:start" placeholder="Admin Fullname" type="text" name="name" autocomplete="off" ng-minlength="1" spellcheck="false" ng-model="api.new.fullname" required/>
        <input class="pE pS" style="justify-content: flex-start;text-align:start" placeholder="Admin E-mail" type="email" name="email" autocomplete="off" ng-minlength="1" spellcheck="false" ng-model="api.new.email" required/>
        <input class="pE pS" style="justify-content: flex-start;text-align:start" placeholder="Admin Phone Number" type="tel" name="tel" autocomplete="off" ng-minlength="1" spellcheck="true" ng-model="api.new.phone_number" required/>
        <input class="pE pS" style="justify-content: flex-start;text-align:start" placeholder="Admin Password" type="password" name="password" autocomplete="off" ng-minlength="8" spellcheck="false" ng-model="api.new.password" required/>
        <input class="pB accent" ng-if="adminForm.$valid" type="submit" name="submit" value="Add"/>
    </div>
  </form>
  <hr class="dM" />
  <hr class="dM" />
  <div class="floatingCW main">
  	<p class="pM">Admins</p>
  </div>
  <hr class="dM" />
  <div class="floatingCW" ng-click="admin.expand = !admin.expand" ng-repeat="admin in api.admins track by $index">
    <div class="ma clickable" ng-class="{clickable : admin.status == 'junior'}" ng-mousedown="delete($index)" ng-mouseup="stopD($index)">
      <p class="pS" ng-bind="admin.name"></p>
      <div class="del" style="width: {{admin.held}}%"></div>
    </div>
    <div class="ma" ng-show="admin.expand">
      <p class="pS"><b>Key:</b>{{admin.key}}</p>
    </div>
    <div class="ma" ng-class="{clickable : admin.status == 'junior'}" ng-show="admin.expand" ng-mousedown="promote($index)" ng-mouseup="stopD($index)">
      <p class="pS"><b>Restriction:</b>{{admin.status | capitalizeFirst}}</p>
      <div class="del" style="background:#3FC380; width: {{admin.heldapp}}%"></div>
    </div>
  </div>
</div>
<div ng-if="admin.restriction == 'junior'">
  <div class="floatingCW">
    <p class="pS">You do not have the status to make changes</p>
  </div>
</div>
