<div class="floatingCW main clickable" ng-if="admin.restriction == 'senior'" ng-show="api.valneed.length > 0">
	<p class="pM">Validation Needed</p>
</div>
<div class="floatingCW clickable" ng-dblclick="approve($index)" ng-mousedown="delete($index)" ng-mouseup="stopD($index)" ng-repeat="category in api.valneed track by $index" ng-if="admin.restriction == 'senior'">
	<p class="pS invalid" ng-bind="category.text"></p>
	<div class="del" style="width: {{category.held}}%"></div>
</div>
<hr class="dM" ng-if="admin.restriction == 'senior'" ng-show="api.valneed.length > 0"/>
<hr class="dM" ng-if="admin.restriction == 'senior'" ng-show="api.valneed.length > 0"/>

<div class="floatingCW main clickable" ng-click="addNew = !addNew">
	<p class="pM">Add Category</p>
</div>
<div class="floatingCW clickable" ng-show="addNew">
	<form name="catForm" ng-submit="addToCats($index)">
		<input class="pE pS" placeholder="Category (CSV for multiple)" ng-model="api.toAdd" type="text" name="category" autocomplete="off" spellcheck="true" required/>
	</form>
</div>
<hr class="dM" />
<hr class="dM" />
<div class="floatingCW main">
	<p class="pM">Categories</p>
</div>
<hr class="dM" />
<div class="floatingCW" ng-repeat="category in api.categories track by $index">
	<p class="pS" ng-bind="category.text" ng-if="admin.restriction == 'junior'"></p>
	<form name="catrenameForm" ng-submit="api.renameCategory($index, this)" ng-if="admin.restriction == 'senior'">
		<input class="pE pS" placeholder="Category Name" ng-model="category.text" type="text" name="category" autocomplete="off" spellcheck="true" required/>
		<input class="pB accent" ng-if="catrenameForm.$dirty && catrenameForm.$valid" type="submit" name="submit" value="Rename"/>
	</form>
</div>
