<div class="floatingCW main clickable" ng-click="addNew()" ng-if="admin.restriction == 'senior'">
	<p class="pM">Validation Needed</p>
</div>
<div class="floatingCW clickable" ng-dblclick="approve($index)" ng-mousedown="delete($index)" ng-mouseup="stopD($index)" ng-repeat="company in valneed track by $index" ng-if="admin.restriction == 'senior'">
	<p class="pS invalid" ng-bind="company.text"></p>
	<div class="del" style="width: {{company.held}}%"></div>
</div>
<hr class="dM" ng-if="admin.restriction == 'senior'"/>
<hr class="dM" ng-if="admin.restriction == 'senior'"/>


<div class="floatingCW main clickable" ng-click="addNew()">
	<p class="pM">Add company</p>
</div>
<div class="floatingCW clickable" ng-repeat="company in toAdd track by $index">
	<form name="catForm" ng-submit="addToCats($index)">
		<input class="pE pS" placeholder="Team Nickname" ng-blur="addToCats($index)" ng-model="toAdd[$index]" type="text" name="company" autocomplete="off" spellcheck="true" required/>
	</form>
</div>
<hr class="dM" />
<hr class="dM" />
<div class="floatingCW main">
	<p class="pM">Companies</p>
</div>
<hr class="dM" />
<div class="floatingCW" ng-repeat="company in companiesData track by $index">
	<p class="pS" ng-bind="company.text" ng-class="{invalid : !company.validated}" ng-if="admin.restriction == 'junior'"></p>
	<input class="pE pS" ng-if="admin.restriction == 'senior'" placeholder="Company Name" ng-model="company.text" type="text" ng-class="{invalid : !company.validated}" name="company" autocomplete="off" spellcheck="true"/>
</div>
