<div class="floatingCW main">
	<p class="pM">News & Updates</p>
</div>
<hr class="dM" />
<div class="floatingCW clickable" ng-click="un.expanded = !un.expanded" ng-repeat="un in api.updatesNews track by $index">
	<p class="pS"><b ng-bind="un.heading"></b></p>
	<p class="pS" ng-show="un.expanded" ng-bind-html="un.body"></p>
	<p class="pS">Date Added: {{un.date | date : 'MM-dd-yyyy'}}</p>
</div>
