<div class="floatingCW main">
	<p class="pM"><span>${{EST_REV}}</span>Estimated Revenue USD</p>
</div>
<hr class="dM" />
<div class="analyticContainer">
	<canvas id="income_bar_graph" class="analytic" width="300" height="300"></canvas>
	<canvas id="mem_bar_graph" class="analytic" width="300" height="300"></canvas>
</div>
<div class="floatingCW main">
	<p class="pM"><span>${{EST_LOSS}}</span>Estimated Claimed USD</p>
</div>
<hr class="dM" />
<div class="analyticContainer">
	<canvas id="reward_bar_graph" class="analytic" width="300" height="300"></canvas>
</div>
