<div class="floatingCW main">
	<p class="pM">Most Recent</p>
</div>
<hr class="dM" />
<div class="floatingCW clickable" ng-click="report.expand = !report.expand" ng-repeat="report in recent">
	<p class="pS"><b>{{report.reporter}}</b> reported <b>{{report.reported}}</b> for {{report.reason}}</p>
	<p class="pS" ng-bind="report.more" ng-show="report.expand"></p>
</div>
<hr class="dM" />
<hr class="dM" />
<div class="floatingCW accent">
	<p class="pM">Most Important</p>
</div>
<hr class="dM" />
<div class="floatingCW clickable" ng-click="report.expand = !report.expand" ng-repeat="report in important">
	<p class="pS"><b>{{report.reporter}}</b> reported <b>{{report.reported}}</b> for {{report.reason}}</p>
	<p class="pS" ng-bind="report.more" ng-show="report.expand"></p>
</div>
