<div class="floatingCW main">
	<p class="pM">Users</p>
</div>
<div class="floatingCW">
	<input class="pE pS" type="text" ng-keyup="searchUser()" autocomplete="off" placeholder="User Username" ng-model="keywordU" name="username"/>
</div>
<hr class="dM" />
<div class="floatingCW clickable" ng-click="user.expand = !user.expand" ng-repeat="user in api.users track by $index">
	<p class="pS" ng-bind="user.username"></p>
	<p class="pS" style="justify-content:flex-start" ng-show="user.expand"><b>Fullname:</b>{{user.fullname}}</p>
	<p class="pS" style="justify-content:flex-start" ng-show="user.expand"><b>Email or Phone:</b>{{user.email_phone}}</p>
	<p class="pS" style="justify-content:flex-start" ng-show="user.expand"><b>Stacks:</b>{{user.stacks}}</p>
	<p class="pS" style="justify-content:flex-start" ng-show="user.expand"><b>Coins:</b>{{user.coins}}</p>
	<p class="pS" style="justify-content:flex-start" ng-show="user.expand && user.surveys.length > 0"><b>Surveys:</b><span ng-repeat="survey in user.surveys track by $index"><a class="link" href="{{survey}}">{{$index}}</a></span></p>
	<p class="pS" style="justify-content:flex-start" ng-show="user.expand && user.polls.length > 0"><b>Polls:</b><span ng-repeat="poll in user.polls track by $index"><a class="link" href="{{poll}}">{{$index}}</a></span></p>
	<p class="pS" style="justify-content:flex-start" ng-show="user.expand"><b>Member Since:</b>{{user.since}}</p>
</div>
<hr class="dM" />
<div class="floatingCW main">
	<p class="pM">Teams</p>
</div>
<div class="floatingCW">
	<input class="pE pS" type="text" ng-keyup="searchTeam()" autocomplete="off" placeholder="Team Nickname" ng-model="keywordT" name="nickname"/>
</div>
<hr class="dM" />
<div class="floatingCW clickable" ng-click="team.expand = !team.expand" ng-repeat="team in api.teams track by $index">
	<p class="pS" ng-bind="team.nickname"></p>
	<p class="pS" style="justify-content:flex-start" ng-show="team.expand"><b>Name:</b>{{team.name}}</p>
	<p class="pS" style="justify-content:flex-start" ng-show="team.expand"><b>Fullname:</b>{{team.fullname}}</p>
	<p class="pS" style="justify-content:flex-start" ng-show="team.expand"><b>Email or Phone:</b>{{team.email_phone}}</p>
	<p class="pS" style="justify-content:flex-start" ng-show="team.expand"><b>Team Creation Date:</b>{{team.since}}</p>
</div>
