<canvas id="lineGraphTLI" style="margin:0 auto;display: block" class="analytic" width="450" height="450"></canvas>
<div class="floatingCW main">
	<p class="pM">Updates in Past<span contenteditable="true" class="editable">30</span>min Starting<span class="clickable editable" ng-click="update(0)">{{now[0]}}</span></p>
</div>
<hr class="dM" />
<div class="analyticContainer">
	<canvas id="lineGraphQC" class="analytic" width="250" height="250"></canvas>
	<canvas id="lineGraphNC" class="analytic" width="250" height="250"></canvas>
	<canvas id="lineGraphQA" class="analytic" width="250" height="250"></canvas>
</div>
<div class="floatingCW main">
	<p class="pM">User Updates in Past<span contenteditable="true" class="editable">30</span>min Starting<span class="clickable editable" ng-click="update(1)">{{now[1]}}</span></p>
</div>
<hr class="dM" />
<div class="analyticContainer">
	<canvas id="lineGraphPC" class="analytic" width="250" height="250"></canvas>
	<canvas id="lineGraphRC" class="analytic" width="250" height="250"></canvas>
	<canvas id="lineGraphPU" class="analytic" width="250" height="250"></canvas>
</div>
<hr class="dM" />
<div class="floatingCW main">
	<p class="pM">Team Updates in Past<span contenteditable="true" class="editable">30</span>min Starting<span class="clickable editable" ng-click="update(2)">{{now[2]}}</span></p>
</div>
<div class="analyticContainer">
	<canvas id="lineGraphTC" class="analytic" width="250" height="250"></canvas>
	<canvas id="lineGraphMA" class="analytic" width="250" height="250"></canvas>
	<canvas id="lineGraphTU" class="analytic" width="250" height="250"></canvas>
</div>
