/*
  *
  * SESSION
  *
*/

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#view {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#delAccount {
  background-color: red;
  color: white;
  font-size: 18px;
  height: 65px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#delAccountInt {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 18px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  text-align: center;
}

#delAccountInt::-webkit-input-placeholder {
  color: white;
}
#delAccountInt::-moz-placeholder {
  color: white;
}
#delAccountInt:-ms-input-placeholder {
  color: white;
}
#delAccountInt:-moz-placeholder {
  color: white;
}

hr.dM {
  position: relative;
  width: 100%;
  height: 1px;
  background: transparent;
  border-color: transparent;
  margin-top: 25px;
  margin-bottom: 25px;
}

.columnContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  padding: 0;
  justify-content: flex-start;
}

.column {
  position: relative;
  margin-left: 1.66%;
  margin-right: 1.66%;
  list-style: none;
  list-style-type: none;
  display: inline-flex;
  padding: 0;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 30%;
  min-width: 250px;
}

.qAnswerURL {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  background: transparent;
  left: 0;
  top: 0;
}

.q-item {
  cursor: pointer;
  background: #fff;
  box-shadow: 0 1px 2px #aaa;
  border-radius: 5px;
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  margin-bottom: 15px;
}

.q-item-b {
  cursor: pointer;
  background: #fff;
  box-shadow: 0 1px 2px #aaa;
  border-radius: 5px;
  flex-basis: calc(90% / 5);
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  height: 200px;
  position: relative;
  top: 0;
}

.q-item:hover, .q-item-b:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.q-img {
  border-radius: 5px 5px 0 0;
  position: relative;
  height: auto;
  width: 100%;
}

.q-img-b {
  border-radius: 5px 5px 5px 5px;
  position: relative;
  height: 200px;
  width: 100%;
}

.q-title {
  width: 90%;
  margin: 0;
  text-align: center;
  position: relative;
  color: #2C3E50;
  font-size: 18px;
  margin-left: 5%;
  margin-right: 5%;
}

.q-desc {
  width: 100%;
  position: relative;
  margin: 0;
  margin-top: 12.5px;
  text-align: center;
  font-size: 14px;
  color: #2C3E50;
}

.q-desc.option {
  color: red;
  cursor: pointer;
  z-index: 1;
  margin-top: 14.5px;
  margin-bottom: 16.5px;
  font-size: 18px;
  position: relative;
}

.q-desc.option.left {
  color: green;
  cursor: pointer;
  z-index: 1;
  margin-top: 14.5px;
  margin-bottom: 28.5px;
  font-size: 18px;
  float: left;
  left: 0;
  width: 50%;
}

.q-desc.option.right {
  color: red;
  cursor: pointer;
  z-index: 1;
  margin-top: 14.5px;
  margin-bottom: 28.5px;
  font-size: 18px;
  float: right;
  left: 0;
  width: 50%;
}

.q-desc.option.left:hover, .q-desc.option.right:hover{
  font-size: 20px;
}

.q-item-bottom {
  padding: 10px;
  height: auto;
  position: relative;
}

#main_section {
  padding: 0;
  position: relative;
  min-height: 90%;
  height: auto;
  width: 65%;
  margin: 0 auto;
  top: 8%;
  margin-bottom: 1%;
  display: block;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden;
  background: #fff;
  border-radius: 5px 5px 5px 5px;
}

#creator_fab {
  right: 15px;
  bottom: 15px;
}

#survey_c {
  right: 15px;
  bottom: 80px;
  display: none;
}

#poll_c {
  right: 15px;
  bottom: 145px;
  display: none;
}

.fab {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000000000;
  box-shadow: 0px 1px 10px 0px #2c3e50;
}

.fab:hover {
  background-color: #29c766;
  border: 1px solid #29c766;
}

.fab_link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab_add {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 34px;
  font-weight: 1;
  outline: none;
}

.linkBoxContainer {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
}

.linkST {
  height: 55%;
  width: 100%;
  position: absolute;
  z-index: 100;
}

.linkSB {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}

.spanm {
  margin-left: 5px;
  margin-right: 5px;
}

.linkRT {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  mix-blend-mode: luminosity;
}

.linkRB {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}

.buttonDisabled {
  cursor: not-allowed !important;
  background-color: auto !important;
}

.buttonDisabled:hover {
  background-color: transparent !important;
  color: #2c3e50 !important;
}

.buttonLoading {
  cursor: progress !important;
}

.analytic_container {
  width: 720px;
  height: 360px;
  background-color: #f4f4f4;
  margin: auto;
}

.analyticHeader {
  font-size: 18px;
  padding-top: 20px;
  color: #2C3E50;
  text-align: center;
  position: relative;
}

.aHeader {
  height: auto;
  position: relative;
  width: 92%;
  font-size: 22px;
  padding: 0.25%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  align-items: center;
}

#image_url_list {
  margin-bottom: 12.5px;
}

.bstart {
  justify-content: flex-start;
}

.bmiddle {
  justify-content: center;
}

.bend {
  justify-content: flex-end;
}

.fives {
  flex-basis: calc(90% / 5);
}

.fours {
  flex-basis: calc(92% / 4);
}

.threes {
  flex-basis: calc(94% / 3);
}

.twos {
  flex-basis: calc(96% / 2);
}

.singles {
  flex-basis: calc(98% / 1);
}

.Wrapper {
  height: 250px;
  width: 200px;
  background: transparent;
  display: block;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

.board {
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  transition: left 0.5s, opacity 0.5s;
}

.floatingCW {
  width: 80%;
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  height: auto;
  background: white;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 2px #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.floatingCW:empty {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.floatingCW:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.pH {
  position: relative;
  display: flex;
  font-size: 20px;
  height: 50px;
  margin: 0;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.pHd {
  display: block;
  width: 30px;
  height: 3px;
  background: #2ecc71;
  margin: 0 auto;
  position: relative;
  margin-top: 4px;
  margin-bottom: 12.5px;
}

.pM {
  height: 100px;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.pM.f-22 {
  font-size: 22px;
}

.pS {
  position: relative;
  width: calc(100% - 20px);
  margin: 0;
  padding: 0;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.pS.error {
  color: red;
}

.pURLA {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pF {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.clickable {
  cursor: pointer;
}

#leave_team {
  color: red;
}

.pL {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}

.pST {
  position: relative;
  width: 90%;
  margin: 0;
  padding: 0;
  height: 50px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pI {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
  position: relative;
  height: 50px;
  width: 150px;
  margin-left: 5%;
  margin-right: 5%;
  outline: none;
  border: none;
  font-size: 18px;
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: all 500ms;
}

.pI:focus {
  width: 90%;
  border-bottom: 2px solid #2c3e50;
}

.pI:focus.ng-valid.ng-dirty {
  width: 90%;
  border-bottom: 2px solid #2c3e50;
}

.pI.ng-invalid.ng-dirty {
  width: 90%;
  border-bottom: 2px solid red;
  animation: invalidInput 300ms;
}

@keyframes invalidInput {
  0%, 100% { left: 0px;}
  20% , 60%{left: 5px;}
  40% , 80%{left: -5px;}
}

@-moz-keyframes invalidInput {
  0%, 100% { left: 0px;}
  20% , 60%{left: 15px;}
  40% , 80%{left: -15px;}
}

@-webkit-keyframes invalidInput {
  0%, 100% { left: 0px;}
  20% , 60%{left: 15px;}
  40% , 80%{left: -15px;}
}

.PSB {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 65px;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 5px !important;
  font-size: 18px;
  margin-bottom: 12px;
  background: transparent;
}

.PSB:hover {
  cursor: pointer;
  color: white;
  background: #2ecc71;
}

canvas.chart{
  margin: 0.5%;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px #aaa;
}

canvas.chart:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

canvas.background {
  position: fixed;
  top: 7%;
  left: 0;
  z-index: -1;
}

.arrow_back {
  color: #2C3E50;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
  cursor: pointer;
}

.download {
  color: #2C3E50;
  position: absolute;
  right: 20px;
  float: right;
  top: 20px;
  cursor: pointer;
}

.download_as {
  position: relative;
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
  height: 100%;
  border-radius: 5px;
  color: white;
  opacity: 1;
  height: 50px;
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.download_asfc {
  display: flex;
  height: 45px;
  position: relative;
  width: 92%;
  padding: 0.25%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 4%;
  margin-right: 4%;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  list-style-type: none;
  opacity: 1;
  align-items: center;
}

.download_as:hover:not([disabled]),  .download_f:hover:not([disabled]) {
  border-color: #2c3e50 !important;
  background-color: #2c3e50;
}

.download_as:disabled, .download_f:disabled {
  cursor: progress !important;
}

.doln {
  background-color: #2c3e50 !important;
  border-color: #2c3e50 !important;
}

.download_f {
  position: relative;
  background-color: #2ecc71;
  height: 100%;
  border-radius: 5px;
  color: white;
  opacity: 1;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

#analyticsBoard {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

.board_ms {
  height: auto;
  position: relative;
  width: 92%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.responses {
  height: auto;
  position: relative;
  width: 92%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-right: 4%;
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.responses_u {
  height: auto;
  position: relative;
  width: 92%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 2%;
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.response_q_c {
  width: 100%;
  height: auto;
  position: relative;
}

.response_q {
  width: 100%;
  height: 30px;
  font-size: 16px;
  text-indent: 20px;
  display: flex;
  margin: 0;
  align-items: center;
}

.icon {
  position: absolute;
  right: 15px;
  top: calc(50% - 12px);
  cursor: pointer;
  float: right;
  color: #2c3e50;
}

.response_q_i {
  width: 100%;
  height: auto;
  font-size: 14px;
  min-height: 40px;
  text-indent: 20px;
  display: flex;
  align-items: center;
}

.board_s {
  height: auto;
  position: relative;
  width: 92%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.board_tool {
  position: relative;
  float: left;
  left: 0;
  margin: 0.5%;
  padding: 10px;
  border-radius: 5px;
  background: white;
  height: 100px;
  width: 250px;
  box-shadow: 0 1px 2px #aaa;
}

.board_tool:hover, .board_tool_s:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.board_tool_s {
  position: relative;
  float: left;
  left: 0;
  margin: 0.5%;
  padding: 10px;
  border-radius: 5px;
  background: white;
  height: 90px;
  width: 250px;
  box-shadow: 0 1px 2px #aaa;
}

.tool_header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 30%;
}

.tool_subH {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin: 0;
  padding: 0;
  height: 70%;
}

.slideIn {
  left: 0;
  opacity: 1;
}

.slideOut {
  left: -100%;
  opacity: 0;
}

.main_list {
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

.question_type {
  position: relative;
  margin: 0;
  padding: 0;
  height: 60px;
  display: flex;
  font-size: 18px;
  align-items: center;
  width: calc(100% - (300px + 4%));
  margin-left: calc(150px + 2%);
  margin-right: calc(150px + 2%);
}

.question_response {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.q_attr {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.add_item {
  font-size: 18px;
  color: #2ecc71;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 50px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  width: 96%;
}

.question_item {
  font-size: 16px;
  color: #2ecc71;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 40px;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}

.question_item_d {
  display: flex;
  align-items: center;
  min-height: 60px;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  position: relative;
}


.question_list_d {
  display: block;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 160px;
  overflow-y: auto;
}

.settingsT {
  font-size: 16px;
}

.settingsAccountItem {
  position: relative;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
  display: flex;
  min-height: 50px;
  align-items: center;
}

.settingsAccountItemT {
  position: relative;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
  display: flex;
  height: 40px;
  align-items: center;
}

.cToggleText {
  float: left;
  position: relative;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  white-space: nowrap;
}

.cToggle {
  float: right;
  position: absolute;
  right:0;
  border: none;
  width: 80px;
  height: 30px;
  outline: none;
}

.settingsAccountLink {
  position: relative;
  width: auto;
  display: flex;
  color: #2ecc71;
  height: 40px;
  background: transparent;
  margin: 0 auto;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 18px;
}

.settingsAccountLinkA {
  position: relative;
  width: 95%;
  padding-left: 5%;
  display: flex;
  color: #2ecc71;
  height: 40px;
  margin: 0;
  align-items: center;
}

.cInfoInput.ng-invalid.ng-dirty {
  border-bottom: 2px solid red;
  width: 100%;
  animation: invalidInput 300ms;
}

.cInfoInput {
  position: relative;
  border: none;
  border-bottom: 2px solid transparent;
  height: 35px;
  transition: all 700ms;
  outline: none;
  width: 200px;
}

.cInfoInput.ng-not-empty  {
  width: 90%;
}

.cInfoInput:focus {
  border-bottom: 2px solid #2ecc71;
  width: 100%;
  transition: all 500ms;
}

.sLink {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.sLinkA {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}

.question_cat_item {
  margin-left: 2%;
  width: 98%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  cursor: pointer;
  text-indent: 2%;
  white-space: nowrap;
}

.question_cat_item_i {
  margin-left: 2%;
  width: 98%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  cursor: pointer;
  text-indent: 2%;
  position: relative;
  white-space: nowrap;
}

.question_cat_item:hover {
  background-color: #ccc;
}

.response_input.ng-not-empty {
  width: 100%;
}

.details_response_cat {
  position: relative;
  float: left;
  left: 0;
  width: calc(98% - 30px);
  height: 35px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #757575;
  display: flex;
  text-overflow: clip;
  overflow: auto;
  white-space: nowrap;
  align-items: center;
}

._dRI {
  position: relative;
  float: right;
  right: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 20px;
  cursor: pointer;
  color: #2ecc71;
}

.response_input {
  width: 40%;
  min-width: 150px;
  height: 35px;
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  transition: all 0.5s;
}

.response_input.response_qr:focus {
  width: calc(100% - 80px);
}

.response_input:focus {
  width: 100%;
  border-bottom: 2px solid #2ecc71;
}

.response_input.ng-dirty.ng-invalid {
  width: 100%;
  border-bottom: 2px solid red;
  animation: invalidInput 300ms;
}

.remove_item {
  width: 80px;
  position: absolute;
  right: 0;
  float: right;
  height: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 0%;
  color: #2c3e50;
}

.checkbox_type {
  position: absolute;
  right: 2%;
  float: right;
  top: 25px;
  opacity: 0;
  z-index: 1000000;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.checkbox_type:checked + .checkbox_type_c {
  background-color: #2ecc71;
  color: white;
  transition: all 0.1s;
}

.checkbox_type_c {
  color: transparent;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2ecc71;
  float: right;
  top: 25px;
  padding: 0;
  margin: 0;
}

.checkbox_item_container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.item_questions {
  position: relative;
  width: 90%;
  margin: 0;
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
  display: block;
  list-style: none;
  list-style-type: none;
}

.response_item {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 40px;
  width: 100%;
  cursor: pointer;
  color: #2ecc71;
}

.checkbox_response {
  position: relative;
  width: 100%;
  height: 60px;
}

.checkbox_response_item_container {
  position: relative;
  float: left;
  width: 15px;
  height: 15px;
  top: 22.5px;
}

.checkbox_response_item {
  position: absolute;
  left: 0%;
  opacity: 0;
  z-index: 1000000;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#dash_chartC {
  width: 92%;
  position: relative;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.payment_item_f {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 60px;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  position: relative;
}

.checkbox_response_item_container_p {
  position: relative;
  float: right;
  width: 15px;
  height: 15px;
  margin-left: 2px;
  margin-right: 2px;
}

.checkbox_response_item:checked + .checkbox_response_c {
  background-color: #2ecc71;
  color: white;
  transition: all 0.1s;
}

.checkbox_response_c {
  color: transparent;
  width: 15px;
  height: 15px;
  float: left;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2ecc71;
  padding: 0;
  margin: 0;
}

.response_item_input {
  width: 30%;
  height: 35px;
  float: left;
  left: 10px;
  top: 12.5px;
  position: relative;
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

.response_item_input:focus {
  width: calc(100% - 125px);
  border-bottom: 2px solid #2ecc71;
  transition: all 0.5s;
}

.c {
  top: 11px;
  margin-right: 0%;
}

._bS {
  right: 130px;
  top: auto;
}

.toggle_display:checked + .slider {
  background-color: #2ecc71;
}

.toggle_display:focus + .slider {
  box-shadow: 0 0 1px #2ecc71;
}

.radio_display {
  position: absolute;
  float: right;
  right: 2%;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  top: 22.5px;
}

.radio_input {
  opacity: 0;
  cursor: pointer;
}

.radio_check {
  color: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  cursor: pointer;
}

.radio_input:checked + .radio_check {
  color: white;
}

.profileTheme {
  position: relative;
  min-height: 250px;
  max-height: 300px;
  width: 100%;
}

.themeImg {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  min-height: 250px;
  max-height: 300px;
  height: auto;
}

.inpM {
  position: relative;
  left: 0;
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  height: 40px;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: all 500ms;
}

.inpM:focus {
  width: 90%;
  border-bottom: 2px solid #2ecc71;
}

.inpM.ng-touched.ng-dirty {
  width: 90%;
}

.stats_container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.profilePictureContainer {
  width: 200px;
  height: 220px;
  border-radius: 50%;
  position: relative;
  border: 1px solid transparent;
}

.profilePicture {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  top: 10px;
}

._fRI {
  color: #2ecc71;
  position: absolute;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  float: right;
  right: 2%;
  top: 0;
  width: 20px;
}

.totalCoinsContainer {
  width: 200px;
  height: 220px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalStacksContainer {
  width: 200px;
  height: 220px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalCoinsAmount:hover, .totalStacksAmount:hover {
  opacity: 1;
}

.totalCoinsAmount:hover + img, .totalStacksAmount:hover + img {
  opacity: 0.6;
}

.coinImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  opacity: 1;
  display: inline-block;
}

.stackImage {
  width: 140px;
  height: 60px;
  opacity: 1;
  display: block;
}

.ytc {
  text-align: center;
}

.totalCoinsAmount {
  position: absolute;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 32px;
  color: white;
  opacity: 0;
  margin: 0;
  z-index: 1;
  padding: 0;
}

.totalStacksAmount {
  position: absolute;
  width: 140px;
  height: 60px;
  z-index: 1;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 32px;
  color: white;
  margin: 0;
  padding: 0;
}

.profileInfo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}

.contactI {
  height: 80px;
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contactImg {
  position: relative;
  height: 60px;
  width: 60px;
  top: 0;
  left: 0;
}

#stacks_total {
  background-image: url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_40/v1515269550/constants/stacks_cash.png"),
 url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_40/v1515269550/constants/stacks_cash.png");
 background-size: auto;
 background-repeat: no-repeat;
 background-position: 10px center, right 10px center;
}

#coins_total {
  background-image: url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_40/v1515132992/constants/coin.png"),
 url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_40/v1515132992/constants/coin.png");
 background-size: auto;
 background-repeat: no-repeat;
 background-position: 40px center, right 40px center;
}

/*

  TOOLBAR

*/

.notifications_amount {
  position: absolute;
  color: red;
  font-size: 10px;
}

.notification_d {
  height: 100%;
  width: 100%;
}

.active_link {
  cursor: default !important;
  opacity: 0.5;
}

.hide_outline {
  opacity: 0 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.bl_nv[label="settings"] {
  color: #333 !important;
}

.bl_notif[label="notifications"] {
  color: #333 !important;
}

#stc {
  display: flex;
  text-indent: 20px;
  align-items: center;
  cursor: pointer;
}

#toolbar {
  position: fixed;
  height: 7%;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  opacity: 1;
  float: right;
  background-color: #2ecc71;
  min-height: 50px;
  max-height: 80px;
  transition: height 500ms, opacity 500ms;
}

#toolbar_header {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-size: 22px;
  cursor: default;
}

#navExpand {
  position: absolute;
  color: white;
  z-index: 1000;
  cursor: pointer;
  top: 12.5px;
  left: 0.75rem;
  display: none;
}

._order {
  display: flex;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  min-height: 60px;
  position: relative;
  margin-bottom: 12.5px;
  border: none;
  background: transparent;
  border-radius: 5px !important;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

._order:hover {
  background-color: #2ecc71;
  color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.side-nav-block {
  display: block !important;
}

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100%;
  display: block;
  background: #2ECC71;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  overflow: auto;
  z-index: 3;
  box-shadow:  0px 4px 10px #333;
  font-size: 14px;
}

.side-nav:hover {
  width: 15.2rem;
}

.side-nav:hover #pfp_container {
  margin-left: 6rem;
  margin-top: 1rem;
}

.side-nav:hover .hiddenDrawer {
  opacity: 1;
}

.side-nav:hover .container {
  visibility: visible;
  margin-top: 1rem;
}

#drawer_header {
  display: block;
  margin: 0;
  padding: 0;
  height: 150px;
  width: 100%;
  position: relative;
}

#pfp_container {
  display: block;
  float: left;
  height: 3rem;
  width: 3rem;
  position: relative;
  margin-left: 0.5rem;
  margin-top: 3rem;
  border-radius: 50%;
  transition: all 300ms;
}

#pfp {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.hiddenDrawer {
  opacity: 0;
}

.container {
  visibility: hidden;
  margin-top: -10px;
}

/* items in nav */
.side-nav > .drawer_item-holder {
  display: table;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 15.2rem;
  position: relative;
}

.side-nav > .drawer_item-holder > .drawer_item {
  display: table-row;
  background: #27AE60;
  cursor: pointer;
  color: white;
}

.side-nav > .drawer_item-holder > .drawer_item:hover {
  background: #27ae60;
  opacity: 0.5;
}

.side-nav > .drawer_item-holder > .drawer_item > .drawer_item-icon, .drawer_item-name {
  height: 3rem;
  line-height: 3rem;
  display: table-cell;
}

.side-nav > .drawer_item-holder > .drawer_item > .drawer_item-icon:nth-child(1), .drawer_item-name:nth-child(1) {
  width: 3.5rem;
  text-align: center;
}

.side-nav > .drawer_item-holder > .drawer_item > .drawer_item-icon:nth-child(2), .drawer_item-name:nth-child(2) {
  width: 10.5rem;
  text-align: left;
  padding-left: 0.7rem;
}

#imageLink {
  margin-left: 2%;
  margin-right: 2%;
}

.spanned {
  color: #2c3e50;
}

.imageFile {
  width: 50%;
  height: 35px;
  font-size: 15px;
  outline: none;
  border: none;
  margin-left: 2%;
  margin-right: 2%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: start;
  text-indent: 0;
  color: #757575;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

.imageFile.s {
  margin-left: 0;
  margin-right: 0;
  width: 90%;
  height: 100%;
  left: auto;
}

.imageFile.h {
  opacity: 0;
}

@media (max-width: 500px) {

  .side-nav {
    width: 3.5rem;
  }

  .side-nav > .drawer_item-holder > .drawer_item > .drawer_item-icon:nth-child(1), .drawer_item-name:nth-child(1) {
    width: 3rem;
  }

  #pfp_container {
    width: 3rem;
    height: 3rem;
    margin-left: 0.25rem;
  }

  #main_section {
    width: calc(100% - 3.5rem);
    left: 3.5rem;
    margin-left: 0px;
    margin-right: 0px;
    background: transparent;
  }

  #toolbar_header {
    font-size: 18px;
  }

  .floatingCW {
    box-shadow: none;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  .pH {
    font-size: 18px;
  }

  .settingsT {
    font-size: 14px;
  }

  .pM {
    height: 75px;
    font-size: 14px;
  }

  .pS {
    font-size: 14px;
  }

  .floatingCW:hover {
    box-shadow: none;
  }

  .material-icons.md-24 {
    font-size: 20px;
  }

  .drawer_item-name {
    font-size: 14px;
  }

  canvas {
    display: none;
  }

  .themeImg {
    display: none;
  }

  .inpM {
    font-size: 14px;
  }

  .contactI {
    height: 60px;
  }

  #stacks_total {
    background-image: url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_25/v1515269550/constants/stacks_cash.png"),
   url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_25/v1515269550/constants/stacks_cash.png");
  }

  #coins_total {
    background-image: url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_25/v1509897827/constants/coin.png"),
   url("https://res.cloudinary.com/survey-stacks/image/upload/c_scale,h_25/v1509897827/constants/coin.png");
  }

  .side-nav > .drawer_item-holder > .drawer_item:hover {
    background: none;
  }

  .response_input {
    font-size: 14px;
  }

  .details_response_cat {
    font-size: 14px;
  }

  .remove_item {
    width: 40px;
  }

  ._order {
    background-color: #2ecc71;
    color: white;
    box-shadow: none;
    font-size: 18px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .board {
    background-color: transparent;
    margin-top: 22.5px;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  .q-item-b {
    background-color: transparent;
    box-shadow: none;
    flex-basis: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
    box-shadow: none;
  }

  #analyticsBoard {
    margin-top: 22.5px;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  canvas.chart{
    margin-left: 5%;
    margin-right: 5%;
    height: 90% !important;
    width: 90% !important;
    box-shadow: none;
    padding: 15px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }

  .board_s, .board_ms {
    margin-top: 22.5px;
    margin-bottom: 22.5px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    box-shadow: none;
  }

  .board_tool, .board_tool_s {
    width: 100%;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    box-shadow: none;
  }

  .board.slideIn +  .board#viewBoard {
    display: none;
  }

  .arrow_back {
    z-index: 1;
    left: 30px;
    top: 30px;
  }

  .download {
    z-index: 1;
    right: 30px;
    top: 30px;

  }
}

@media (max-width: 400px) {
  .side-nav-block {
    display: none !important;
  }

  .side-nav {
    margin-top: 50px;
    box-shadow: 0px 6px 6px #333;
    width: 15.2rem;
    height: calc(100% - 50px);
    z-index: 10000000;
  }

  #pfp_container {
    margin-left: 6rem;
    margin-top: 1rem;
  }

  .hiddenDrawer {
    opacity: 1;
  }

  .container {
    visibility: visible;
    margin-top: 1rem;
  }

  #navExpand {
    position: absolute;
    color: white;
    z-index: 1000;
    cursor: pointer;
    top: 12.5px;
    left: 0.75rem;
    display: block;
  }

  #main_section {
    width: 100%;
    left: 0;
    margin-left: 0px;
    margin-right: 0px;
  }
}
